
/* ------------------ Global Styles ------------ */
$body-color: blue;
$main-text-color: #000;
$light-gray: #888888;
$dark-gray: #696969;

$title: #83c4d6;
$montserrat: 'Montserrat', sans-serif;
$roboto: 'Roboto', sans-serif;

/*change page colors here!*/
$orange: #F1861B;
$yellow: #F0BD53;
$blue: lightblue;
$green: #9BD5BB;
$purple: #A089CE;
$neutral: #997A65;

$twitter: #00aced;
$facebook: #3b5998;
$instagram: #bc2a8d;
$github: #6e5494;


$everyone: #000000;
$videographer: #34788D;
$reporter: #9A9A64;
$designdev: #AE5B53;
$coaches: #91C9AC;


$nav-height: 40px; //excludes padding
$mobile-nav-height: 50px; //includes padding
$nav-margs: 95px; //includes padding
