.text {
  &-row {
    padding-top: 5%;
    padding-bottom: 2%;
  }
}

#abouttitle {
  &-box {
    width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    flex-flow: wrap;
    text-align: center;
    text-transform: uppercase;
    padding-top: 10%;
    color: #fff;
    align-items: center;
    & .title-line{
      display: flex;
      flex-direction: column;
      & h1{
        font-weight: 100;
        font-size: 7em;
        color: #fff;
        line-height: 1.6em;
      }
      &-two{
        flex-wrap: wrap;
        text-transform: uppercase;
        font-size: 10em;
        font-weight: 900;
        margin-top: -5%;
        color: #fff;
      }
    }
  }
}

.left {
  &-box {
    padding-top: 1%;
  }
}

.center {
  &-wrapper {
    max-width: 80%;
  }
}

.team-nav {
  display: inline-block;
}

.portfolio {
  display: inline-block;
}

.mix img {
  border-radius: 50%;

}

.max-width {

}

.team-info {
  text-align: center;
}

.portfolio a, i {
  margin: 5px 0px;
  color: #616161;
}

.role {
  font-size: 14px;
  margin:5px 0px;
  line-height: 1em;
  color: #616161;
}
.socialmedia-about {
  padding-top:10px;
}
a.about-social-icon {
  color:$dark-gray;
}
.linkedin:hover {
    color: #0077B5 !important;
}
.portfolio:hover {
    color: $title;
    text-decoration: underline;
}

a.about-social-icon {
  color: #000;
}


.team-name {
  font-family:"quasimoda",sans-serif;
  font-size: 18px;
  margin: 2px 0px;
  line-height: 1em;
}

.team-info {
  margin: 20px 0px;
}

.team-nav {
line-height: 1.5em;
font-size: 18px;

}

.team-nav h3 {
  text-align: right;
  padding-bottom: 10px;
  font-weight: 100;
  border-bottom: 2px solid $title;
}

#team-photos .mixitup-control-active  {
  position: relative;
  font-weight: 700 !important;
}


.team-nav ul {
  list-style-type: none;
  padding: 0px;
  text-align: right;

}

.team-nav li {
    padding: 8px 0px 8px 30px;
    color: #616161;
    font-weight: 100;
}

.team-nav  li:hover {
  color: #000;
  font-weight: 400;
  cursor: pointer;
}




.about-video video {
  clip-path:circle();
}

.about-section {
  margin-top: 50px;
}

.about {
  margin-left: 15px;
  margin-right: 10px;
}

.about-background {
  width: 100%;
  height: 80vh;
  z-index: -2;
  background-image: url('../../assets/images/about-hero.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;
  position: relative;
}

@media only screen and (max-width: 1170px) {
  #abouttitle-box .title-line h1 {
    font-size: 6em !important;
  }

  #abouttitle-box .title-line-two {
    font-size: 8.5em !important;
  }
}

@media only screen and (max-width: 995px) {
  .team-nav ul {
    text-align: left;
  }
  .team-nav li {
    padding-left: 0px;
  }
  .team-nav h3 {
    text-align: left;
  }
}

@media only screen and (max-width: 1100px) {
  .title-line {
    width: 90%;
  }
}

@media only screen and (max-width: 768px) {
 .team-nav ul {
   display: inline-block;
   text-align: center;
 }
 .team-nav li {
   display: inline-block;
   padding: 8px 0px 8px 30px;
 }
 .team-nav h3 {
   text-align: center;
 }

}

@media only screen and (max-width: 900px) {

.title-line {
  width: 100%;
}
#abouttitle-box .title-line h1 {
  font-size: 4.1em !important;
}

#abouttitle-box .title-line-two {
  font-size: 6.0em !important;
}

}

@media only screen and (max-width: 700px) {
  #abouttitle-box .title-line h1 {
    font-size: 4.1em !important;
  }

  #abouttitle-box .title-line-two {
    font-size: 6.0em !important;
  }
}

@media only screen and (max-width: 580px) {
  #abouttitle-box .title-line h1 {
    font-size: 3.1em !important;
  }

  #abouttitle-box .title-line-two {
    font-size: 4.8em !important;
  }
}
