.spacerz{
  // height: 200px;
}
#imagesequence{
  margin-left: 80px;
  #myimg{
    width: 70%;
    height: auto;
  }
}
.side-title{
  padding-left: 60px;
  // padding-right: 10px;
  // text-align: center;
  h3{
    // font-size: 25pt;
  }
}
