.spacerzz{
  height: 100px;
}
#imagesequence{
  margin-left: 0px;
  #myimg{
    width: 90%;
    height: auto;
  }
}
.side-title{
  padding-left: 60px;
  // padding-right: 10px;
  // text-align: center;
  h3{
    // font-size: 25pt;
  }
}
