.spacerzz{
  height: 100px;
}
#imagesequence{
  margin-left: 0px;
  #myimg{
    width: 100%;
    height: auto;
  }
}
.side-title{
  padding-left: 60px;
  // padding-right: 10px;
  // text-align: center;
  h3{
    // font-size: 25pt;
  }
}
@media (max-width: 990px){
  .side-title{
    // padding: 20px;
    padding: 0px;
  }
}
