  .footer{
    & .item{

    }
    &-wrapper{
      padding-top: 2px;
      padding-bottom: 30px;
      background-color: #000000;
      margin-top: 25px;
      & img{
        margin: auto;
        display: block;
        padding-top: 40px;
        }
      }
    &-logo{
      width: 240px;
    }
    &-icons{
      display: flex;
      justify-content: center;
      flex-flow: nowrap;
      margin: auto;
      width: 22%;
      & img{
        width: 50px;
        padding: 5px 5px;
      }
    }
    & .centered{
      text-align: center;
    }
    & a{
      color: #fff;
      &:visited{
        color: #fff;
      }
    }
  }
.links{
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  margin-bottom: 15px;
  margin-top: 15px;
  font-weight: 100;
  & a{
    color: #fff;
    &:first-of-type{
      margin-right: 10px;
    }
    &:last-of-type{
      margin-left: 10px;
    }
    &:hover{
      text-decoration: none;
    }
  }
}

@media only screen and (max-width: 1160px) {
  .footer-wrapper img {
    padding-top: 0px;
  }

  .footer-wrapper {
    padding-bottom: 15px;
    margin-top: 15px;
  }

}
