@import '_vars';
@import '_include-media';

/* ------------------  Index ------------------ */
.homepage-icon-row{
  margin-top: 20px;
  .homepage-icon{
    height: 20%;
    width: auto;
    padding: 30px;
  }
}
.homepage-logo{
  width: 40%;
  height: auto;
}

.video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    display: block;
    margin-top: 0px;
}

.homepage-icon-row{
  margin-top: 20px;
  .homepage-icon{
    height: 170px;
    width: auto;
    padding: 50px;
    margin: 0px;
  }
}
.content {
    position: fixed;
    top: 0;
    left: 0;
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    text-align: center;
    margin-top: 60px;
}
.header{
  min-height: 500px;
}
.homepage{
  &-container{
    position: absolute;
    top: 50;
  }
}


.logo-in-corner{
  height: 20px;
  width: auto;
}
.navbar{
  background-color: black !important;

}
.navbar-toggler{
  background-color: white;
  text-align: right;
  margin-left: 170px;
}
.nav-item{
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
}
.nav-link{
  color: white !important;
  font-family: "quasimoda",sans-serif;
}
.mobile-nav-bar{
  width: inherit;
}
// .dropdown-pictures-nav{
//   background-color: black;
// }
// .dropdown-pictures-nav ul{
//   list-style-type: none;
//   margin-left: 100px;
// }
// .dropdown-pictures-nav ul li{
//   text-decoration: none;
//   display: inline-block;
//   margin-left: 42px;
//   margin-right: 30px;
//   text-align: center;
// }
h3{
  color: white;
  font-size: 10pt;
  font-family: "quasimoda",sans-serif;
  text-transform: uppercase;
}
h5{
  text-transform: uppercase;
  font-size: 8pt;
  color: gray;
}
// .dropdown-pictures-nav ul li img{
//   height: 40px;
//   width: auto;
//   margin-bottom: 10px;
// }
.es-and-about{
  color: white;
  margin-right: 10px;
  margin-top: 10px;
  text-align: center;
  a{
    color: white;
  }
}
