/* ------------------  HOMEPAGE ------------------ */
/* Homepage Background Image / Video Styles */
body, html {
  height:100%;
}
#navButton{
  background: transparent;
}
.homepage {
  background-image: url('../assets/images/option1.jpg');
  background-size: cover;
  background-repeat:no-repeat;
  height:100%;
  background-position:center;
  display:flex;
  flex-direction:column;
  overflow: hidden;
}
.video-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}
.video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  display: block;
  margin-top: 0px;
  width: 100%;
  height:100%;
}
@media (min-aspect-ratio: 16/9) {
  .video {
    height: 300%;
    top: -100%;
  }
}
@media (max-aspect-ratio: 16/9) {
  .video {
    width: 300%;
    left: -100%;
  }
}
@media (max-width: 992px) {
  .video-wrapper {
    background: url('../assets/images/option3.jpg') center center / cover no-repeat;
  }
  .video {
    display: none;
  }
}
/* Homepage Text Styles */
.homepage-header{
  font-weight: lighter;
  font-size: 15pt;
  text-align: center;
  color: white;
  text-transform: uppercase;
  margin-top: 10px;
  visibility: hidden;
}
.nav-icon{
  width: 55%;
  @include media('>=md'){
    display: none;
  }
}
.homepage-logo {
  margin-top:5%;
  text-align:center;
  height:100px;
  font-weight: 100;
  img {
    width: 29%;
  }
  p{
    position: relative;
    right: -32px;
    top: -6px;
  }
  @include media('<=md'){
    margin-top: 30vh;
    height: 100px;

    img{
      width: 52%
    }
    p{
      font-size: 1.7em;
      text-shadow: 1px 1px 15px #000000;
    }
  }
  @include media('<=sm') {
    img{
      width: 75%;
    }

    p{
      font-size: 0.75em;
right: -26px;
font-weight: 600;
    }
  }
}
.homepage-icon-row {
  display:flex;
  height:calc(100% - 100px);
  align-items:center;
  justify-content:center;
  ul {
    list-style-type: none;
      li {
      display: inline-block;
      padding-left: 50px;
      padding-right: 50px;
      a {
        img {
          transition-duration: 1s;
        }
      }
      a:hover {
        text-decoration: none;
      }
      a:hover .homepage-header {
        visibility: visible;
      }
      .homepage-icon {
        height: 120px;
        width: auto;
      }
    }
  }
  @include media('<=md') {
    display: none;
  }
}
.homepage-subtitle{
  color: white;
  font-size: 15pt;
  font-family: "quasimoda",sans-serif;
  font-weight: 300;
}


/* ------------------  NAV BAR ------------------ */

.logo-in-corner{
  height: 23px;
  width: auto;
  margin-left: 15px;
}

.logo-in-corner-index{
  height: 23px;
  width: auto;
  margin-left: 15px;
}

.navbar{
  background-color: black !important;
  height: 60px;
  @include media('>=md'){
      padding-right: 50px;
  }
  &-nav{
    margin: auto;
    width: 80%;
  }
  &-brand{
    margin-bottom: 5px;
  }
}

.nav-bar-wrapper {
  position: fixed;
  width: 100%;
  z-index: 3;
  transition-duration: 0.5s;
}
.nav-down{
    top: 0px;
}
.nav-up {
    top: -60px;
}
.navbar-nav {
  width:auto;
}
.navbar-nav {
  @include media('<=lg'){
    width: 97%;
    margin: auto;
  }
  @include media('<=md'){
    width: 97%;
    display: flex;
    margin: auto;
    flex-flow: wrap;
    justify-content: center;
  }
}

.hamburger-menu {
  display: inline-block;
  cursor: pointer;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 3px;
    margin: 7px 0;
    background-color: #fff;
    transition: 0.4s;
    transform-origin: 50% 50%;
}
/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 7px) ;
    transform: rotate(-45deg) translate(-9px, 7px) ;
}
/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}
/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -6px) ;
    transform: rotate(45deg) translate(-6px, -6px) ;
}
.navbar-toggler{
  border: none;
  color: white;
}
.nav-item{
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  @include media('<=sm'){
    width: 110px;
    margin-bottom: 20px;
  }
  @include media('<=iphone5'){
    width: 92px;
  }
  @include media('>=lg'){
    padding-left: 30px;
    padding-right: 30px;
  }
}
.nav-link{
  color: white !important;
  font-family: "quasimoda",sans-serif;
}
.navbar-collapse{
  margin-bottom: 5px;
  margin-top: 15px;
  margin-left: 10px;
  & .show{
    width: 100vw;
  }
}
.collapsing {
  display:none;
}

.collapse.show{
  position: fixed;
  display: block;
  width: 100vw;
  background-color: #000;
  height: 105vh;
  margin: 0;
  margin-top: -10px;
  padding-top: 100px;
}

.mobile{
  &-nav-bar{
    z-index: 1;
    @include media('<=sm'){
      height: 49px;
      margin-top: -7px;
    }
  }
  &-social-icons{
    img{
      width: 10vw;
      margin: 3px;
    }
    @include media('>=md'){
      display: none;
    }
  }
}
.navbar-light .navbar-toggler{
  margin-top: 19px;
  margin-left: 168px;
  @include media('<=lg'){
    margin-left: 110px;
  }
}
@media only screen and (max-width: 320px) {
  .navbar-light .navbar-toggler{
    margin-left: 55px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1020px){
  .navbar-toggler{
    position: absolute;
    right: 26px;
    top: 7px;
  }
  .logo-in-corner{
    position: absolute;
    left: 21px;
    bottom: 19px;
  }
  .logo-in-corner-index{
    position: absolute;
    left: 21px;
    bottom: 4px;
  }
  .es-and-about{
    display: none;
  }
}
.navbar-light .navbar-toggler-icon {
    background-image: url('../assets/images/hamburger-temp.png');
    &:focus{
      outline-color: transparent;
    }
}
.nav-header{
  color: white;
  font-size: 9pt;
  font-family: "quasimoda",sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin-top: 5px;
}
h5{
  text-transform: uppercase;
  font-size: 7pt;
  font-weight: lighter;
  // margin-bottom: 5px;
}

.es-and-about{
  color: white;
  text-align: center;
  float: right;
  a{
    color: white;
  }
  p{
    margin-bottom: 0px;
  }
  @include media('<=md'){
    position: fixed;
    display: none;
    bottom: 12%;
    z-index: 2;
    justify-content: space-around;
    width: 66%;
    align-items: center;
    flex-direction: column;
    p{
      font-size: 1.7em
    }
    img{
      width: 40px;
    }
  }
}
.sidebar {
  width: 100px;
  float: left;
  margin-left: 0px;
  position: absolute;
  left: 0px;
  ul {
    list-style-type: none;
    li {
      padding-top: 5px;
      padding-bottom: 5px;
      .social-icon{
      width: 30px;
      height: auto;
    }
  }
}
}
@media only screen and (max-width: 1160px) {
.homepage-icon-row ul li {
  padding-left: 20px;
  padding-right: 20px;
}
}

@media only screen and (max-width: 950px) {
  .homepage-icon-row {
    justify-content:center;
    ul {
      list-style-type: none;
        li {
        display: inline-block;
        width: 18%;
        .homepage-icon {
          padding: 20px;
        }
      }
    }

}
}

@media only screen and (min-width: 570px) and (max-width: 1020px) {
  .nav-icon{
    width: 30%;
  }
  .nav-item{
    width: 33%;
  }
}





// VIDEO video-slider-interactive

.mySlides {
  display:none
}
.w3-left, .w3-right, .w3-badge {
  cursor:pointer
}
.w3-badge {
  height:13px;
  width:13px;
  padding:0
}
.w3-display-container{
  // margin-top: 10px;
  margin-bottom: 50px;
}
.embed-container {
  position: relative;
  padding-bottom: 40.25%;
  height: 0;
  overflow: hidden;
  max-width: 80%;
  margin: auto;
}
.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 10.5%;
  left: 10.5%;
  width: 80%;
  height: 80%;
}
.explore-the-recovery{
  text-align: center;
  margin-top: 20px;
}
.w3-center{
  width:65%;
  margin:auto;
}
@media (max-width: 990px){
  .embed-container{
    max-width: 100%;
  }
  .embed-container iframe, .embed-container object, .embed-container embed {
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
  }
  .explore-the-recovery{
    margin-bottom: 30px;
  }
  .w3-center{
    margin-top: 20px;
  }
}
