@import '_vars';
@import '_include-media';

/* ------------------  HOMEPAGE ------------------ */
.homepage-header{
  font-family:"quasimoda",sans-serif;
  font-weight: lighter;
  font-size: 15pt;
  text-align: center;
  color: white;
  text-transform: uppercase;
  margin-top: 10px;
  visibility: hidden;
}
.homepage-logo{
  width: 20%;
  height: auto;
}
.video {
    position: absolute;
    // position: fixed;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    display: block;
    margin-top: 0px;
    width: 100%;
}
.homepage-icon-row {
  width: 100%;
ul{
  margin-top: 80px;
  list-style-type: none;
    li{
    display: inline-block;
    padding-left: 50px;
    padding-right: 50px;
      a{
        img{
          transition-duration: 1s;
        }
      }
      a:hover{
        text-decoration: none;
      }
      a:hover .homepage-header{
        visibility: visible;
      }
      .homepage-icon{
        height: 120px;
        width: auto;
      }
  }
}
}
.content {
    position: fixed;
    top: 0;
    left: 0;
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
}
.header{
  min-height: 500px;
}
.homepage{
  &-container{
    position: absolute;
    top: 50;
  }
}
.homepage-subtitle{
  color: white;
  font-size: 15pt;
  font-family: "quasimoda",sans-serif;
}


@media only screen and (max-width: 800px) {
   .video {
       width: 150%;
   }
}

/* ------------------  NAV BAR ------------------ */

.logo-in-corner{
  height: 20px;
  width: auto;
  margin-left: 15px;
  margin-top: 10px;
}
.navbar{
  background-color: black !important;
  height: 60px;
  // position: fixed;
  // transition: all 0.5s ease;
}
// .hidden{
//   transform: scale3d(0, -100%, 0);
// }
.navbar-toggler{
  background-color: white;
  margin-left: 170px;
}
.nav-item{
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}
.nav-link{
  color: white !important;
  font-family: "quasimoda",sans-serif;
}
.navbar-nav li:last-child{
  float: right;
}
.navbar-collapse{
  margin-bottom: 5px;
  margin-top: 15px;
  margin-left: 10px;
}
// .navbar-collapse{
//   margin: auto;
// }
// .megamenu {
//   height: 50px;
//   overflow:hidden;
//    transition: height 450ms;
//    -moz-transition: height 450ms;
//    -webkit-transition: height 450ms;
//   margin-left: 30px;
//   padding-right: 0px;
// }
// .megamenu:hover {
//   height:140px;
// }
// .mega-bottomrow {
// clear:both;
// }
// .dropdown-pictures-nav{
//   background-color: black;
// }
// .dropdown-pictures-nav ul{
//   list-style-type: none;
//   margin-left: 100px;
// }
// .dropdown-pictures-nav ul li{
//   text-decoration: none;
//   display: inline-block;
//   margin-left: 42px;
//   margin-right: 30px;
//   text-align: center;
// }
.nav-header{
  color: white;
  font-size: 9pt;
  font-family: "quasimoda",sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin-top: 5px;
}
h5{
  text-transform: uppercase;
  font-size: 7pt;
  font-weight: lighter;
  // margin-bottom: 5px;
}
// .dropdown-pictures-nav ul li img{
//   height: 40px;
//   width: auto;
//   margin-bottom: 10px;
// }
.es-and-about{
  color: white;
  // margin-left: 150px;
  margin-top: 25px;
  text-align: center;
  float: right;
  a{
    color: white;
  }
}


.sidebar {
  width: 100px;
  float: left;
  margin-left: 0px;
  position: absolute;
  left: 0px;
  ul {
    list-style-type: none;
    li {
      padding-top: 5px;
      padding-bottom: 5px;
      .social-icon{
      width: 30px;
      height: auto;
    }
  }
}
}
