@import '_vars';
@import '_include-media';

.inner {

  .center {
    &-wrapper {
      max-width: 80%;
      margin: 0 auto;
    }
  }

  #title {
    &-box {
      text-align: center;
      padding-top: 10%;
      & .title-line-two{
        text-transform: uppercase;
        font-size: 4em;
      }
    }
  }

  .byline {
    &-box {
      text-align: center;
      padding-bottom: 5%;
    }
  }

  .byline {
    &-item {
      font-size: 0.9em;
      display: inline-block;
      padding-left: 1%;
      padding-right: 1%;
      text-align: center;
      vertical-align: text-top;
      .byline {
        &-head {
          font-size: 0.9em;
          font-weight: bold;
        }
      }
    }
  }

  .vimeo {
    &-container {
      padding-left: 25%;
      padding-right: 25%;
      text-align: center;
    }
  }

  .pull {
    &-quote {
      &-box {
        padding-left: 15%;
      }
    }
  }

}
