
.text-row{
  margin-top: 50px;
}

.desk-title{
  max-height: 26vh;
  width: auto;
  margin: auto;
}
.phone-title{
  height: 30vh;
  margin: auto;
}
.inner {
  &-hero{
    display: flex;
    justify-content: center;
    padding: 0;
    & img{
      width: 100%;
      height: 100%;
    }
  }
  .text {
    &-row {
      padding-top: 5%;
      padding-bottom: 2%;
      // margin: 0 auto;
    }
  }

  #title {
    &-box {
      width: 85%;
      margin: auto;
      display: flex;
      justify-content: center;
      flex-flow: wrap;
      text-align: center;
      text-transform: uppercase;
      padding-top: 10%;
      color: $inner-title;
      position: absolute;
      align-items: center;
      & .title-line{
        display: flex;
        flex-direction: column;
        & h1{
          font-weight: 300;
          font-size: 4.25em;
        }
        &-two{
          flex-wrap: wrap;
          text-transform: uppercase;
          font-size: 7em;
          font-weight: 900;
          margin-top: -40px;
        }
      }
      & img{
        width: 120px;
        height: 120px;
        margin-right: 40px;
      }
    }
  }

  .left {
    &-box {
      padding-top: 1%;
    }
  }

  .center {
    &-wrapper {
      max-width: 80%;
    }
  }

.byline-box{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: left;
  padding-bottom: 5%;
  padding-top: 1%;
  color: purple;
}
  .byline {
    &-box {
      p{
        line-height: 1px;
        margin: 10px;

      }
    }
    &-item {
      font-size: 0.9em;
      display: block;
      text-align: left;
      vertical-align: text-top;
      margin-bottom: 2.3em;
    p{
      line-height: 1em;
      margin-top: 5px;
      margin-bottom: 10px;

      }
    }
    &-head {
      font-size: 0.9em;
      font-weight: bold;
    }
  }

  .vimeo {
    &-container {
      padding-left: 25%;
      padding-right: 25%;
      text-align: center;
    }
  }
}

.byline-item p.byline-head {
  margin-top: 5px;
}

  .pull-quote {
    text-align:left;
    font-family: $heading-font;
    font-weight: 100;
    color: $block-quote;
    font-size: 1em;
    line-height:1.3em;
  }
  .pull-quote-box .attribution {
    font-weight: 400;
    font-family: $heading-font;
    text-align:left;
    color: $block-quote;
    font-size: 0.7em;
  }

.interactive, .interactive-health {
  padding: 40px 0;
  margin: 20px 0;
}


@media only screen and (max-width: 766px) {
  .text {
    &-row {
      max-width: 90%;
      margin: 0 auto;
    }
  }

  .byline {
    &-box {
      text-align: center;
    }
  }

  .byline {
    &-item {
      text-align: center !important;
    }
  }

}


#byline {
  padding: 35px 0px;
}


#morphing {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: auto;
  z-index: 3;
}

#video_area {
  position: relative;

}

.video-snapper {
  top: 0px;
}

.polymorph_logo {
  transform-origin: center;
}

.polymorph {
  transform-origin: center;
}

#video-player-trigger {
  height: 100px;
}

.plyr__video-wrapper {
  z-index: 0;
}



.water {
  width: 100%;
  height: 100vh;
  z-index: -2;
  background-image: url('../../assets/images/water-hero.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pollution{
  width: 100%;
  height: 100vh;
  z-index: -2;
  background-image: url('../../assets/images/pollution-hero.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ecology{
  width: 100%;
  height: 100vh;
  z-index: -2;
  background-image: url('../../assets/images/ecology-hero.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.health{
  width: 100%;
  height: 100vh;
  z-index: -2;
  background-image: url('../../assets/images/health-hero.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.power{
  width: 100%;
  height: 100vh;
  z-index: -2;
  background-image: url('../../assets/images/power-hero.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.story-section {
  background-color: #fff;
  position: relative;
  top: 0px;
  padding-top: 30px;
}


.title-line {
  position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    color: $inner-title;
    position: absolute;
    align-items: center;
    width: 75%;
    @include media('<=sm'){
      top: 34%
    }
}


.title-line h1 {
  font-weight: 300;
  font-size: 6.25em;
}

.title-line-two {
  flex-wrap: wrap;
  text-transform: uppercase;
  font-size: 6.8em;
  font-weight: 900;
  line-height: 0.7em;
  margin-bottom: 0px;
}

.deck {
text-align: left;
color: #fff;
font-size: 20px;
position: relative;
margin: auto;
display: block;
width: 66%;
background-color: rgba(0, 0, 0, 0);
top: 70%;
opacity: 1;
animation-name: fadeInOpacity;
animation-iteration-count: 1;
animation-timing-function: ease-in;
animation-duration: 3s;
}
@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.icon img {
  vertical-align: middle;
  max-height: 80%;
   max-width: 100%;
   width: auto;
   height: auto;
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto;
}

.row {
  margin-right: 0px;

}

.plyr__control {
  color: #fff;
}

.plyr--video .plyr__controls .plyr__control:hover {
  background: $video;
}


.plyr__control--overlaid {
  background: $video;
}

.plyr__control--overlaid:hover {
  background: #70b8d5;
}

.plyr--full-ui input[type=range] {
  color: $video;
}

.ash-interactive-video{
  margin-bottom: 50px;
  margin-top: 50px;
}



@media only screen and (max-width: 800px) {


    .deck {
      font-size: 16px;
      bottom: 20%;
    }

    .deck p {
      position:absolute;
      bottom: -100px;
    }

    .inner .byline-item {
      padding: 0px 5px;
      display: inline-block;
      margin: 0px;
    }

    .byline-box {
      margin: 0px;
      margin-bottom: 30px;
      padding: 0px;
    }

    .col-md-7 {
      margin: 0px 25px;
    }

    .pull-quote-box {
      margin: 25px;
      text-align: center;
    }

    .pull-quote-box img {
      margin: auto;
      display: block;
    }

    .sidebar-icons {
      display: none;
    }
    #inner-body .row {
      padding: 0 20px!important;
    }
    #stepLinks.row{
      padding: 0 0px!important;
    }
    #byline.row.byline-row {
      padding: 0px !important;
      margin: 0px !important;
    }
    .inner-title{
      margin: auto;
    }
    #video-player-trigger {
      height: 20px;
    }

}



@media only screen and (max-width: 600px) {

    .icon {
      height: 100px;
    }

    .byline-item p {
      font-size: 9px;
      text-align: center;
        line-height: 0.7em !important;
    }

    .byline-item {
      padding: 0px 5px;
      line-height: 0.7em;

    }

    .inner .byline-head {
      font-size: 10px;
      text-align: center;
    }

    .water, .pollution, .ecology, .health, .power {
      background-attachment: scroll;
    }

    .deck {
      width: 90%;
      font-size: 15px;
    }
    .interactive {
      background: linear-gradient(#fff, #c7c6c6, #fff);
    }

    .line {
      border-bottom: solid 1px #ccc;
      margin-bottom: 30px;
    }
    .line.number31 {
      display: none;
    }
    .line.number26 {
      display: none;
    }
}

// Individual title treatments

#water-header{
  .title-line-two{
    font-size: 9.3em;
    @include media('<=sm'){
      font-size: 4.45em;
    }
  }
    h1{
      @include media('<=sm'){
        font-size: 3em;
      }

  }
}

#health-header{
    h1{
      min-width: 103%;
      @include media('<=sm'){
        font-size: 2.5em;
      }
    }
    & .title-line-two{
      font-size: 10.7em;
      line-height: 0.57em;
      @include media('<=sm'){
        font-size: 4.25em;
      }
    }
}

.health{
  .title-line{
    .offset-sm-1{
      margin-left: 3.333333%;
    }
  }
}

#ecology-header{
  h1{
      font-size: 7em;
      line-height: 1em;
      @include media('<=sm'){
        font-size: 3em;
      }
  }
  .title-line-two{
    @include media('<=sm'){
      font-size: 2.87em;
    }
  }
}
///

/// Coal ash videos

.ash-interactive-video{
  width: 98.8vw;
}
a{
  color: $block-quote;
  &:hover{
    color: #206442;
    text-decoration: none;
  }
}

// 360 styles
