.text-row{
  margin-top: 50px;
}

.inner {
  &-hero{
    display: flex;
    justify-content: center;
    padding: 0;
    & img{
      width: 100%;
      height: 100%;
    }
  }
  .text {
    &-row {
      padding-top: 5%;
      padding-bottom: 2%;
      // margin: 0 auto;
    }
  }

  #title {
    &-box {
      width: 85%;
      margin: auto;
      display: flex;
      justify-content: center;
      flex-flow: wrap;
      text-align: center;
      text-transform: uppercase;
      padding-top: 10%;
      color: $inner-title;
      position: absolute;
      align-items: center;
      & .title-line{
        display: flex;
        flex-direction: column;
        & h1{
          font-weight: 300;
          font-size: 4.25em;
        }
        &-two{
          flex-wrap: wrap;
          text-transform: uppercase;
          font-size: 7em;
          font-weight: 900;
          margin-top: -40px;
        }
      }
      & img{
        width: 120px;
        height: 120px;
        margin-right: 40px;
      }
    }
  }

  .left {
    &-box {
      padding-top: 1%;
    }
  }

  .center {
    &-wrapper {
      max-width: 80%;
    }
  }

  .byline {
    &-box {
      text-align: left;
      padding-bottom: 5%;
      padding-top: 1%;
      & p{
        line-height: 1em;
        margin: 10px;
      }
    }
  }

  .byline {
    &-item {
      font-size: 0.9em;
      display: inline-block;
      text-align: left;
      vertical-align: text-top;
    }
    &-head {
      font-size: 0.9em;
      font-weight: bold;
      margin: 0;
    }
  }

  .byline {
    &-item {
      & p{
        margin: 0;
      }
    }
  }

  .byline {
    &-item {
      margin-bottom: 1.3em; 
    }
  }

  .vimeo {
    &-container {
      padding-left: 25%;
      padding-right: 25%;
      text-align: center;
    }
  }

  .pull {
      &-text{
        margin-left: -10px;
      }
      &-quote {
        font-size: 1em;
        text-transform: none;
        &-box {
        padding-bottom: 3%;
        font-family: $heading-font;
        font-weight: 100;
        color: $block-quote;
        margin-top: -14px;
        & .attribution{
          font-weight: 300;
        }
        & img{
          width: 75px;
          height: auto;
          display: flex;
          margin: auto;
        }
      }
    }
  }
}

@media only screen and (max-width: 766px) {
  .text {
    &-row {
      max-width: 90%;
      margin: 0 auto;
    }
  }

  .byline {
    &-box {
      text-align: center;
    }
  }

  .byline {
    &-item {
      text-align: center !important;
    }
  }

}


#morphing {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: auto;
  z-index: 2;
}

#video_area {
  position: relative;
}

.polymorph_logo {
  transform-origin: center;
}

.polymorph {
  transform-origin: center;
}

#video-player-trigger {
  height: 100px;
}

.plyr__controls {
  visibility: hidden;
}

.title-treatment {
  position: relative;
  margin-bottom: 40px;
}

.inner-deck {
  margin: auto;
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0px;
}

#deck {
  display: none;
}

@-webkit-keyframes fadeIn {
         0% {opacity: 0;}
         100% {opacity: 1;}
      }
      @keyframes fadeIn {
         0% {opacity: 0;}
         100% {opacity: 1;}
      }
      .fadeIn {
         -webkit-animation-name: fadeIn;
         animation-name: fadeIn;
         -webkit-animation-duration: 3s;
           animation-duration: 3s;
      }

.inner-deck p {
    color: #ffffff;
    font-size: 22px;
    width: 93%;
    margin: auto;
}

.inner-hero {
   position: relative;

}

.dim {
      background-color: #000;
}

.parallax {
  height: 30vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 1px;
  perspective: 1px;
}

.parallax-layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 30vh;
}

.parallax-layer.one {
  color: #000;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
