@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';
@import url("https://use.typekit.net/hym1sdr.css");
@import '_include-media';
@import '_vars';

html {font-size:.7em;}

body {
  font-size: 1.375em;
  background-color: white;
  font-weight: 400;
  line-height: 1.45;
  color: black;
  margin:0;
  transition: 2s background-color;
  font-family: $body-font;
}

body a{
  cursor: pointer;
}

p {margin-bottom: 1.3em;
line-height: 2em;}

h1, h2, h3, h4 {
  font-family: $heading-font;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.7em;
  font-weight:600;
}

h2 {font-size: 2.25em;}

h3 {font-size: 1.75em;}

h4 {
  font-size: 1.5em;
  padding-bottom: 0.75em;
}

.instagram {
  &:hover{
    color:$instagram!important;
  }
}
.facebook{
  &:hover{
    color:$facebook!important;
  }
}
.twitter{
  &:hover{
    color:$twitter!important;
  }
}
.github{
  &:hover{
    color:$github!important;
  }
}
.italic {
  font-style: italic;
}

/* ------------------  Header ------------------ */

@mixin header-footer {
  text-align: left;
  padding: 1rem;
}

header {
  @include header-footer;
}
/* ------------------ HOMEPAGE ------------------ */

.container-fluid{
  margin: 0;
  padding: 0;
}

/* ------------------ Navigation ------------------ */

header{
  left:0;
  margin:0;
  padding:0;
  width:100%;
  z-index:9;
}

  .default {
      top: 0;
  }
  .fixed {
      top: -85px;
  }



/* -------- All Includes --------- */

  /* ------- MOBILE NAVIGATION --------*/

.overlay{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  background-color:rgb(0,0,0);
  background-color:white;
  opacity: .94;
  overflow-x: hidden;
   transition: 0.5s opacity;
   -webkit-transition:  5s opacity ;
   -moz-transition: 0.5s opacity;
  .overlay-content{
    position:relative;
    top:15%;
    width:100%;
    margin-left: 8%;
    margin-top:30px;
    // transition-duration:0s;
    -webkit-transition: 5s opacity;
    // -moz-transition-duration:0s;
    a{
      text-decoration:none;
      font-size:1.7em;
      font-weight: 300;
      line-height: 2.6em;
      padding: 0.5%;
      display: flex;
      align-items: center;
    }
    .mobile-home-link {
      color: black;
      position: absolute;
      top: -24.5%;
      right: 11%;
      font-size: 1.5em;
    }
    #closebtn{
      position:absolute;
      top:-42.5%;
      left: -5%;
      font-size:75px;
      color: black;
      font-weight: 100;
      transition: none;
    }
    .overlay-item{
      color:black;
      span{
        font-size:1em;
        display: inline-flex;
      }
    }

  }
}

#nav-icon3 {
  width: 35px;
  height: 25px;
  position: relative;
  margin: 0px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}


#nav-icon3 span:nth-child(1) {
top: 0px;
}

#nav-icon3 span:nth-child(2), #nav-icon3 span:nth-child(3) {
top: 12px;
}

#nav-icon3 span:nth-child(4) {
top: 25px;
}

#nav-icon3.open span:nth-child(1) {
top: 12px;
width: 0%;
left: 50%;
}

#nav-icon3.open span:nth-child(2) {
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
top: 12px;
width: 0%;
left: 50%;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

    .hamburger--spin .hamburger-inner {
      transition-duration: 0.22s;
      transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
      .hamburger--spin .hamburger-inner::before {
        transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
      .hamburger--spin .hamburger-inner::after {
        transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

    .hamburger--spin.is-active .hamburger-inner {
      transform: rotate(225deg);
      transition-delay: 0.12s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
      .hamburger--spin.is-active .hamburger-inner::before {
        top: 0;
        opacity: 0;
        transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }
      .hamburger--spin.is-active .hamburger-inner::after {
        bottom: 0;
        transform: rotate(-90deg);
        transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }




@import 'index';
@import 'inner';
@import 'footer';
@import 'step-links';
@import 'photo-gallery';
@import 'photo-slider';
@import 'pollution-interactive';
@import 'power-interactive';
@import 'ecology-interactive';
@import 'about';
