@import '_vars';
@import '_include-media';
@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';

/*this mixin applies bgr-color and color to anything with classes
that are defined in the include below. You can override either of these colors
further down on the page or in any of the other .SCSS files.
*/
@mixin config-page-colors($colors...) {
    @each $i in $colors {
        .#{nth($i, 1)} {
            &.subhead{
              color: nth($i, 2);
            }
          }
        }
    }

@mixin config-page-background($colors...) {
    @each $i in $colors {
        .#{nth($i, 1)} {
          @include media("screen", ">=md"){
            &.change-mobile-bg{
              background: none;
              background-size:cover;
              color: nth($i, 2);
            }
          }
          }
        }
      }


@include config-page-colors(
    'hiphop'  $orange,
    'dorian' $green,
    'skate' $purple,
    'family' $yellow,
    'harbor' $blue,
    'about' $neutral
);

html {font-size:.7em;}

body {
  font-size: 1.375em;
  background-color: white;
  font-weight: 400;
  line-height: 1.45;
  color: $main-text-color;
  margin:0;
  transition: 2s background-color;
  font-family: $body-font;
}

body a{
  cursor: pointer;
}

p {margin-bottom: 1.3em;
line-height: 2em;}

h1, h2, h3, h4 {
  font-family: $heading-font;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.7em;
  font-weight:600;
}

h2 {font-size: 2.25em;}

h3 {font-size: 1.75em;}

h4 {
  font-size: 1.5em;
  padding-bottom: 0.75em;
}

.instagram {
  &:hover{
    color:$instagram!important;
  }
}
.facebook{
  &:hover{
    color:$facebook!important;
  }
}
.twitter{
  &:hover{
    color:$twitter!important;
  }
}
.github{
  &:hover{
    color:$github!important;
  }
}
.italic {
  font-style: italic;
}

/* ------------------  Header ------------------ */

@mixin header-footer {
  text-align: left;
  padding: 1rem;
}

header {
  @include header-footer;
}
/* ------------------ HOMEPAGE ------------------ */

.container-fluid{
  margin: 0;
  padding: 0;
}

/* ------------------ Navigation ------------------ */

header{
  left:0;
  margin:0;
  padding:0;
  width:100%;
  z-index:9;
}

  .default {
      top: 0;
  }
  .fixed {
      top: -85px;
  }

  /* ------- MOBILE NAVIGATION --------*/

.overlay{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  background-color:rgb(0,0,0);
  background-color:white;
  opacity: .94;
  overflow-x: hidden;
   transition: 0.5s opacity;
   -webkit-transition:  5s opacity ;
   -moz-transition: 0.5s opacity;
  .overlay-content{
    position:relative;
    top:15%;
    width:100%;
    margin-left: 8%;
    margin-top:30px;
    // transition-duration:0s;
    -webkit-transition: 5s opacity;
    // -moz-transition-duration:0s;
    a{
      text-decoration:none;
      font-size:1.7em;
      font-weight: 300;
      line-height: 2.6em;
      padding: 0.5%;
      display: flex;
      align-items: center;
    }
    .mobile-home-link {
      color: black;
      position: absolute;
      top: -24.5%;
      right: 11%;
      font-size: 1.5em;
    }
    #closebtn{
      position:absolute;
      top:-42.5%;
      left: -5%;
      font-size:75px;
      color: black;
      font-weight: 100;
      transition: none;
    }
    .overlay-item{
      color:black;
      span{
        font-size:1em;
        display: inline-flex;
      }
    }

  }
}
