@import "gallery-main-settings";

#grid {
  margin: 0 auto;
  padding-left: 10%;
}

#photo-gallery {
  margin: auto;
 padding-bottom: 40px;

 -webkit-transition: all 0.4s ease;
 -moz-transition: all 0.4s ease;
 -o-transition: all 0.4s ease;
 transition: all 0.4s ease;

  figure {
    float: right;

    width: 200px;

    padding: 5px;
    margin: 0px;
    box-sizing: border-box;
  }

  a {
    display: block;
  }

  img {
    margin: auto;
    max-width: 100%;
    width: auto;
    height: auto;
    border: 0;
  }

  figure figcaption {
    display: none;
  }

  .msnry {
    margin: auto;
  }

}

@media screen and (max-width: 768px) {

  #grid {
    display: none;
  }
}
