.pollution-interactive {

  h1, h2 {
    text-align: center;
  }

  /*============================= CSS Parallax ===========================*/
  #con-trigger {
    background-image: url('/assets/images/ash-illustration.png');
    min-height: 1200px;
    width: auto;
    z-index: 0;

    //parallax
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .project {
    z-index: 1;
    margin: 30%;
    text-align: center;
    padding-bottom: 5%;
  }

  .project img {
    max-width: 20%;
  }

  .project p {
    max-width: 90%;
    margin: 0 auto;
    font-family: "quasimoda",sans-serif;
    text-align: left;
  }

  #white-box {
    padding: 0;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.8);
  }

  .content-wrapper{
    width: 80%;
    margin: 0 auto;
    max-width: 1140px;
    position: relative;
    z-index: 2;
  }

  #single-element {
    float: left;
    max-width: 30%;
  }

  #element-horiz {
    margin: 0 auto;
    max-width: 50%;
    padding-top: 2%;
    padding-bottom: 2%;
  }
}

@media only screen and (max-width: 768px) {
    /* =General */

    .project {
      margin: -20%;
    }

    .project p {
      max-width: 95%;
      padding: 2%;
    }

    #element-horiz {
     max-width: 100%;
     padding-top: 2%;
     padding-bottom: 2%;
   }

   #single-element {
     max-width: 40%;
   }

    /* =Header */

    /* =Footer */
}
