/* ------ Step Link Styles ------*/

/*TAMARA TRY*/

.steplinksvideo {
  display:flex;
  justify-content: center;
  align-items: center;
}
.step-content {
    position: absolute;
    color: white;
    text-align: center;
    font-size: 1.5em;
    text-transform: uppercase;
    font-family:'QUASIMODA', sans-serif;
    img {
      height: auto;
      width: 90px;
      @media (max-width: 768px){
        width: 40px;
        margin-bottom:10px;
      }
    }
    p {
      margin:0;
      line-height:1.6em;
    }
    .step-name{
      font-weight: 600!important;
      @media (max-width: 768px){
        font-size: .6em;
      }
    }
    .step-title{
      font-weight: 100!important;
      @media (max-width: 768px){
        font-size: .5em;
        margin:0;
      }
    }
}

.thevideo{
  width: 100%;
  height: auto;
}

#stepLinks{
  margin-top: 5%;
  & .col-6{

    padding-right: 0px;
  }
}
