.water-interactive{
  .water-left-side{
    button{
      background-color: #359766;
      color: black;
      padding: 10px;
      padding-top: 15px;
      padding-bottom: 15px;
      margin-top: 20px;
      width: 50%;
      text-transform: uppercase;
    }
  }
  #imagearea{
    margin-top: 65px;
    margin-bottom: 60px;
  }
}
