.water-interactive{
  .water-left-side{
    button{
      background-color: #da6757;
      clip-path: circle();
      margin-top: 10px;
      width: 20%;
      margin: auto;
      p{
        color: white;
        font-family: 'quasimoda', sans-serif;
        text-align: center;
        // font-weight: bold;
        text-transform: uppercase;
        margin: auto;
      }
    }
  }
  #imagearea{
    margin-top: 25px;
    margin-bottom: 60px;
  }
}

@media (max-width: 990px){
  #imagearea{
    width: 100%;
    height: auto;
    margin: 0;
  }
}
@media (max-width: 800px) {
  .map {
    padding-left:0;
    padding-right:0;
  }
  #inner-body .row.water-interactive {
    padding:0!important;
  }
  .water-interactive #imagearea {
      margin-bottom: 25px;
  }
}
