.water-interactive{
  .water-left-side{
    button{
      background-color: $video;
      color: black;
      padding: 6px;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-top: 10px;
      width: 15%;
      text-transform: uppercase;
      border-radius: 30px;
    }
  }
  #imagearea{
    margin-top: 65px;
    margin-bottom: 60px;
  }
}
