<div class="content-wrap ash-interactive-video">
  <div id="player_2" data-plyr-provider="vimeo" data-plyr-embed-id="264379248"></div>
  <div class='mobile-video embed-container'><iframe src='https://player.vimeo.com/video/264379248' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
</div>
