<div class="spacer s0" id="trigger"></div>
<div class="spacerz row interactive">
<video autoplay loop preload="auto" class="light-video video" src="assets/images/power-interactive/lights1-1.mp4"></video>
	<div class="col-md-3">
		<div class="side-title">
			<h3>Wind Speeds vs. Plant Life</h3>
			<p>Previous studies in the Luquillo Mountains of El Yunque’s rainforest have given us data on what happens to plants at various wind speeds. These four tree species are commonly seen in El Yunque, and this is what Maria might have been like for them.</p>
		</div>
	</div>

	<div class="col-md-9">

			<div id="imagesequence">
				<img id="myimg" src="assets/images/ecology-interactive/interactive_sequence-01.png" class="img-fluid"><br>
			</div>
	</div>


</div>




<script src="../js/ecology-interactive.js"></script>
