<% var URL_LANG = espanol ? "?lang=es":"";  %>

<footer>
  <div class="footer-wrapper">
    <div class="item centered">
      <a href="/"><img src="../../assets/images/aftermath_web.png" class="footer-logo" alt="Aftermath logo" width="25%" height="auto"></a>

    <div class="item centered links">
      <a href="/about<%=URL_LANG%>">About</a>
    </div>
    <div class="footer-icons">
         <a class="facebook" href="https://www.facebook.com/aftermath.unc" target="_blank" onmouseover="fadeIconsFooter(0)" onmouseout="unfadeIconsFooter(0)"><img id="footer-0" src="../../assets/images/social/facebook.png"></a>
         <a class="instagram" href="https://www.instagram.com/aftermath_unc" target="_blank" onmouseover="fadeIconsFooter(1)" onmouseout="unfadeIconsFooter(1)"><img id="footer-1" src="../../assets/images/social/instagram.png"></a>
         <a class="twitter" href="https://www.twitter.com/aftermath_unc" target="_blank" onmouseover="fadeIconsFooter(2)" onmouseout="unfadeIconsFooter(2)"><img id="footer-2" src="../../assets/images/social/twitter.png"></a>
         <a class="vimeo" href="https://vimeo.com/uncphotojournalism" target="_blank" onmouseover="fadeIconsFooter(3)" onmouseout="unfadeIconsFooter(3)"><img id="footer-3" src="../../assets/images/social/vimeo.png"></a>
    </div>


    </div> <!--Close item -->

   </div>  <!--Close wrapper -->
</footer>

<script src="/js/tether.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/plyr.js"></script>
<script src="https://cdn.plyr.io/3.0.6/plyr.js"></script>
<script type="text/javascript" src="/js/anime.min.js"></script>
<script type="text/javascript" src="/js/scrollMonitor.js"></script>
<script type="text/javascript" src="/js/videoPlayer.js"></script>
<script type="text/javascript" src="/js/title.js"></script>
<script src="/js/photo-gallery/photo-gallery.js"></script>
<script src="/js/photo-gallery/photoswipe.min.js"></script>
<script src="/js/photo-gallery/photoswipe-ui-default.js"></script>
<script src="/js/photo-slider.js"></script>
<script src="/js/jquery.zoomooz.min.js"></script>
<script src="/js/nav.js"></script>



<!-- <script>
 var espanol = <%= espanol ? "true":"false" %>;
$('.trans-link').attr("href", espanol ? currentPage : currentPage + '?lang=es' );
</script> -->
