<% var URL_LANG = espanol ? "?lang=es":"";  %>

<footer>

  <div class="wrapper">
    <div class="item centered">
      <img src="../../assets/images/aftermath_web.png" alt="logo" width="25%" height="auto">
    </div>
    <div class="item centered links">
      <a href="/about<%=URL_LANG%>">
        <p>ES   |    About</p>
      </a><br>
      <div class="footer-icons">
           <a class="facebook" href="https://www.facebook.com/" target="_blank"><img src="../../assets/images/social/facebook.png"></a>
           <a class="twitter" href="https://www.twitter.com/" target="_blank"><img src="../../assets/images/social/twitter.png"></a>
           <a class="instagram" href="https://www.instagram.com/" target="_blank"><img src="../../assets/images/social/instagram.png"></a>
           <a class="instagram" href="https://www.vimeo.com/" target="_blank"><img src="../../assets/images/social/vimeo.png"></a>
      </div>
      </div>

    </div> <!--Close item -->

   </div>  <!--Close wrapper -->
</footer>
<script src="/js/tether.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/plyr.js"></script>
<script src="https://cdn.plyr.io/2.0.18/plyr.js"></script>
<script type="text/javascript" src="/js/anime.min.js"></script>
<script type="text/javascript" src="/js/scrollMonitor.js"></script>
<script type="text/javascript" src="/js/videoPlayer.js"></script>
