
<meta name="author" content="UNC School of Media and Journalism">

</div>
  <% if (espanol) { %>

    <meta name="description" content="Aftermath: Puerto Rico Rebuilds Post Maria">
  <% } else { %>
    <meta name="description" content="Aftermath: Puerto Rico Rebuilds Post Maria">
  <% } %>

<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
<base href="/" />
<meta charset="utf-8">
<!-- Thank you for visiting our site! The GitHub repo is available at https://github.com/PuertoRico584/aftermath. -->

<!--Google Fonts Here -->
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700|Montserrat:300,500,600,700" rel="stylesheet">


<!--favicon styles here/ -->

<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700|Montserrat:300,500,600,700" rel="stylesheet">

<!-- Stylesheets -->
<link href="/stylesheets/bootstrap.min.css.map">
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/index.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/inner.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/footer.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/jquery.modal.css" media="screen"/>
<link rel="stylesheet" type="text/css" href="/stylesheets/photo-gallery.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/about.css">


<!-- Javascript -->

<link rel="stylesheet" type="text/css" href="/stylesheets/jquery.modal.css" media="screen"/>
<script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/inner-nav.js"></script>
<script type="text/javascript" src="/js/jquery.modal.js"></script>

<script type="text/javascript" src="https://use.fontawesome.com/3ddd43fed9.js"></script>


<meta property="og:site_name" content="<%= espanol ? "Aftermath Espanol":"Aftermath" %>" />
