<!-- <title>Cuba's New Wave</title> -->
<meta name="author" content="UNC School of Media and Journalism">



</div>
  <% if (espanol) { %>
    <meta name="description" content="Aftermath: Puerto Rico Rebuilds Post Maria">
  <% } else { %>
    <meta name="description" content="Aftermath: Puerto Rico Rebuilds Post Maria">
  <% } %>

<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
<base href="/" />
<meta charset="utf-8">
<!-- Thank you for visiting our site! The GitHub repo is available at https://github.com/Cuba584/main-site.
From our dedicated developers:
Lindsay: http://www.lindsaycarbonell.com/
Kate: http://kwboyd.com/
Alma: http://almawashington.com/
Peyton: http://peytonchance.com/ -->



<!--favicon sizes generated from http://realfavicongenerator.net/ -->

<!--Google Fonts Here -->
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700|Montserrat:300,500,600,700" rel="stylesheet">


<!-- Stylesheets -->
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/index.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/inner.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/footer.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/jquery.modal.css" media="screen"/>
<link rel="stylesheet" type="text/css" href="/stylesheets/photo-gallery.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/about.css">

<!-- Javascript -->
<script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/inner-nav.js"></script>
<script type="text/javascript" src="/js/jquery.modal.js"></script>


<script type="text/javascript" src="https://use.fontawesome.com/3ddd43fed9.js"></script>

<!-- Google Analytics  - NEED TO ADD ONCE READY-->
<!-- <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

 ga('create', 'UA-2146630-15', 'auto');
  ga('send', 'pageview');

</script> -->

<meta property="og:site_name" content="<%= espanol ? "Aftermath":"Aftermath" %>" />
