<!-- <title>Cuba's New Wave</title> -->
<meta name="author" content="UNC School of Media and Journalism">



</div>
  <% if (espanol) { %>
    <meta name="description" content="Olas de cambio social, económico y político están rizando en Cuba. Ahora, todo lo que es cierto sobre el futuro de la nación es quien determinará: la juventud.">
  <% } else { %>
    <meta name="description" content="Waves of social, economic and political change are rippling across Cuba. Now, all that is certain about the nation's future is who will determine it: the youth.">
  <% } %>

<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
<base href="/" />
<meta charset="utf-8">
<!-- Thank you for visiting our site! The GitHub repo is available at https://github.com/Cuba584/main-site.
From our dedicated developers:
Lindsay: http://www.lindsaycarbonell.com/
Kate: http://kwboyd.com/
Alma: http://almawashington.com/
Peyton: http://peytonchance.com/ -->

 

<!--favicon sizes generated from http://realfavicongenerator.net/ -->

<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../assets/favicon/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../../assets/favicon/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../../assets/favicon/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../assets/favicon/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="../../assets/favicon/apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="../../assets/favicon/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="../../assets/favicon/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="../../assets/favicon/apple-touch-icon-152x152.png" />
<link rel="icon" type="image/png" href="../../assets/favicon/favicon-196x196.png" sizes="196x196" />
<link rel="icon" type="image/png" href="../../assets/favicon/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="../../assets/favicon/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="../../assets/favicon/favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="../../assets/favicon/favicon-128.png" sizes="128x128" />
<meta name="application-name" content="&nbsp;"/>
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-TileImage" content="mstile-144x144.png" />
<meta name="msapplication-square70x70logo" content="mstile-70x70.png" />
<meta name="msapplication-square150x150logo" content="mstile-150x150.png" />
<meta name="msapplication-wide310x150logo" content="mstile-310x150.png" />
<meta name="msapplication-square310x310logo" content="mstile-310x310.png" />

<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700|Montserrat:300,500,600,700" rel="stylesheet">


<!-- deckjs -->
<link rel="stylesheet" media="screen" href="/stylesheets/deckjs/deck.navigation.css">
<link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/deckjs/vertical-slide.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/deckjs/deck.core.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/timeline.css" />

<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/index.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/inner.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/footer.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/internet.css">

<link rel="stylesheet" type="text/css" href="/stylesheets/jquery.modal.css" media="screen"/>
<link rel="stylesheet" type="text/css" href="/stylesheets/poem.css"  />
<link rel="stylesheet" type="text/css" href="/stylesheets/paquete.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/hiphop.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/wifi-access.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/photo-gallery.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/aging-barchart.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/aging-line.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/moneyslider.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/about.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/finder.css" />

<script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>

<!--deckjs-->
<script type="text/javascript" src="/js/deckjs/modernizr.custom.js" ></script>
<script type="text/javascript" src="/js/deckjs/deck.core.js" ></script>
<script type="text/javascript" src="/js/deckjs/deck.navigation.js"></script>

<script type="text/javascript" src="/js/internet.js"></script>
<!-- <script type="text/javascript" src="/js/disablespanish.js"></script> -->


<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/inner-nav.js"></script>
<script type="text/javascript" src="/js/jquery.modal.js"></script>


<script type="text/javascript" src="https://use.fontawesome.com/3ddd43fed9.js"></script>

<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

 ga('create', 'UA-2146630-15', 'auto');
  ga('send', 'pageview');

</script>

<meta property="og:site_name" content="<%= espanol ? "Nueva ola de cuba":"Cuba\'s New Wave" %>" />
