<meta name="author" content="UNC School of Media and Journalism">

</div>
  <% if (espanol) { %>

    <meta name="description" content="Aftermath: Puerto Rico Rebuilds Post Maria">
  <% } else { %>
    <meta name="description" content="Aftermath: Puerto Rico Rebuilds Post Maria">
  <% } %>

<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
<base href="/" />
<meta charset="utf-8">

<!-- Thank you for visiting our site! The GitHub repo is available at https://github.com/PuertRico584/aftermath.

From our dedicated developers:

Peyton Chance: http://peytonchance.com/
Madison Walls: http://madisonwalls.org/
Connie Jin: http://www.conniehanzhangjin.com/
Avery Williams: http://averyhwilliams.com/

-->


<!--favicon styles here/ -->


<!-- Fonts -->
<link rel="stylesheet" href="https://use.typekit.net/hym1sdr.css">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" rel="stylesheet">

<!-- Stylesheets -->
<link href="/stylesheets/bootstrap.min.css.map">
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/jquery.modal.css" media="screen"/>
<link rel="stylesheet" type="text/css" href="/stylesheets/photo-gallery/photo-gallery.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/photo-gallery/photoswipe.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/about.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/plyr.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />


<!-- Javascript -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/jquery.modal.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://use.fontawesome.com/3ddd43fed9.js"></script>
<script type="text/javascript" src="js/index.js"></script>


<meta property="og:site_name" content="<%= espanol ? "Aftermath Espanol":"Aftermath" %>" />
