<style>
  .clock path:hover {
    fill:#bfd13d;
  }
  .clock path.active {
    fill: #bfd13d;
  }
  .clock path.visited {
    fill: #ffffff;
  }

  .clock path#Path_135_4_:hover {
	fill: #ffffff;
	}
  .tabcontent {
    float: left;
    width: 100%;
    height: 300px;
    display:none;
  }
	.st0{fill:none;stroke:#000000;}
	.st1{fill:#FFFFFF;}
	.st2{fill:none;stroke:#000000;stroke-width:3;}
	.st3{fill:none;}
	.st4{fill:none;stroke:#EFEFEF;stroke-width:15;}
	.st5{enable-background:new    ;}
	.st6{fill:#707070;}
	.st7{opacity:.8;fill:#4faf8f;enable-background:new    ;}
	.st8{fill:#C1D363;enable-background:new    ;}
	.st9{fill:#FF7B7B;}
	.st10{font-family:'Quasimoda-Medium';}
	.st11{font-size:77.1528px;}

	/* .blue {
	  border:1px solid blue;
	  } */
	</style>

  <div class="container">
	<div class="row">
	  <div class="col-sm-3 blue">
		  <h3>Day in the Life of a Brigade</h3>
		<p>By MaryRachel Bulkeley</p>
		  <p>Since Hurricane Maria, workers and volunteers with Iniciativa Communitaria have been providing much-needed health services to communities throughout Puerto Rico. Explore the typical, 16-hour day in the life of a health brigade member.</p>
		</div>
      <div class="col-sm-5 clock blue">

<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 22.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1080 1080" style="enable-background:new 0 0 1080 1080;" xml:space="preserve">

<g>
	<path id="Path_122" class="st0" d="M-3339.5,545.2"/>
	<g id="Group_240" transform="translate(2946.709 6012.058) rotate(14)">
		<path id="Path_25" class="st0" d="M-7268.7-4164.3l-306.6,758.8"/>
		<path id="Path_26" class="st0" d="M-7801.4-3938.2l758.8,306.6"/>
		<path id="Path_27" class="st0" d="M-7744.8-3532l644.9-503.9"/>
		<path id="Path_28" class="st0" d="M-7479.3-4189.1l113.9,810.4"/>
		<path id="Path_29" class="st0" d="M-7170.4-3461.4l-503.9-644.9"/>
		<path id="Path_30" class="st0" d="M-7827.6-3726.9l810.4-113.9"/>
	</g>
	<g id="Group_241" transform="translate(2821.617 6128.166) rotate(-10)">
		<path id="Path_25-2" class="st0" d="M-4944.9-6949.2l-306.6,758.8"/>
		<path id="Path_26-2" class="st0" d="M-5477.6-6723.1l758.8,306.6"/>
		<path id="Path_27-2" class="st0" d="M-5421-6316.8l644.9-503.9"/>
		<path id="Path_28-2" class="st0" d="M-5155.5-6974l113.9,810.4"/>
		<path id="Path_29-2" class="st0" d="M-4846.7-6246.3l-503.9-644.9"/>
		<path id="Path_30-2" class="st0" d="M-5503.8-6511.8l810.4-113.9"/>
	</g>
	<g id="Group_242" transform="matrix(0.998, -0.07, 0.07, 0.998, 2848.43, 6094.679)">
		<path id="Path_25-3" class="st0" d="M-5628-6346.6l-306.6,758.8"/>
		<path id="Path_26-3" class="st0" d="M-6160.7-6120.5l758.8,306.6"/>
		<path id="Path_27-3" class="st0" d="M-6104.2-5714.3l644.9-503.9"/>
		<path id="Path_28-3" class="st0" d="M-5838.7-6371.4l113.9,810.4"/>
		<path id="Path_29-3" class="st0" d="M-5529.8-5643.7l-503.9-644.9"/>
		<path id="Path_30-3" class="st0" d="M-6187-5909.2l810.4-113.9"/>
	</g>
	<g id="Group_243" transform="translate(2877.878 6063.384) rotate(2)">
		<path id="Path_25-4" class="st0" d="M-6253.2-5678.9l-306.6,758.8"/>
		<path id="Path_26-4" class="st0" d="M-6785.9-5452.8l758.8,306.6"/>
		<path id="Path_27-4" class="st0" d="M-6729.3-5046.6l644.9-503.9"/>
		<path id="Path_28-4" class="st0" d="M-6463.8-5703.7l113.9,810.4"/>
		<path id="Path_29-4" class="st0" d="M-6155-4976.1l-503.9-644.9"/>
		<path id="Path_30-4" class="st0" d="M-6812.1-5241.6l810.4-113.9"/>
	</g>
	<ellipse id="Ellipse_3" class="st1" cx="-3340" cy="544.7" rx="388.1" ry="388.1"/>
	<g id="Group_244" transform="translate(2864.517 6070.279)">
		<path id="Path_31" class="st2" d="M-6204.5-5935.3v818.4"/>
		<path id="Path_32" class="st2" d="M-6614.2-5525.6h818.4"/>
		<path id="Path_33" class="st2" d="M-6408.8-5171.9l409.2-708.8"/>
		<path id="Path_34" class="st2" d="M-6408.8-5880.7l409.2,708.8"/>
		<path id="Path_35" class="st2" d="M-5849.8-5321.7l-708.8-409.2"/>
		<path id="Path_36" class="st2" d="M-6558.6-5321.7l708.8-409.2"/>
	</g>
	<path id="Path_135" class="st1" d="M-3340,184c199.2,0,360.7,161.5,360.7,360.7s-161.5,360.7-360.7,360.7c-11,0-21.8-0.5-32.5-1.4
		c-184-16.4-328.3-171-328.3-359.3C-3700.7,345.5-3539.2,184-3340,184z"/>
	<g id="Ellipse_5" transform="translate(2821.617 6027.379)">
		<circle class="st3" cx="-6161.6" cy="-5482.7" r="469.6"/>
		<circle class="st4" cx="-6161.6" cy="-5482.7" r="459.1"/>
	</g>
	<g id="Group_245" transform="translate(2915.461 6112.818)">
		<text transform="matrix(1 0 0 1 -6581.5176 -5545.7471)" class="st6 st10" style="font-size:69.8156px;">9</text>
		<text transform="matrix(1 0 0 1 -6541.1206 -5394.3887)" class="st6 st10" style="font-size:69.8156px;">8</text>
		<text transform="matrix(1 0 0 1 -6435.0098 -5814.7515)" class="st6 st10" style="font-size:69.8156px;">11</text>
		<text transform="matrix(1 0 0 1 -6559.7432 -5699.9756)" class="st6 st10" style="font-size:69.8156px;">10</text>
		<text transform="matrix(1 0 0 1 -6288.0806 -5852.7705)" class="st6 st10" style="font-size:69.8156px;">12</text>
		<text transform="matrix(1 0 0 1 -6117.6406 -5811.1641)" class="st6 st10" style="font-size:69.8156px;">1</text>
		<text transform="matrix(1 0 0 1 -6009.4492 -5697.8237)" class="st6 st10" style="font-size:69.8156px;">2</text>
		<text transform="matrix(1 0 0 1 -6016.356 -5397.9756)" class="st6 st10" style="font-size:69.8156px;">4</text>
		<text transform="matrix(1 0 0 1 -5973.7378 -5545.7471)" class="st6 st10" style="font-size:69.8156px;">3</text>
		<text transform="matrix(1 0 0 1 -6428.5405 -5280.3301)" class="st6 st10" style="font-size:69.8156px;">7</text>
		<text transform="matrix(1 0 0 1 -6277.3291 -5240.1582)" class="st6 st10" style="font-size:69.8156px;">6</text>
		<text transform="matrix(1 0 0 1 -6121.1772 -5283.2012)" class="st6 st10" style="font-size:69.8156px;">5</text>
	</g>
	<g>
		<path id="Path_131_15_" class="st7" d="M-3089,476.4c0,0,19.6,56.7-0.4,130.5c-89.2-24.2-243.8-66.1-243.8-66.1L-3089,476.4z"/>
		<path id="Path_131" class="st7" d="M-3587.8,601.9c0,0-18.8-57,2.3-130.5c88.9,25.5,242.8,69.6,242.8,69.6L-3587.8,601.9z"/>
		<path id="Path_131_4_" class="st7" d="M-3584.8,469.2c0,0,12-58.8,66.8-112.1c64.4,66.3,176.1,181.1,176.1,181.1L-3584.8,469.2z"
			/>
		<path id="Path_131_13_" class="st7" d="M-3516.5,356c0,0,39.7-45,113.7-63.9c22.9,89.6,62.6,244.7,62.6,244.7L-3516.5,356z"/>
		<path id="Path_131_5_" class="st7" d="M-3400.1,290.9c0,0,56.9-19.1,130.5,1.5c-25,89-68.2,243.2-68.2,243.2L-3400.1,290.9z"/>
		<path id="Path_131_17_" class="st7" d="M-3267.4,292.8c0,0,58.8,11.7,112.5,66.2c-65.9,64.8-180.1,177.1-180.1,177.1
			L-3267.4,292.8z"/>
		<path id="Path_131_16_" class="st7" d="M-3153.4,360.7c0,0,45.3,39.4,64.7,113.3c-89.4,23.5-244.3,64.2-244.3,64.2L-3153.4,360.7z
			"/>
		<path id="Path_131_14_" class="st7" d="M-3090.5,608.7c0,0-11.3,58.9-65.5,112.9c-65.2-65.5-178.3-178.9-178.3-178.9
			L-3090.5,608.7z"/>
		<path id="Path_131_21_" class="st7" d="M-3158.1,723.1c0,0-39.3,45.3-113.3,64.8c-23.6-89.4-64.4-244.2-64.4-244.2L-3158.1,723.1z
			"/>
		<path id="Path_131_20_" class="st7" d="M-3275,787.9c0,0-56.8,19.4-130.5-1c24.6-89.1,67.2-243.5,67.2-243.5L-3275,787.9z"/>
		<path id="Path_131_19_" class="st7" d="M-3409.6,786.2c0,0-58.8-12.1-112-67c66.4-64.3,181.4-175.8,181.4-175.8L-3409.6,786.2z"/>
		<path id="Path_131_18_" class="st7" d="M-3524.3,718.1c0,0-44.8-39.9-63.3-114.1c89.7-22.4,245.1-61.2,245.1-61.2L-3524.3,718.1z"
			/>
		<circle id="Ellipse_6" cx="-3337.5" cy="540.5" r="8.8"/>
	</g>
</g>
<rect x="-2947" y="-364.4" class="st3" width="549.9" height="365"/>
<text transform="matrix(1 0 0 1 -2947.0493 -319.0115)"><tspan x="0" y="0" class="st8" style="font-family:'Avenir-Black'; font-size:60px;">4:40 – 5:30 a.m.</tspan><tspan x="0" y="48" style="font-family:'Avenir-Light'; font-size:36px;">José wakes and prepares </tspan><tspan x="0" y="96" style="font-family:'Avenir-Light'; font-size:36px;">recording equipment for the day.</tspan></text>
<g>
	<path id="Path_122_1_" class="st0" d="M-1739.6,545.2"/>
	<g id="Group_240_1_" transform="translate(2946.709 6012.058) rotate(14)">
		<path id="Path_25_1_" class="st0" d="M-5716.3-4551.3l-306.6,758.8"/>
		<path id="Path_26_1_" class="st0" d="M-6249-4325.2l758.8,306.6"/>
		<path id="Path_27_1_" class="st0" d="M-6192.4-3919l644.9-503.9"/>
		<path id="Path_28_1_" class="st0" d="M-5926.9-4576.2l113.9,810.4"/>
		<path id="Path_29_1_" class="st0" d="M-5618-3848.5l-503.9-644.9"/>
		<path id="Path_30_1_" class="st0" d="M-6275.2-4114l810.4-113.9"/>
	</g>
	<g id="Group_241_1_" transform="translate(2821.617 6128.166) rotate(-10)">
		<path id="Path_25-2_1_" class="st0" d="M-3369.3-6671.3l-306.6,758.8"/>
		<path id="Path_26-2_1_" class="st0" d="M-3902-6445.2l758.8,306.6"/>
		<path id="Path_27-2_1_" class="st0" d="M-3845.4-6039l644.9-503.9"/>
		<path id="Path_28-2_1_" class="st0" d="M-3579.9-6696.2l113.9,810.4"/>
		<path id="Path_29-2_1_" class="st0" d="M-3271.1-5968.5l-503.9-644.9"/>
		<path id="Path_30-2_1_" class="st0" d="M-3928.2-6234l810.4-113.9"/>
	</g>
	<g id="Group_242_1_" transform="matrix(0.998, -0.07, 0.07, 0.998, 2848.43, 6094.679)">
		<path id="Path_25-3_1_" class="st0" d="M-4032.8-6234.7l-306.6,758.8"/>
		<path id="Path_26-3_1_" class="st0" d="M-4565.5-6008.6l758.8,306.6"/>
		<path id="Path_27-3_1_" class="st0" d="M-4508.9-5602.4l644.9-503.9"/>
		<path id="Path_28-3_1_" class="st0" d="M-4243.4-6259.5l113.9,810.4"/>
		<path id="Path_29-3_1_" class="st0" d="M-3934.5-5531.9l-503.9-644.9"/>
		<path id="Path_30-3_1_" class="st0" d="M-4591.7-5797.4l810.4-113.9"/>
	</g>
	<g id="Group_243_1_" transform="translate(2877.878 6063.384) rotate(2)">
		<path id="Path_25-4_1_" class="st0" d="M-4654.3-5734.7l-306.6,758.8"/>
		<path id="Path_26-4_1_" class="st0" d="M-5187-5508.6l758.8,306.6"/>
		<path id="Path_27-4_1_" class="st0" d="M-5130.4-5102.4l644.9-503.9"/>
		<path id="Path_28-4_1_" class="st0" d="M-4864.9-5759.6l113.9,810.4"/>
		<path id="Path_29-4_1_" class="st0" d="M-4556-5031.9l-503.9-644.9"/>
		<path id="Path_30-4_1_" class="st0" d="M-5213.2-5297.4l810.4-113.9"/>
	</g>
	<ellipse id="Ellipse_3_1_" class="st1" cx="-1740.1" cy="544.7" rx="388.1" ry="388.1"/>
	<g id="Group_244_1_" transform="translate(2864.517 6070.279)">
		<path id="Path_31_1_" class="st2" d="M-4604.6-5935.3v818.4"/>
		<path id="Path_32_1_" class="st2" d="M-5014.3-5525.6h818.4"/>
		<path id="Path_33_1_" class="st2" d="M-4808.9-5171.9l409.2-708.8"/>
		<path id="Path_34_1_" class="st2" d="M-4808.9-5880.7l409.2,708.8"/>
		<path id="Path_35_1_" class="st2" d="M-4249.9-5321.7l-708.8-409.2"/>
		<path id="Path_36_1_" class="st2" d="M-4958.7-5321.7l708.8-409.2"/>
	</g>
	<path id="Path_135_1_" class="st1" d="M-1740.1,184c199.2,0,360.7,161.5,360.7,360.7s-161.5,360.7-360.7,360.7
		c-11,0-21.8-0.5-32.5-1.4c-184-16.4-328.3-171-328.3-359.3C-2100.8,345.5-1939.3,184-1740.1,184z"/>
	<g id="Ellipse_5_1_" transform="translate(2821.617 6027.379)">
		<circle class="st3" cx="-4561.7" cy="-5482.7" r="469.6"/>
		<circle class="st4" cx="-4561.7" cy="-5482.7" r="459.1"/>
	</g>
	<g id="Group_245_1_" transform="translate(2915.461 6112.818)">
		<text transform="matrix(1 0 0 1 -4981.6094 -5545.7471)" class="st6 st10" style="font-size:69.8156px;">9</text>
		<text transform="matrix(1 0 0 1 -4941.2124 -5394.3887)" class="st6 st10" style="font-size:69.8156px;">8</text>
		<text transform="matrix(1 0 0 1 -4835.1016 -5814.7515)" class="st6 st10" style="font-size:69.8156px;">11</text>
		<text transform="matrix(1 0 0 1 -4959.835 -5699.9756)" class="st6 st10" style="font-size:69.8156px;">10</text>
		<text transform="matrix(1 0 0 1 -4688.1724 -5852.7705)" class="st6 st10" style="font-size:69.8156px;">12</text>
		<text transform="matrix(1 0 0 1 -4517.7324 -5811.1641)" class="st6 st10" style="font-size:69.8156px;">1</text>
		<text transform="matrix(1 0 0 1 -4409.541 -5697.8237)" class="st6 st10" style="font-size:69.8156px;">2</text>
		<text transform="matrix(1 0 0 1 -4416.4478 -5397.9756)" class="st6 st10" style="font-size:69.8156px;">4</text>
		<text transform="matrix(1 0 0 1 -4373.8296 -5545.7471)" class="st6 st10" style="font-size:69.8156px;">3</text>
		<text transform="matrix(1 0 0 1 -4828.6323 -5280.3301)" class="st6 st10" style="font-size:69.8156px;">7</text>
		<text transform="matrix(1 0 0 1 -4677.4209 -5240.1582)" class="st6 st10" style="font-size:69.8156px;">6</text>
		<text transform="matrix(1 0 0 1 -4521.269 -5283.2012)" class="st6 st10" style="font-size:69.8156px;">5</text>
	</g>
	<path id="Path_124_1_" class="st8" d="M-1675.8,790.9c0,0-57,18.8-130.5-2.2c25.4-88.9,69.5-242.8,69.5-242.8L-1675.8,790.9z"/>
	<path id="Path_125_3_" class="st7" d="M-1808.6,788.3c0,0-58.7-12.2-111.8-67.2c66.5-64.2,181.7-175.5,181.7-175.5L-1808.6,788.3z"
		/>
	<path id="Path_126_1_" class="st7" d="M-1980.6,468.6c0,0,12.2-56.8,65.8-107.9c61.8,64.8,168.8,177,168.8,177L-1980.6,468.6z"/>
	<path id="Path_127_1_" class="st7" d="M-1557.2,373.1c0,0,43.6,38.1,62,108.6c-86.7,20.6-237,56.3-237,56.3L-1557.2,373.1z"/>
	<path id="Path_128_1_" class="st7" d="M-1919.9,718.1c0,0-44.8-39.9-63.3-114.1c89.7-22.4,245.1-61.1,245.1-61.1L-1919.9,718.1z"/>
	<path id="Path_129_1_" class="st7" d="M-1911.6,360.1c0,0,40.7-44.1,115.1-61.3c20.8,90,56.9,246,56.9,246L-1911.6,360.1z"/>
	<path id="Path_130_1_" class="st7" d="M-1495.9,483.4c0,0,18.3,52.5-1.5,120.6c-85.1-22.7-232.4-62.1-232.4-62.1L-1495.9,483.4z"/>
	<path id="Path_131_1_" class="st7" d="M-1983.9,601.9c0,0-18.8-57,2.3-130.5c88.9,25.5,242.8,69.6,242.8,69.6L-1983.9,601.9z"/>
	<path id="Path_132_1_" class="st7" d="M-1666.4,302.7c0,0,57.5,13.3,108.8,68.9C-1623.8,434-1738.4,542-1738.4,542L-1666.4,302.7z"
		/>
	<path id="Path_125_2_" class="st7" d="M-1559.6,720.1c0,0-39.6,47.1-114,68.7c-23.5-90.7-64.3-247.9-64.3-247.9L-1559.6,720.1z"/>
	<path id="Path_133_1_" class="st7" d="M-1795.2,297.4c0,0,55.9-17.2,127.4,5c-26,86.3-71,235.8-71,235.8L-1795.2,297.4z"/>
	<path id="Path_134_1_" class="st7" d="M-1496.9,606.7c0,0-10.6,56.8-62.7,109.2C-1623,653.4-1733,545-1733,545L-1496.9,606.7z"/>
	<circle id="Ellipse_6_1_" cx="-1738.7" cy="539.1" r="8.8"/>
</g>
<g>
	<path id="Path_122_3_" class="st0" d="M-1739.6,1635.3"/>
	<g id="Group_240_3_" transform="translate(2946.709 6012.058) rotate(14)">
		<path id="Path_25_3_" class="st0" d="M-5452.6-3493.6l-306.6,758.8"/>
		<path id="Path_26_3_" class="st0" d="M-5985.3-3267.5l758.8,306.6"/>
		<path id="Path_27_3_" class="st0" d="M-5928.7-2861.3l644.9-503.9"/>
		<path id="Path_28_3_" class="st0" d="M-5663.2-3518.5l113.9,810.4"/>
		<path id="Path_29_3_" class="st0" d="M-5354.3-2790.8l-503.9-644.9"/>
		<path id="Path_30_3_" class="st0" d="M-6011.5-3056.3l810.4-113.9"/>
	</g>
	<g id="Group_241_3_" transform="translate(2821.617 6128.166) rotate(-10)">
		<path id="Path_25-2_3_" class="st0" d="M-3558.6-5597.8l-306.6,758.8"/>
		<path id="Path_26-2_3_" class="st0" d="M-4091.3-5371.7l758.8,306.6"/>
		<path id="Path_27-2_3_" class="st0" d="M-4034.7-4965.5l644.9-503.9"/>
		<path id="Path_28-2_3_" class="st0" d="M-3769.2-5622.7l113.9,810.4"/>
		<path id="Path_29-2_3_" class="st0" d="M-3460.3-4895l-503.9-644.9"/>
		<path id="Path_30-2_3_" class="st0" d="M-4117.5-5160.5l810.4-113.9"/>
	</g>
	<g id="Group_242_3_" transform="matrix(0.998, -0.07, 0.07, 0.998, 2848.43, 6094.679)">
		<path id="Path_25-3_3_" class="st0" d="M-4109-5147.8l-306.6,758.8"/>
		<path id="Path_26-3_3_" class="st0" d="M-4641.7-4921.7l758.8,306.6"/>
		<path id="Path_27-3_3_" class="st0" d="M-4585.2-4515.5l644.9-503.9"/>
		<path id="Path_28-3_3_" class="st0" d="M-4319.7-5172.6l113.9,810.4"/>
		<path id="Path_29-3_3_" class="st0" d="M-4010.8-4444.9l-503.9-644.9"/>
		<path id="Path_30-3_3_" class="st0" d="M-4667.9-4710.5l810.4-113.9"/>
	</g>
	<g id="Group_243_3_" transform="translate(2877.878 6063.384) rotate(2)">
		<path id="Path_25-4_3_" class="st0" d="M-4616.2-4645.3l-306.6,758.8"/>
		<path id="Path_26-4_3_" class="st0" d="M-5148.9-4419.2l758.8,306.6"/>
		<path id="Path_27-4_3_" class="st0" d="M-5092.4-4013l644.9-503.9"/>
		<path id="Path_28-4_3_" class="st0" d="M-4826.9-4670.2l113.9,810.4"/>
		<path id="Path_29-4_3_" class="st0" d="M-4518-3942.5l-503.9-644.9"/>
		<path id="Path_30-4_3_" class="st0" d="M-5175.1-4208l810.4-113.9"/>
	</g>
	<ellipse id="Ellipse_3_3_" class="st1" cx="-1740.1" cy="1634.8" rx="388.1" ry="388.1"/>
	<g id="Group_244_3_" transform="translate(2864.517 6070.279)">
		<path id="Path_31_3_" class="st2" d="M-4604.6-4845.2v818.4"/>
		<path id="Path_32_3_" class="st2" d="M-5014.3-4435.5h818.4"/>
		<path id="Path_33_3_" class="st2" d="M-4808.9-4081.9l409.2-708.8"/>
		<path id="Path_34_3_" class="st2" d="M-4808.9-4790.6l409.2,708.8"/>
		<path id="Path_35_3_" class="st2" d="M-4249.9-4231.7l-708.8-409.2"/>
		<path id="Path_36_3_" class="st2" d="M-4958.7-4231.7l708.8-409.2"/>
	</g>
	<path id="Path_135_3_" class="st1" d="M-1740.1,1274.1c199.2,0,360.7,161.5,360.7,360.7s-161.5,360.7-360.7,360.7
		c-11,0-21.8-0.5-32.5-1.4c-184-16.4-328.3-171-328.3-359.3C-2100.8,1435.6-1939.3,1274.1-1740.1,1274.1z"/>
	<g id="Ellipse_5_3_" transform="translate(2821.617 6027.379)">
		<circle class="st3" cx="-4561.7" cy="-4392.6" r="469.6"/>
		<circle class="st4" cx="-4561.7" cy="-4392.6" r="459.1"/>
	</g>
	<g id="Group_245_3_" transform="translate(2915.461 6112.818)">
		<text transform="matrix(1 0 0 1 -4981.6094 -4455.6777)" class="st6 st10" style="font-size:69.8156px;">9</text>
		<text transform="matrix(1 0 0 1 -4941.2124 -4304.3193)" class="st6 st10" style="font-size:69.8156px;">8</text>
		<text transform="matrix(1 0 0 1 -4835.1016 -4724.6821)" class="st6 st10" style="font-size:69.8156px;">11</text>
		<text transform="matrix(1 0 0 1 -4959.835 -4609.9062)" class="st6 st10" style="font-size:69.8156px;">10</text>
		<text transform="matrix(1 0 0 1 -4688.1724 -4762.7012)" class="st6 st10" style="font-size:69.8156px;">12</text>
		<text transform="matrix(1 0 0 1 -4517.7324 -4721.0947)" class="st6 st10" style="font-size:69.8156px;">1</text>
		<text transform="matrix(1 0 0 1 -4409.541 -4607.7544)" class="st6 st10" style="font-size:69.8156px;">2</text>
		<text transform="matrix(1 0 0 1 -4416.4478 -4307.9062)" class="st6 st10" style="font-size:69.8156px;">4</text>
		<text transform="matrix(1 0 0 1 -4373.8296 -4455.6777)" class="st6 st10" style="font-size:69.8156px;">3</text>
		<text transform="matrix(1 0 0 1 -4828.6323 -4190.2607)" class="st6 st10" style="font-size:69.8156px;">7</text>
		<text transform="matrix(1 0 0 1 -4677.4209 -4150.0889)" class="st6 st10" style="font-size:69.8156px;">6</text>
		<text transform="matrix(1 0 0 1 -4521.269 -4193.1318)" class="st6 st10" style="font-size:69.8156px;">5</text>
	</g>
	<path id="Path_124_3_" class="st8" d="M-1870.2,1853.3c0,0-53.4-27.3-90-94.5c81.2-44.3,221.7-121,221.7-121L-1870.2,1853.3z"/>
	<path id="Path_125_7_" class="st7" d="M-1961.5,1756.9c0,0-32.5-50.4-30.6-126.8c92.4,2.3,252.5,6.2,252.5,6.2L-1961.5,1756.9z"/>
	<path id="Path_126_3_" class="st7" d="M-1854.5,1410c0,0,49-31.2,123-28.9c-2.8,89.5-7.6,244.4-7.6,244.4L-1854.5,1410z"/>
	<path id="Path_127_3_" class="st7" d="M-1489.4,1644.5c0,0,3.5,57.8-33.8,120.4c-75.6-47.3-206.5-129.2-206.5-129.2L-1489.4,1644.5
		z"/>
	<path id="Path_128_3_" class="st7" d="M-1989.6,1628.4c0,0-3-59.9,36.9-125.2c78.9,48.2,215.6,131.6,215.6,131.6L-1989.6,1628.4z"
		/>
	<path id="Path_129_3_" class="st7" d="M-1728.8,1383c0,0,59.9-1.9,124.5,39c-49.5,78-135.3,213.2-135.3,213.2L-1728.8,1383z"/>
	<path id="Path_130_3_" class="st7" d="M-1524.9,1765.6c0,0-24.5,49.8-86.9,83.6c-43.5-76.5-118.9-209.1-118.9-209.1L-1524.9,1765.6
		z"/>
	<path id="Path_131_3_" class="st7" d="M-1951.8,1501.2c0,0,27.4-53.4,94.5-90c44.2,81.2,120.9,221.8,120.9,221.8L-1951.8,1501.2z"
		/>
	<path id="Path_132_3_" class="st7" d="M-1515.9,1517.4c0,0,30.9,50.2,27.3,125.8c-90.9-3.4-248.3-9.2-248.3-9.2L-1515.9,1517.4z"/>
	<path id="Path_125_4_" class="st7" d="M-1738.2,1886.3c0,0-61.4,4.9-129-33c48.1-80.5,131.4-219.8,131.4-219.8L-1738.2,1886.3z"/>
	<path id="Path_133_3_" class="st7" d="M-1602.5,1421.9c0,0,51.4,27.7,85.9,94.2c-79.7,42-217.8,114.9-217.8,114.9L-1602.5,1421.9z"
		/>
	<path id="Path_134_3_" class="st7" d="M-1613.4,1851.4c0,0-47.9,32.3-121.8,32c0-89.1,0-243.4,0-243.4L-1613.4,1851.4z"/>
	<circle id="Ellipse_6_3_" cx="-1738.7" cy="1629.2" r="8.8"/>
</g>
<rect x="-1140.2" y="396.9" class="st3" width="549.9" height="365"/>
<text transform="matrix(1 0 0 1 -1140.2329 442.261)"><tspan x="0" y="0" class="st8" style="font-family:'Avenir-Black'; font-size:60px;">5:30 – 6:30 a.m.</tspan><tspan x="0" y="48" style="font-family:'Avenir-Light'; font-size:36px;">José leaves home. Calls leaders </tspan><tspan x="0" y="96" style="font-family:'Avenir-Light'; font-size:36px;">to see who needs transportation </tspan><tspan x="0" y="144" style="font-family:'Avenir-Light'; font-size:36px;">to the main clinic.</tspan></text>
<path id="Path_122_2_" class="st0" d="M-3679.6,1640.5"/>
<g id="Group_240_2_" transform="translate(2946.709 6012.058) rotate(14)">
	<path id="Path_25_2_" class="st0" d="M-7333.7-3019.2l-306.6,758.8"/>
	<path id="Path_26_2_" class="st0" d="M-7866.4-2793.1l758.8,306.6"/>
	<path id="Path_27_2_" class="st0" d="M-7809.8-2386.9l644.9-503.9"/>
	<path id="Path_28_2_" class="st0" d="M-7544.3-3044.1l113.9,810.4"/>
	<path id="Path_29_2_" class="st0" d="M-7235.4-2316.4l-503.9-644.9"/>
	<path id="Path_30_2_" class="st0" d="M-7892.6-2581.9l810.4-113.9"/>
</g>
<g id="Group_241_2_" transform="translate(2821.617 6128.166) rotate(-10)">
	<path id="Path_25-2_2_" class="st0" d="M-5470-5929.6l-306.6,758.8"/>
	<path id="Path_26-2_2_" class="st0" d="M-6002.7-5703.5l758.8,306.6"/>
	<path id="Path_27-2_2_" class="st0" d="M-5946.2-5297.2l644.9-503.9"/>
	<path id="Path_28-2_2_" class="st0" d="M-5680.7-5954.4l113.9,810.4"/>
	<path id="Path_29-2_2_" class="st0" d="M-5371.8-5226.7l-503.9-644.9"/>
	<path id="Path_30-2_2_" class="st0" d="M-6028.9-5492.2l810.4-113.9"/>
</g>
<g id="Group_242_2_" transform="matrix(0.998, -0.07, 0.07, 0.998, 2848.43, 6094.679)">
	<path id="Path_25-3_2_" class="st0" d="M-6043.8-5278.3l-306.6,758.8"/>
	<path id="Path_26-3_2_" class="st0" d="M-6576.4-5052.2l758.8,306.6"/>
	<path id="Path_27-3_2_" class="st0" d="M-6519.9-4645.9l644.9-503.9"/>
	<path id="Path_28-3_2_" class="st0" d="M-6254.4-5303.1l113.9,810.4"/>
	<path id="Path_29-3_2_" class="st0" d="M-5945.5-4575.4l-503.9-644.9"/>
	<path id="Path_30-3_2_" class="st0" d="M-6602.7-4840.9l810.4-113.9"/>
</g>
<g id="Group_243_2_" transform="translate(2877.878 6063.384) rotate(2)">
	<path id="Path_25-4_2_" class="st0" d="M-6554.9-4572.4l-306.6,758.8"/>
	<path id="Path_26-4_2_" class="st0" d="M-7087.6-4346.3l758.8,306.6"/>
	<path id="Path_27-4_2_" class="st0" d="M-7031-3940.1l644.9-503.9"/>
	<path id="Path_28-4_2_" class="st0" d="M-6765.5-4597.2l113.9,810.4"/>
	<path id="Path_29-4_2_" class="st0" d="M-6456.6-3869.6l-503.9-644.9"/>
	<path id="Path_30-4_2_" class="st0" d="M-7113.8-4135.1l810.4-113.9"/>
</g>
<ellipse id="Ellipse_3_2_" class="st1" cx="-3680.1" cy="1640" rx="388.1" ry="388.1"/>
<g id="Group_244_2_" transform="translate(2864.517 6070.279)">
	<path id="Path_31_2_" class="st2" d="M-6544.6-4840v818.4"/>
	<path id="Path_32_2_" class="st2" d="M-6954.3-4430.3h818.4"/>
	<path id="Path_33_2_" class="st2" d="M-6748.9-4076.7l409.2-708.8"/>
	<path id="Path_34_2_" class="st2" d="M-6748.9-4785.4l409.2,708.8"/>
	<path id="Path_35_2_" class="st2" d="M-6189.9-4226.5l-708.8-409.2"/>
	<path id="Path_36_2_" class="st2" d="M-6898.7-4226.5l708.8-409.2"/>
</g>
<path id="Path_135_2_" class="st1" d="M-3680.1,1279.3c199.2,0,360.7,161.5,360.7,360.7s-161.5,360.7-360.7,360.7
	c-11,0-21.8-0.5-32.5-1.4c-184-16.4-328.3-171-328.3-359.3C-4040.8,1440.8-3879.3,1279.3-3680.1,1279.3z"/>
<path id="Path_125_6_" class="st7" d="M-3547.6,1849c0,0-49.2,37.1-126.5,41.5c-2.7-93.7-7.3-256-7.3-256L-3547.6,1849z"/>
<g id="Ellipse_5_2_" transform="translate(2821.617 6027.379)">
	<circle class="st3" cx="-6501.7" cy="-4387.4" r="469.6"/>
	<circle class="st4" cx="-6501.7" cy="-4387.4" r="459.1"/>
</g>
<g id="Group_245_2_" transform="translate(2915.461 6112.818)">
	<text transform="matrix(1 0 0 1 -6921.6094 -4450.457)" class="st6 st10" style="font-size:69.8156px;">9</text>
	<text transform="matrix(1 0 0 1 -6881.2124 -4299.0986)" class="st6 st10" style="font-size:69.8156px;">8</text>
	<text transform="matrix(1 0 0 1 -6775.1016 -4719.4614)" class="st6 st10" style="font-size:69.8156px;">11</text>
	<text transform="matrix(1 0 0 1 -6899.835 -4604.6855)" class="st6 st10" style="font-size:69.8156px;">10</text>
	<text transform="matrix(1 0 0 1 -6628.1724 -4757.4805)" class="st6 st10" style="font-size:69.8156px;">12</text>
	<text transform="matrix(1 0 0 1 -6457.7324 -4715.874)" class="st6 st10" style="font-size:69.8156px;">1</text>
	<text transform="matrix(1 0 0 1 -6349.541 -4602.5337)" class="st6 st10" style="font-size:69.8156px;">2</text>
	<text transform="matrix(1 0 0 1 -6356.4478 -4302.6855)" class="st6 st10" style="font-size:69.8156px;">4</text>
	<text transform="matrix(1 0 0 1 -6313.8296 -4450.457)" class="st6 st10" style="font-size:69.8156px;">3</text>
	<text transform="matrix(1 0 0 1 -6768.6323 -4185.04)" class="st6 st10" style="font-size:69.8156px;">7</text>
	<text transform="matrix(1 0 0 1 -6617.4209 -4144.8682)" class="st6 st10" style="font-size:69.8156px;">6</text>
	<text transform="matrix(1 0 0 1 -6461.269 -4187.9111)" class="st6 st10" style="font-size:69.8156px;">5</text>
</g>
<path id="Path_125_5_" class="st7" d="M-3803.9,1860.7c0,0-54.2-25.6-92.9-91.6c79.7-46.8,217.8-127.9,217.8-127.9L-3803.9,1860.7z"
	/>
<path id="Path_124_2_" class="st8" d="M-3676.1,1892.7c0,0-59.8,6.3-126.8-30.7c44.7-83,122-226.7,122-226.7L-3676.1,1892.7z"/>
<path id="Path_126_2_" class="st7" d="M-3896,1509.5c0,0,25.2-52.3,89.3-89.4c44.8,77.5,122.5,211.7,122.5,211.7L-3896,1509.5z"/>
<path id="Path_127_2_" class="st7" d="M-3462,1516.1c0,0,33.4,47.3,34.8,120.1c-89.1-0.3-243.6-0.9-243.6-0.9L-3462,1516.1z"/>
<path id="Path_128_2_" class="st7" d="M-3895.5,1766.3c0,0-34.1-49.3-34.7-125.8c92.4-0.7,252.6-1.9,252.6-1.9L-3895.5,1766.3z"/>
<path id="Path_129_2_" class="st7" d="M-3803.5,1420.2c0,0,49.9-33.3,126.3-32.5c-0.9,92.4-2.4,252.5-2.4,252.5L-3803.5,1420.2z"/>
<path id="Path_130_2_" class="st7" d="M-3428.4,1637.7c0,0,5.4,55.3-29.8,116.9c-77.4-42.1-211.4-114.9-211.4-114.9L-3428.4,1637.7z
	"/>
<path id="Path_131_2_" class="st7" d="M-3930.5,1638.3c0,0-4.9-59.8,32.8-126.3c80.4,45.6,219.7,124.7,219.7,124.7L-3930.5,1638.3z"
	/>
<path id="Path_132_2_" class="st7" d="M-3551.6,1422.1c0,0,52.7,26.4,89.6,92.5c-79,45.1-215.8,123.2-215.8,123.2L-3551.6,1422.1z"
	/>
<path id="Path_133_2_" class="st7" d="M-3675.6,1386.6c0,0,58.3-3.6,122.7,34.7c-45.5,77.8-124.4,212.5-124.4,212.5L-3675.6,1386.6z
	"/>
<path id="Path_134_2_" class="st7" d="M-3458.3,1757.3c0,0-23.6,52.7-86.6,91.4c-47-75.7-128.4-206.8-128.4-206.8L-3458.3,1757.3z"
	/>
<circle id="Ellipse_6_2_" cx="-3678.7" cy="1634.4" r="8.8"/>
<rect x="-3080.2" y="1492.2" class="st3" width="549.9" height="461.2"/>
<text transform="matrix(1 0 0 1 -3080.2332 1537.5508)"><tspan x="0" y="0" class="st8" style="font-family:'Avenir-Black'; font-size:60px;">6:30 – 7:00 a.m.</tspan><tspan x="0" y="48" style="font-family:'Avenir-Light'; font-size:36px;">People arrive at main clinic. </tspan><tspan x="0" y="96" style="font-family:'Avenir-Light'; font-size:36px;">Preparation begins. Workers load </tspan><tspan x="0" y="144" style="font-family:'Avenir-Light'; font-size:36px;">supplies designated by a list </tspan><tspan x="0" y="192" style="font-family:'Avenir-Light'; font-size:36px;">given community leader of the </tspan><tspan x="0" y="240" style="font-family:'Avenir-Light'; font-size:36px;">day onto bus. Leader gives </tspan><tspan x="0" y="288" style="font-family:'Avenir-Light'; font-size:36px;">overview of what needs to be </tspan><tspan x="0" y="336" style="font-family:'Avenir-Light'; font-size:36px;">considered for the community of </tspan><tspan x="0" y="384" style="font-family:'Avenir-Light'; font-size:36px;">the day.</tspan></text>
<rect x="-1140.2" y="1492.2" class="st3" width="549.9" height="300.9"/>
<text transform="matrix(1 0 0 1 -1140.2338 1537.5508)"><tspan x="0" y="0" class="st8" style="font-family:'Avenir-Black'; font-size:60px;">7:00 – 8:00 a.m.</tspan><tspan x="0" y="48" style="font-family:'Avenir-Light'; font-size:36px;">Workers board bus and ride to </tspan><tspan x="0" y="96" style="font-family:'Avenir-Light'; font-size:36px;">the clinic&apos;s home base for the </tspan><tspan x="0" y="144" style="font-family:'Avenir-Light'; font-size:36px;">day. Locations are anywhere from </tspan><tspan x="0" y="192" style="font-family:'Avenir-Light'; font-size:36px;">15 minutes to a couple of hours </tspan><tspan x="0" y="240" style="font-family:'Avenir-Light'; font-size:36px;">away.</tspan></text>
<path id="Path_122_6_" class="st0" d="M-3679.6,2756.1"/>
<circle id="Ellipse_6_6_" cx="-3678.7" cy="2750" r="8.8"/>
<g>
	<g id="Group_240_6_" transform="translate(2946.709 6012.058) rotate(14)">
		<path id="Path_25_6_" class="st0" d="M-7067.6-1951.9l-306.6,758.8"/>
		<path id="Path_26_6_" class="st0" d="M-7600.3-1725.8l758.8,306.6"/>
		<path id="Path_27_6_" class="st0" d="M-7543.7-1319.6l644.9-503.9"/>
		<path id="Path_28_6_" class="st0" d="M-7278.2-1976.7l113.9,810.4"/>
		<path id="Path_29_6_" class="st0" d="M-6969.3-1249.1l-503.9-644.9"/>
		<path id="Path_30_6_" class="st0" d="M-7626.5-1514.6l810.4-113.9"/>
	</g>
	<g id="Group_241_6_" transform="translate(2821.617 6128.166) rotate(-10)">
		<path id="Path_25-2_6_" class="st0" d="M-5661-4846.3l-306.6,758.8"/>
		<path id="Path_26-2_6_" class="st0" d="M-6193.7-4620.2l758.8,306.6"/>
		<path id="Path_27-2_6_" class="st0" d="M-6137.2-4214l644.9-503.9"/>
		<path id="Path_28-2_6_" class="st0" d="M-5871.7-4871.1l113.9,810.4"/>
		<path id="Path_29-2_6_" class="st0" d="M-5562.8-4143.4l-503.9-644.9"/>
		<path id="Path_30-2_6_" class="st0" d="M-6219.9-4408.9l810.4-113.9"/>
	</g>
	<g id="Group_242_6_" transform="matrix(0.998, -0.07, 0.07, 0.998, 2848.43, 6094.679)">
		<path id="Path_25-3_6_" class="st0" d="M-6120.7-4181.5l-306.6,758.8"/>
		<path id="Path_26-3_6_" class="st0" d="M-6653.4-3955.3l758.8,306.6"/>
		<path id="Path_27-3_6_" class="st0" d="M-6596.8-3549.1l644.9-503.9"/>
		<path id="Path_28-3_6_" class="st0" d="M-6331.3-4206.3l113.9,810.4"/>
		<path id="Path_29-3_6_" class="st0" d="M-6022.4-3478.6l-503.9-644.9"/>
		<path id="Path_30-3_6_" class="st0" d="M-6679.6-3744.1l810.4-113.9"/>
	</g>
	<g id="Group_243_6_" transform="translate(2877.878 6063.384) rotate(2)">
		<path id="Path_25-4_6_" class="st0" d="M-6516.5-3473.1l-306.6,758.8"/>
		<path id="Path_26-4_6_" class="st0" d="M-7049.2-3247l758.8,306.6"/>
		<path id="Path_27-4_6_" class="st0" d="M-6992.6-2840.8l644.9-503.9"/>
		<path id="Path_28-4_6_" class="st0" d="M-6727.1-3497.9l113.9,810.4"/>
		<path id="Path_29-4_6_" class="st0" d="M-6418.2-2770.2l-503.9-644.9"/>
		<path id="Path_30-4_6_" class="st0" d="M-7075.4-3035.7l810.4-113.9"/>
	</g>
	<ellipse id="Ellipse_3_6_" class="st1" cx="-3680.1" cy="2740" rx="388.1" ry="388.1"/>
	<g id="Group_244_6_" transform="translate(2864.517 6070.279)">
		<path id="Path_31_6_" class="st2" d="M-6544.6-3740v818.4"/>
		<path id="Path_32_6_" class="st2" d="M-6954.3-3330.3h818.4"/>
		<path id="Path_33_6_" class="st2" d="M-6748.9-2976.7l409.2-708.8"/>
		<path id="Path_34_6_" class="st2" d="M-6748.9-3685.4l409.2,708.8"/>
		<path id="Path_35_6_" class="st2" d="M-6189.9-3126.5l-708.8-409.2"/>
		<path id="Path_36_6_" class="st2" d="M-6898.7-3126.5l708.8-409.2"/>
	</g>
	<path id="Path_135_6_" class="st1" d="M-3680.1,2379.3c199.2,0,360.7,161.5,360.7,360.7c0,199.2-161.5,360.7-360.7,360.7
		c-11,0-21.8-0.5-32.5-1.4c-184-16.4-328.3-171-328.3-359.3C-4040.8,2540.8-3879.3,2379.3-3680.1,2379.3z"/>
	<g id="Ellipse_5_6_" transform="translate(2821.617 6027.379)">
		<circle class="st3" cx="-6501.7" cy="-3287.4" r="469.6"/>
		<circle class="st4" cx="-6501.7" cy="-3287.4" r="459.1"/>
	</g>
	<g id="Group_245_6_" transform="translate(2915.461 6112.818)">
		<text transform="matrix(1 0 0 1 -6921.6094 -3350.457)" class="st6 st10" style="font-size:69.8156px;">9</text>
		<text transform="matrix(1 0 0 1 -6881.2124 -3199.0986)" class="st6 st10" style="font-size:69.8156px;">8</text>
		<text transform="matrix(1 0 0 1 -6775.1016 -3619.4614)" class="st6 st10" style="font-size:69.8156px;">11</text>
		<text transform="matrix(1 0 0 1 -6899.835 -3504.6855)" class="st6 st10" style="font-size:69.8156px;">10</text>
		<text transform="matrix(1 0 0 1 -6628.1724 -3657.4805)" class="st6 st10" style="font-size:69.8156px;">12</text>
		<text transform="matrix(1 0 0 1 -6457.7324 -3615.874)" class="st6 st10" style="font-size:69.8156px;">1</text>
		<text transform="matrix(1 0 0 1 -6349.541 -3502.5337)" class="st6 st10" style="font-size:69.8156px;">2</text>
		<text transform="matrix(1 0 0 1 -6356.4478 -3202.6855)" class="st6 st10" style="font-size:69.8156px;">4</text>
		<text transform="matrix(1 0 0 1 -6313.8296 -3350.457)" class="st6 st10" style="font-size:69.8156px;">3</text>
		<text transform="matrix(1 0 0 1 -6768.6323 -3085.04)" class="st6 st10" style="font-size:69.8156px;">7</text>
		<text transform="matrix(1 0 0 1 -6617.4209 -3044.8682)" class="st6 st10" style="font-size:69.8156px;">6</text>
		<text transform="matrix(1 0 0 1 -6461.269 -3087.9111)" class="st6 st10" style="font-size:69.8156px;">5</text>
	</g>
	<g>
		<path id="Path_125_17_" class="st7" d="M-3800.9,2961.1c0,0-55.8-26-96-92.2c81.5-46.3,222.6-126.6,222.6-126.6L-3800.9,2961.1z"
			/>
		<path id="Path_125_16_" class="st8" d="M-3896.5,2868.4c0,0-34.2-49.3-34.9-125.7c92.4-0.8,252.6-2.3,252.6-2.3L-3896.5,2868.4z"
			/>
		<path id="Path_126_6_" class="st7" d="M-3801.3,2518.1c0,0,47.9-32.8,121.9-33c0.2,89.5,0.7,244.6,0.7,244.6L-3801.3,2518.1z"/>
		<path id="Path_127_6_" class="st7" d="M-3428.4,2740.2c0,0,5.4,57.7-29.7,121.4c-77.1-44.7-210.7-122.2-210.7-122.2
			L-3428.4,2740.2z"/>
		<path id="Path_128_6_" class="st7" d="M-3929,2741c0,0-5-59.8,32.6-126.3c80.5,45.5,219.9,124.3,219.9,124.3L-3929,2741z"/>
		<path id="Path_129_6_" class="st7" d="M-3676.6,2486.8c0,0,59.8-4,125.7,34.8c-46.8,79.7-128,217.6-128,217.6L-3676.6,2486.8z"/>
		<path id="Path_130_6_" class="st7" d="M-3459.9,2862.3c0,0-22.8,50.6-84,86.5c-46.1-75-125.9-205-125.9-205L-3459.9,2862.3z"/>
		<path id="Path_131_6_" class="st7" d="M-3895.4,2612.5c0,0,25.6-54.3,91.4-93.1c46.9,79.6,128.3,217.6,128.3,217.6L-3895.4,2612.5
			z"/>
		<path id="Path_132_6_" class="st7" d="M-3459.2,2614c0,0,32.6,49.2,31.5,124.8c-90.9-0.3-248.5-0.8-248.5-0.8L-3459.2,2614z"/>
		<path id="Path_125_15_" class="st7" d="M-3668.9,2990.2c0,0-61.2,6.9-130-28.6c45.4-82,123.9-224.2,123.9-224.2L-3668.9,2990.2z"
			/>
		<path id="Path_133_6_" class="st7" d="M-3549,2521.5c0,0,52.4,26,89,91.3c-78.2,44.7-213.8,122.2-213.8,122.2L-3549,2521.5z"/>
		<path id="Path_134_6_" class="st7" d="M-3545.4,2951.1c0,0-46.8,33.9-120.6,36.1c-3-89-8.3-243.3-8.3-243.3L-3545.4,2951.1z"/>
	</g>
	<rect x="-3080.2" y="2592.2" class="st3" width="549.9" height="461.2"/>
	<text transform="matrix(1 0 0 1 -3080.2329 2637.5508)"><tspan x="0" y="0" class="st8" style="font-family:'Avenir-Black'; font-size:60px;">8:00 – 9:00 a.m.</tspan><tspan x="0" y="48" style="font-family:'Avenir-Light'; font-size:36px;">Tents and care stations are set </tspan><tspan x="0" y="96" style="font-family:'Avenir-Light'; font-size:36px;">up.</tspan></text>
</g>
<g>
	<path id="Path_122_7_" class="st0" d="M-1739.6,2740.5"/>
	<g id="Group_240_7_" transform="translate(2946.709 6012.058) rotate(14)">
		<path id="Path_25_7_" class="st0" d="M-5185.2-2421.3l-306.6,758.8"/>
		<path id="Path_26_7_" class="st0" d="M-5717.9-2195.1l758.8,306.6"/>
		<path id="Path_27_7_" class="st0" d="M-5661.3-1788.9l644.9-503.9"/>
		<path id="Path_28_7_" class="st0" d="M-5395.8-2446.1l113.9,810.4"/>
		<path id="Path_29_7_" class="st0" d="M-5087-1718.4l-503.9-644.9"/>
		<path id="Path_30_7_" class="st0" d="M-5744.1-1983.9l810.4-113.9"/>
	</g>
	<g id="Group_241_7_" transform="translate(2821.617 6128.166) rotate(-10)">
		<path id="Path_25-2_7_" class="st0" d="M-3750.5-4509.4l-306.6,758.8"/>
		<path id="Path_26-2_7_" class="st0" d="M-4283.2-4283.3l758.8,306.6"/>
		<path id="Path_27-2_7_" class="st0" d="M-4226.6-3877.1l644.9-503.9"/>
		<path id="Path_28-2_7_" class="st0" d="M-3961.1-4534.2l113.9,810.4"/>
		<path id="Path_29-2_7_" class="st0" d="M-3652.3-3806.6l-503.9-644.9"/>
		<path id="Path_30-2_7_" class="st0" d="M-4309.4-4072.1L-3499-4186"/>
	</g>
	<g id="Group_242_7_" transform="matrix(0.998, -0.07, 0.07, 0.998, 2848.43, 6094.679)">
		<path id="Path_25-3_7_" class="st0" d="M-4186.3-4045.8l-306.6,758.8"/>
		<path id="Path_26-3_7_" class="st0" d="M-4719-3819.7l758.8,306.6"/>
		<path id="Path_27-3_7_" class="st0" d="M-4662.5-3413.5l644.9-503.9"/>
		<path id="Path_28-3_7_" class="st0" d="M-4397-4070.6l113.9,810.4"/>
		<path id="Path_29-3_7_" class="st0" d="M-4088.1-3342.9l-503.9-644.9"/>
		<path id="Path_30-3_7_" class="st0" d="M-4745.2-3608.4l810.4-113.9"/>
	</g>
	<g id="Group_243_7_" transform="translate(2877.878 6063.384) rotate(2)">
		<path id="Path_25-4_7_" class="st0" d="M-4577.7-3540.8l-306.6,758.8"/>
		<path id="Path_26-4_7_" class="st0" d="M-5110.4-3314.7l758.8,306.6"/>
		<path id="Path_27-4_7_" class="st0" d="M-5053.8-2908.5l644.9-503.9"/>
		<path id="Path_28-4_7_" class="st0" d="M-4788.3-3565.6l113.9,810.4"/>
		<path id="Path_29-4_7_" class="st0" d="M-4479.4-2837.9l-503.9-644.9"/>
		<path id="Path_30-4_7_" class="st0" d="M-5136.6-3103.4l810.4-113.9"/>
	</g>
	<ellipse id="Ellipse_3_7_" class="st1" cx="-1740.1" cy="2740" rx="388.1" ry="388.1"/>
	<g id="Group_244_7_" transform="translate(2864.517 6070.279)">
		<path id="Path_31_7_" class="st2" d="M-4604.6-3740v818.4"/>
		<path id="Path_32_7_" class="st2" d="M-5014.3-3330.3h818.4"/>
		<path id="Path_33_7_" class="st2" d="M-4808.9-2976.7l409.2-708.8"/>
		<path id="Path_34_7_" class="st2" d="M-4808.9-3685.4l409.2,708.8"/>
		<path id="Path_35_7_" class="st2" d="M-4249.9-3126.5l-708.8-409.2"/>
		<path id="Path_36_7_" class="st2" d="M-4958.7-3126.5l708.8-409.2"/>
	</g>
	<path id="Path_135_7_" class="st1" d="M-1740.1,2379.3c199.2,0,360.7,161.5,360.7,360.7c0,199.2-161.5,360.7-360.7,360.7
		c-11,0-21.8-0.5-32.5-1.4c-184-16.4-328.3-171-328.3-359.3C-2100.8,2540.8-1939.3,2379.3-1740.1,2379.3z"/>
	<g id="Ellipse_5_7_" transform="translate(2821.617 6027.379)">
		<circle class="st3" cx="-4561.7" cy="-3287.4" r="469.6"/>
		<circle class="st4" cx="-4561.7" cy="-3287.4" r="459.1"/>
	</g>
	<g id="Group_245_7_" transform="translate(2915.461 6112.818)">
		<text transform="matrix(1 0 0 1 -4981.6094 -3350.457)" class="st6 st10" style="font-size:69.8156px;">9</text>
		<text transform="matrix(1 0 0 1 -4941.2124 -3199.0986)" class="st6 st10" style="font-size:69.8156px;">8</text>
		<text transform="matrix(1 0 0 1 -4835.1016 -3619.4614)" class="st6 st10" style="font-size:69.8156px;">11</text>
		<text transform="matrix(1 0 0 1 -4959.835 -3504.6855)" class="st6 st10" style="font-size:69.8156px;">10</text>
		<text transform="matrix(1 0 0 1 -4688.1724 -3657.4805)" class="st6 st10" style="font-size:69.8156px;">12</text>
		<text transform="matrix(1 0 0 1 -4517.7324 -3615.874)" class="st6 st10" style="font-size:69.8156px;">1</text>
		<text transform="matrix(1 0 0 1 -4409.541 -3502.5337)" class="st6 st10" style="font-size:69.8156px;">2</text>
		<text transform="matrix(1 0 0 1 -4416.4478 -3202.6855)" class="st6 st10" style="font-size:69.8156px;">4</text>
		<text transform="matrix(1 0 0 1 -4373.8296 -3350.457)" class="st6 st10" style="font-size:69.8156px;">3</text>
		<text transform="matrix(1 0 0 1 -4828.6323 -3085.04)" class="st6 st10" style="font-size:69.8156px;">7</text>
		<text transform="matrix(1 0 0 1 -4677.4209 -3044.8682)" class="st6 st10" style="font-size:69.8156px;">6</text>
		<text transform="matrix(1 0 0 1 -4521.269 -3087.9111)" class="st6 st10" style="font-size:69.8156px;">5</text>
	</g>
	<g>
		<path id="Path_125_20_" class="st7" d="M-1955.8,2870.8c0,0-35.4-50.4-37.1-127.8c93.7,0.6,256.1,1.5,256.1,1.5L-1955.8,2870.8z"
			/>
		<path id="Path_125_19_" class="st8" d="M-1992.3,2742.8c0,0-5-59.8,32.5-126.4c80.5,45.4,220,124.1,220,124.1L-1992.3,2742.8z"/>
		<path id="Path_126_7_" class="st7" d="M-1735,2486.8c0,0,57.9-4.5,122.1,32.3c-44.5,77.7-121.5,212.2-121.5,212.2L-1735,2486.8z"
			/>
		<path id="Path_127_7_" class="st7" d="M-1522.8,2865.4c0,0-24.1,52.7-86.4,90.4c-44.5-77.3-121.6-211.1-121.6-211.1
			L-1522.8,2865.4z"/>
		<path id="Path_128_7_" class="st7" d="M-1956.8,2616.2c0,0,25.5-54.3,91.4-93.2c47,79.6,128.5,217.5,128.5,217.5L-1956.8,2616.2z"
			/>
		<path id="Path_129_7_" class="st7" d="M-1611.3,2522c0,0,53.8,26.4,91.6,92.9c-80.4,45.6-219.6,124.7-219.6,124.7L-1611.3,2522z"
			/>
		<path id="Path_130_7_" class="st7" d="M-1611,2955.6c0,0-45.1,32.5-116,32.9c-2.5-88-6.8-240.5-6.8-240.5L-1611,2955.6z"/>
		<path id="Path_131_7_" class="st7" d="M-1863.6,2521.6c0,0,49.2-34.3,125.7-35c0.9,92.4,2.5,252.6,2.5,252.6L-1863.6,2521.6z"/>
		<path id="Path_132_7_" class="st7" d="M-1486.4,2740.7c0,0,3.7,58.9-35,123.9c-78.6-45.7-214.9-124.7-214.9-124.7L-1486.4,2740.7z
			"/>
		<path id="Path_125_18_" class="st7" d="M-1856,2962c0,0-56.5-24.6-98.4-89.7c80.3-48.4,219.3-132.4,219.3-132.4L-1856,2962z"/>
		<path id="Path_133_7_" class="st7" d="M-1518,2615.7c0,0,32.4,48.7,31.5,123.5c-90.1-0.3-246.2-0.9-246.2-0.9L-1518,2615.7z"/>
		<path id="Path_134_7_" class="st7" d="M-1729.4,2989.8c0,0-57.5,6-122.5-28.9c41.9-78.6,114.3-214.9,114.3-214.9L-1729.4,2989.8z"
			/>
	</g>
	<circle id="Ellipse_6_7_" cx="-1738.7" cy="2734.4" r="8.8"/>
	<rect x="-1140.2" y="2592.2" class="st3" width="549.9" height="461.2"/>
	<text transform="matrix(1 0 0 1 -1140.2329 2637.5503)"><tspan x="0" y="0" class="st8" style="font-family:'Avenir-Black'; font-size:60px;">9:00 – 10:00 a.m.</tspan><tspan x="0" y="48" style="font-family:'Avenir-Light'; font-size:36px;">People start arriving at the clinic&apos;s </tspan><tspan x="0" y="96" style="font-family:'Avenir-Light'; font-size:36px;">home base for the day.  Health </tspan><tspan x="0" y="144" style="font-family:'Avenir-Light'; font-size:36px;">services offered include blood </tspan><tspan x="0" y="192" style="font-family:'Avenir-Light'; font-size:36px;">pressure tests, wound treatments </tspan><tspan x="0" y="240" style="font-family:'Avenir-Light'; font-size:36px;">and mental health services.</tspan></text>
</g>
<g>
	<path id="Path_122_9_" class="st0" d="M-1739.6,3840.5"/>
	<g id="Group_240_9_" transform="translate(2946.709 6012.058) rotate(14)">
		<path id="Path_25_9_" class="st0" d="M-4919.1-1353.9l-306.6,758.8"/>
		<path id="Path_26_9_" class="st0" d="M-5451.8-1127.8l758.8,306.6"/>
		<path id="Path_27_9_" class="st0" d="M-5395.2-721.6l644.9-503.9"/>
		<path id="Path_28_9_" class="st0" d="M-5129.7-1378.7l113.9,810.4"/>
		<path id="Path_29_9_" class="st0" d="M-4820.8-651.1l-503.9-644.9"/>
		<path id="Path_30_9_" class="st0" d="M-5478-916.6l810.4-113.9"/>
	</g>
	<g id="Group_241_9_" transform="translate(2821.617 6128.166) rotate(-10)">
		<path id="Path_25-2_9_" class="st0" d="M-3941.5-3426.1l-306.6,758.8"/>
		<path id="Path_26-2_9_" class="st0" d="M-4474.2-3200l758.8,306.6"/>
		<path id="Path_27-2_9_" class="st0" d="M-4417.7-2793.8l644.9-503.9"/>
		<path id="Path_28-2_9_" class="st0" d="M-4152.2-3450.9l113.9,810.4"/>
		<path id="Path_29-2_9_" class="st0" d="M-3843.3-2723.3l-503.9-644.9"/>
		<path id="Path_30-2_9_" class="st0" d="M-4500.4-2988.8l810.4-113.9"/>
	</g>
	<g id="Group_242_9_" transform="matrix(0.998, -0.07, 0.07, 0.998, 2848.43, 6094.679)">
		<path id="Path_25-3_9_" class="st0" d="M-4263.2-2949l-306.6,758.8"/>
		<path id="Path_26-3_9_" class="st0" d="M-4795.9-2722.9l758.8,306.6"/>
		<path id="Path_27-3_9_" class="st0" d="M-4739.4-2316.6l644.9-503.9"/>
		<path id="Path_28-3_9_" class="st0" d="M-4473.9-2973.8l113.9,810.4"/>
		<path id="Path_29-3_9_" class="st0" d="M-4165-2246.1l-503.9-644.9"/>
		<path id="Path_30-3_9_" class="st0" d="M-4822.1-2511.6l810.4-113.9"/>
	</g>
	<g id="Group_243_9_" transform="translate(2877.878 6063.384) rotate(2)">
		<path id="Path_25-4_9_" class="st0" d="M-4539.3-2441.5l-306.6,758.8"/>
		<path id="Path_26-4_9_" class="st0" d="M-5072-2215.3l758.8,306.6"/>
		<path id="Path_27-4_9_" class="st0" d="M-5015.4-1809.1l644.9-503.9"/>
		<path id="Path_28-4_9_" class="st0" d="M-4749.9-2466.3l113.9,810.4"/>
		<path id="Path_29-4_9_" class="st0" d="M-4441-1738.6l-503.9-644.9"/>
		<path id="Path_30-4_9_" class="st0" d="M-5098.2-2004.1l810.4-113.9"/>
	</g>
	<ellipse id="Ellipse_3_9_" class="st1" cx="-1740.1" cy="3840" rx="388.1" ry="388.1"/>
	<g id="Group_244_9_" transform="translate(2864.517 6070.279)">
		<path id="Path_31_9_" class="st2" d="M-4604.6-2640v818.4"/>
		<path id="Path_32_9_" class="st2" d="M-5014.3-2230.3h818.4"/>
		<path id="Path_33_9_" class="st2" d="M-4808.9-1876.7l409.2-708.8"/>
		<path id="Path_34_9_" class="st2" d="M-4808.9-2585.4l409.2,708.8"/>
		<path id="Path_35_9_" class="st2" d="M-4249.9-2026.5l-708.8-409.2"/>
		<path id="Path_36_9_" class="st2" d="M-4958.7-2026.5l708.8-409.2"/>
	</g>
	<path id="Path_135_9_" class="st1" d="M-1740.1,3479.3c199.2,0,360.7,161.5,360.7,360.7c0,199.2-161.5,360.7-360.7,360.7
		c-11,0-21.8-0.5-32.5-1.4c-184-16.4-328.3-171-328.3-359.3C-2100.8,3640.8-1939.3,3479.3-1740.1,3479.3z"/>
	<g id="Ellipse_5_9_" transform="translate(2821.617 6027.379)">
		<circle class="st3" cx="-4561.7" cy="-2187.4" r="469.6"/>
		<circle class="st4" cx="-4561.7" cy="-2187.4" r="459.1"/>
	</g>
	<g id="Group_245_9_" transform="translate(2915.461 6112.818)">
		<text transform="matrix(1 0 0 1 -4981.6094 -2250.457)" class="st6 st10" style="font-size:69.8156px;">9</text>
		<text transform="matrix(1 0 0 1 -4941.2124 -2099.0986)" class="st6 st10" style="font-size:69.8156px;">8</text>
		<text transform="matrix(1 0 0 1 -4835.1016 -2519.4614)" class="st6 st10" style="font-size:69.8156px;">11</text>
		<text transform="matrix(1 0 0 1 -4959.835 -2404.6855)" class="st6 st10" style="font-size:69.8156px;">10</text>
		<text transform="matrix(1 0 0 1 -4688.1724 -2557.4805)" class="st6 st10" style="font-size:69.8156px;">12</text>
		<text transform="matrix(1 0 0 1 -4517.7324 -2515.874)" class="st6 st10" style="font-size:69.8156px;">1</text>
		<text transform="matrix(1 0 0 1 -4409.541 -2402.5337)" class="st6 st10" style="font-size:69.8156px;">2</text>
		<text transform="matrix(1 0 0 1 -4416.4478 -2102.6855)" class="st6 st10" style="font-size:69.8156px;">4</text>
		<text transform="matrix(1 0 0 1 -4373.8296 -2250.457)" class="st6 st10" style="font-size:69.8156px;">3</text>
		<text transform="matrix(1 0 0 1 -4828.6323 -1985.04)" class="st6 st10" style="font-size:69.8156px;">7</text>
		<text transform="matrix(1 0 0 1 -4677.4209 -1944.8682)" class="st6 st10" style="font-size:69.8156px;">6</text>
		<text transform="matrix(1 0 0 1 -4521.269 -1987.9111)" class="st6 st10" style="font-size:69.8156px;">5</text>
	</g>
	<g>
		<path id="Path_125_26_" class="st7" d="M-1869.4,3619.5c0,0,50.9-34.7,128.3-35.4c-1.8,93.7-4.8,256.1-4.8,256.1L-1869.4,3619.5z"
			/>
		<path id="Path_125_25_" class="st8" d="M-1740.9,3584.6c0,0,59.8-4.3,125.9,34.2c-46.5,79.9-127,218.4-127,218.4L-1740.9,3584.6z"
			/>
		<path id="Path_126_9_" class="st7" d="M-1488.3,3845.3c0,0,3.8,58-33.9,121.7c-77.1-45.5-210.6-124.3-210.6-124.3L-1488.3,3845.3z
			"/>
		<path id="Path_127_9_" class="st7" d="M-1869.6,4052.6c0,0-52.4-24.8-89.3-87.6c77.8-43.5,212.6-118.8,212.6-118.8L-1869.6,4052.6
			z"/>
		<path id="Path_128_9_" class="st7" d="M-1614.7,3621.8c0,0,54,26.2,92,92.6c-80.2,46-219.1,125.6-219.1,125.6L-1614.7,3621.8z"/>
		<path id="Path_129_9_" class="st7" d="M-1525.1,3968.5c0,0-27.1,53.5-94.1,90.3c-44.6-81-121.8-221.2-121.8-221.2L-1525.1,3968.5z
			"/>
		<path id="Path_130_9_" class="st7" d="M-1958.6,3963.2c0,0-31.9-45.5-31.4-116.4c88-1.3,240.5-3.6,240.5-3.6L-1958.6,3963.2z"/>
		<path id="Path_131_9_" class="st7" d="M-1521.4,3716.2c0,0,33.6,49.7,33.4,126.1c-92.4-0.3-252.6-0.8-252.6-0.8L-1521.4,3716.2z"
			/>
		<path id="Path_132_9_" class="st7" d="M-1745.4,4090.5c0,0-58.9,2.9-123.4-36.6c46.7-78,127.5-213.2,127.5-213.2L-1745.4,4090.5z"
			/>
		<path id="Path_125_24_" class="st7" d="M-1961.8,3718.1c0,0,25.3-56.2,91-97.2c47.4,80.9,129.5,221,129.5,221L-1961.8,3718.1z"/>
		<path id="Path_133_9_" class="st7" d="M-1620,4060.6c0,0-49.1,31.7-123.9,29.9c1.5-90.1,4.1-246.2,4.1-246.2L-1620,4060.6z"/>
		<path id="Path_134_9_" class="st7" d="M-1991.3,3844.3c0,0-5.3-57.6,30.5-122.2c78.1,42.9,213.4,117.1,213.4,117.1L-1991.3,3844.3
			z"/>
	</g>
	<circle id="Ellipse_6_9_" cx="-1738.7" cy="3834.4" r="8.8"/>
	<rect x="-1140.2" y="3692.2" class="st3" width="549.9" height="461.2"/>
	<text transform="matrix(1 0 0 1 -1140.2329 3737.5503)"><tspan x="0" y="0" class="st8" style="font-family:'Avenir-Black'; font-size:60px;">12:00 – 1:00 p.m.</tspan><tspan x="0" y="48" style="font-family:'Avenir-Light'; font-size:36px;">Brigades go back to finishing </tspan><tspan x="0" y="96" style="font-family:'Avenir-Light'; font-size:36px;">rounds.</tspan></text>
</g>
<g>
	<path id="Path_122_10_" class="st0" d="M-3679.6,4940.5"/>
	<g id="Group_240_10_" transform="translate(2946.709 6012.058) rotate(14)">
		<path id="Path_25_10_" class="st0" d="M-6535.3,182.7l-306.6,758.8"/>
		<path id="Path_26_10_" class="st0" d="M-7068,408.8l758.8,306.6"/>
		<path id="Path_27_10_" class="st0" d="M-7011.5,815l644.9-503.9"/>
		<path id="Path_28_10_" class="st0" d="M-6746,157.9l113.9,810.4"/>
		<path id="Path_29_10_" class="st0" d="M-6437.1,885.6L-6941,240.7"/>
		<path id="Path_30_10_" class="st0" d="M-7094.2,620.1l810.4-113.9"/>
	</g>
	<g id="Group_241_10_" transform="translate(2821.617 6128.166) rotate(-10)">
		<path id="Path_25-2_10_" class="st0" d="M-6043.1-2679.7l-306.6,758.8"/>
		<path id="Path_26-2_10_" class="st0" d="M-6575.7-2453.6l758.8,306.6"/>
		<path id="Path_27-2_10_" class="st0" d="M-6519.2-2047.4l644.9-503.9"/>
		<path id="Path_28-2_10_" class="st0" d="M-6253.7-2704.5l113.9,810.4"/>
		<path id="Path_29-2_10_" class="st0" d="M-5944.8-1976.9l-503.9-644.9"/>
		<path id="Path_30-2_10_" class="st0" d="M-6602-2242.4l810.4-113.9"/>
	</g>
	<g id="Group_242_10_" transform="matrix(0.998, -0.07, 0.07, 0.998, 2848.43, 6094.679)">
		<path id="Path_25-3_10_" class="st0" d="M-6274.5-1987.8l-306.6,758.8"/>
		<path id="Path_26-3_10_" class="st0" d="M-6807.2-1761.7l758.8,306.6"/>
		<path id="Path_27-3_10_" class="st0" d="M-6750.7-1355.5l644.9-503.9"/>
		<path id="Path_28-3_10_" class="st0" d="M-6485.2-2012.7l113.9,810.4"/>
		<path id="Path_29-3_10_" class="st0" d="M-6176.3-1285l-503.9-644.9"/>
		<path id="Path_30-3_10_" class="st0" d="M-6833.5-1550.5l810.4-113.9"/>
	</g>
	<g id="Group_243_10_" transform="translate(2877.878 6063.384) rotate(2)">
		<path id="Path_25-4_10_" class="st0" d="M-6439.7-1274.4l-306.6,758.8"/>
		<path id="Path_26-4_10_" class="st0" d="M-6972.4-1048.3l758.8,306.6"/>
		<path id="Path_27-4_10_" class="st0" d="M-6915.8-642.1l644.9-503.9"/>
		<path id="Path_28-4_10_" class="st0" d="M-6650.3-1299.2l113.9,810.4"/>
		<path id="Path_29-4_10_" class="st0" d="M-6341.5-571.6l-503.9-644.9"/>
		<path id="Path_30-4_10_" class="st0" d="M-6998.6-837.1l810.4-113.9"/>
	</g>
	<ellipse id="Ellipse_3_10_" class="st1" cx="-3680.1" cy="4940" rx="388.1" ry="388.1"/>
	<g id="Group_244_10_" transform="translate(2864.517 6070.279)">
		<path id="Path_31_10_" class="st2" d="M-6544.6-1540v818.4"/>
		<path id="Path_32_10_" class="st2" d="M-6954.3-1130.3h818.4"/>
		<path id="Path_33_10_" class="st2" d="M-6748.9-776.7l409.2-708.8"/>
		<path id="Path_34_10_" class="st2" d="M-6748.9-1485.4l409.2,708.8"/>
		<path id="Path_35_10_" class="st2" d="M-6189.9-926.5l-708.8-409.2"/>
		<path id="Path_36_10_" class="st2" d="M-6898.7-926.5l708.8-409.2"/>
	</g>
	<path id="Path_135_10_" class="st1" d="M-3680.1,4579.3c199.2,0,360.7,161.5,360.7,360.7s-161.5,360.7-360.7,360.7
		c-11,0-21.8-0.5-32.5-1.4c-184-16.4-328.3-171-328.3-359.3C-4040.8,4740.8-3879.3,4579.3-3680.1,4579.3z"/>
	<g id="Ellipse_5_10_" transform="translate(2821.617 6027.379)">
		<circle class="st3" cx="-6501.7" cy="-1087.4" r="469.6"/>
		<circle class="st4" cx="-6501.7" cy="-1087.4" r="459.1"/>
	</g>
	<g id="Group_245_10_" transform="translate(2915.461 6112.818)">
		<text transform="matrix(1 0 0 1 -6921.6094 -1150.457)" class="st6 st10" style="font-size:69.8156px;">9</text>
		<text transform="matrix(1 0 0 1 -6881.2124 -999.0986)" class="st6 st10" style="font-size:69.8156px;">8</text>
		<text transform="matrix(1 0 0 1 -6775.1016 -1419.4614)" class="st6 st10" style="font-size:69.8156px;">11</text>
		<text transform="matrix(1 0 0 1 -6899.835 -1304.6855)" class="st6 st10" style="font-size:69.8156px;">10</text>
		<text transform="matrix(1 0 0 1 -6628.1724 -1457.4805)" class="st6 st10" style="font-size:69.8156px;">12</text>
		<text transform="matrix(1 0 0 1 -6457.7324 -1415.874)" class="st6 st10" style="font-size:69.8156px;">1</text>
		<text transform="matrix(1 0 0 1 -6349.541 -1302.5337)" class="st6 st10" style="font-size:69.8156px;">2</text>
		<text transform="matrix(1 0 0 1 -6356.4478 -1002.6855)" class="st6 st10" style="font-size:69.8156px;">4</text>
		<text transform="matrix(1 0 0 1 -6313.8296 -1150.457)" class="st6 st10" style="font-size:69.8156px;">3</text>
		<text transform="matrix(1 0 0 1 -6768.6323 -885.04)" class="st6 st10" style="font-size:69.8156px;">7</text>
		<text transform="matrix(1 0 0 1 -6617.4209 -844.8682)" class="st6 st10" style="font-size:69.8156px;">6</text>
		<text transform="matrix(1 0 0 1 -6461.269 -887.9111)" class="st6 st10" style="font-size:69.8156px;">5</text>
	</g>
	<g>
		<path id="Path_125_29_" class="st7" d="M-3434.5,5001.2c0,0-11.8,60.4-66.4,115.4c-64.6-67.9-176.5-185.6-176.5-185.6
			L-3434.5,5001.2z"/>
		<path id="Path_125_28_" class="st8" d="M-3501.4,5116.3c0,0-39.6,45.1-113.6,64.2c-23.1-89.5-63.1-244.6-63.1-244.6
			L-3501.4,5116.3z"/>
		<path id="Path_126_10_" class="st7" d="M-3864.4,5108.3c0,0-43.4-38.6-61.4-110.4c86.8-21.8,237.2-59.5,237.2-59.5L-3864.4,5108.3
			z"/>
		<path id="Path_127_10_" class="st7" d="M-3738.7,4692.9c0,0,54.7-19.1,125-0.4c-24.8,85.6-67.8,233.9-67.8,233.9L-3738.7,4692.9z"
			/>
		<path id="Path_128_10_" class="st7" d="M-3617.4,5178.5c0,0-56.8,19.3-130.5-1.2c24.8-89.1,67.7-243.4,67.7-243.4L-3617.4,5178.5z
			"/>
		<path id="Path_129_10_" class="st7" d="M-3924.8,4994.8c0,0-18.3-57.1,3.5-130.4c88.6,26.3,242.1,71.8,242.1,71.8L-3924.8,4994.8z
			"/>
		<path id="Path_130_10_" class="st7" d="M-3612.6,4694c0,0,54.6,10,104.2,60.7c-61.7,62.8-168.6,171.6-168.6,171.6L-3612.6,4694z"
			/>
		<path id="Path_131_10_" class="st7" d="M-3750.1,5176.9c0,0-58.8-11.7-112.4-66.3c66-64.7,180.3-176.9,180.3-176.9L-3750.1,5176.9
			z"/>
		<path id="Path_132_10_" class="st7" d="M-3853.7,4753.2c0,0,39.9-43.4,113.5-60.7c21.6,88.3,59.1,241.3,59.1,241.3L-3853.7,4753.2
			z"/>
		<path id="Path_125_27_" class="st7" d="M-3438.1,4866.1c0,0,21.5,57.7,3.5,133.1c-90.5-24.3-247.4-66.3-247.4-66.3L-3438.1,4866.1
			z"/>
		<path id="Path_133_10_" class="st7" d="M-3921.9,4862.6c0,0,12.6-57.1,67.1-108.4c62.2,65.2,170.1,178,170.1,178L-3921.9,4862.6z"
			/>
		<path id="Path_134_10_" class="st7" d="M-3505.8,4755.6c0,0,44.2,37.2,64.1,108.4c-85.7,24.4-234.1,66.6-234.1,66.6
			L-3505.8,4755.6z"/>
	</g>
	<circle id="Ellipse_6_10_" cx="-3678.7" cy="4934.4" r="8.8"/>
	<rect x="-3080.2" y="4792.2" class="st3" width="549.9" height="461.2"/>
	<text transform="matrix(1 0 0 1 -3080.2329 4837.5503)"><tspan x="0" y="0" class="st8" style="font-family:'Avenir-Black'; font-size:60px;">4:30 – 5:30 p.m.</tspan><tspan x="0" y="48" style="font-family:'Avenir-Light'; font-size:36px;">Brigades return from offering </tspan><tspan x="0" y="96" style="font-family:'Avenir-Light'; font-size:36px;">in-home care to the bed-ridden.</tspan></text>
</g>
<g>
	<path id="Path_122_11_" class="st0" d="M-1739.6,4940.5"/>
	<g id="Group_240_11_" transform="translate(2946.709 6012.058) rotate(14)">
		<path id="Path_25_11_" class="st0" d="M-4653-286.6l-306.6,758.8"/>
		<path id="Path_26_11_" class="st0" d="M-5185.7-60.5l758.8,306.6"/>
		<path id="Path_27_11_" class="st0" d="M-5129.1,345.7l644.9-503.9"/>
		<path id="Path_28_11_" class="st0" d="M-4863.6-311.4l113.9,810.4"/>
		<path id="Path_29_11_" class="st0" d="M-4554.7,416.2l-503.9-644.9"/>
		<path id="Path_30_11_" class="st0" d="M-5211.9,150.7l810.4-113.9"/>
	</g>
	<g id="Group_241_11_" transform="translate(2821.617 6128.166) rotate(-10)">
		<path id="Path_25-2_11_" class="st0" d="M-4132.5-2342.8l-306.6,758.8"/>
		<path id="Path_26-2_11_" class="st0" d="M-4665.2-2116.7l758.8,306.6"/>
		<path id="Path_27-2_11_" class="st0" d="M-4608.7-1710.5l644.9-503.9"/>
		<path id="Path_28-2_11_" class="st0" d="M-4343.2-2367.7l113.9,810.4"/>
		<path id="Path_29-2_11_" class="st0" d="M-4034.3-1640l-503.9-644.9"/>
		<path id="Path_30-2_11_" class="st0" d="M-4691.4-1905.5l810.4-113.9"/>
	</g>
	<g id="Group_242_11_" transform="matrix(0.998, -0.07, 0.07, 0.998, 2848.43, 6094.679)">
		<path id="Path_25-3_11_" class="st0" d="M-4340.2-1852.2l-306.6,758.8"/>
		<path id="Path_26-3_11_" class="st0" d="M-4872.9-1626l758.8,306.6"/>
		<path id="Path_27-3_11_" class="st0" d="M-4816.3-1219.8l644.9-503.9"/>
		<path id="Path_28-3_11_" class="st0" d="M-4550.8-1877l113.9,810.4"/>
		<path id="Path_29-3_11_" class="st0" d="M-4241.9-1149.3l-503.9-644.9"/>
		<path id="Path_30-3_11_" class="st0" d="M-4899.1-1414.8l810.4-113.9"/>
	</g>
	<g id="Group_243_11_" transform="translate(2877.878 6063.384) rotate(2)">
		<path id="Path_25-4_11_" class="st0" d="M-4500.9-1342.1l-306.6,758.8"/>
		<path id="Path_26-4_11_" class="st0" d="M-5033.6-1116l758.8,306.6"/>
		<path id="Path_27-4_11_" class="st0" d="M-4977-709.8l644.9-503.9"/>
		<path id="Path_28-4_11_" class="st0" d="M-4711.5-1366.9l113.9,810.4"/>
		<path id="Path_29-4_11_" class="st0" d="M-4402.6-639.3l-503.9-644.9"/>
		<path id="Path_30-4_11_" class="st0" d="M-5059.8-904.8l810.4-113.9"/>
	</g>
	<ellipse id="Ellipse_3_11_" class="st1" cx="-1740.1" cy="4940" rx="388.1" ry="388.1"/>
	<g id="Group_244_11_" transform="translate(2864.517 6070.279)">
		<path id="Path_31_11_" class="st2" d="M-4604.6-1540v818.4"/>
		<path id="Path_32_11_" class="st2" d="M-5014.3-1130.3h818.4"/>
		<path id="Path_33_11_" class="st2" d="M-4808.9-776.7l409.2-708.8"/>
		<path id="Path_34_11_" class="st2" d="M-4808.9-1485.4l409.2,708.8"/>
		<path id="Path_35_11_" class="st2" d="M-4249.9-926.5l-708.8-409.2"/>
		<path id="Path_36_11_" class="st2" d="M-4958.7-926.5l708.8-409.2"/>
	</g>
	<path id="Path_135_11_" class="st1" d="M-1740.1,4579.3c199.2,0,360.7,161.5,360.7,360.7s-161.5,360.7-360.7,360.7
		c-11,0-21.8-0.5-32.5-1.4c-184-16.4-328.3-171-328.3-359.3C-2100.8,4740.8-1939.3,4579.3-1740.1,4579.3z"/>
	<g id="Ellipse_5_11_" transform="translate(2821.617 6027.379)">
		<circle class="st3" cx="-4561.7" cy="-1087.4" r="469.6"/>
		<circle class="st4" cx="-4561.7" cy="-1087.4" r="459.1"/>
	</g>
	<g id="Group_245_11_" transform="translate(2915.461 6112.818)">
		<text transform="matrix(1 0 0 1 -4981.6094 -1150.457)" class="st6 st10" style="font-size:69.8156px;">9</text>
		<text transform="matrix(1 0 0 1 -4941.2124 -999.0986)" class="st6 st10" style="font-size:69.8156px;">8</text>
		<text transform="matrix(1 0 0 1 -4835.1016 -1419.4614)" class="st6 st10" style="font-size:69.8156px;">11</text>
		<text transform="matrix(1 0 0 1 -4959.835 -1304.6855)" class="st6 st10" style="font-size:69.8156px;">10</text>
		<text transform="matrix(1 0 0 1 -4688.1724 -1457.4805)" class="st6 st10" style="font-size:69.8156px;">12</text>
		<text transform="matrix(1 0 0 1 -4517.7324 -1415.874)" class="st6 st10" style="font-size:69.8156px;">1</text>
		<text transform="matrix(1 0 0 1 -4409.541 -1302.5337)" class="st6 st10" style="font-size:69.8156px;">2</text>
		<text transform="matrix(1 0 0 1 -4416.4478 -1002.6855)" class="st6 st10" style="font-size:69.8156px;">4</text>
		<text transform="matrix(1 0 0 1 -4373.8296 -1150.457)" class="st6 st10" style="font-size:69.8156px;">3</text>
		<text transform="matrix(1 0 0 1 -4828.6323 -885.04)" class="st6 st10" style="font-size:69.8156px;">7</text>
		<text transform="matrix(1 0 0 1 -4677.4209 -844.8682)" class="st6 st10" style="font-size:69.8156px;">6</text>
		<text transform="matrix(1 0 0 1 -4521.269 -887.9111)" class="st6 st10" style="font-size:69.8156px;">5</text>
	</g>
	<g>
		<path id="Path_125_32_" class="st7" d="M-1565.4,5120c0,0-41.7,45.3-117,63.5c-19.4-91.7-53-250.6-53-250.6L-1565.4,5120z"/>
		<path id="Path_125_31_" class="st8" d="M-1682.7,5182.9c0,0-57.3,17.6-130.4-4.9c27.3-88.3,74.5-241.4,74.5-241.4L-1682.7,5182.9z
			"/>
		<path id="Path_126_11_" class="st7" d="M-1987.5,4985.9c0,0-16.7-55.6,5.6-126.2c85.3,27,233.2,73.6,233.2,73.6L-1987.5,4985.9z"
			/>
		<path id="Path_127_11_" class="st7" d="M-1662.7,4698c0,0,56.6,12.4,106.7,65.2c-66,59.9-180.4,163.7-180.4,163.7L-1662.7,4698z"
			/>
		<path id="Path_128_11_" class="st7" d="M-1814,5175.1c0,0-58.5-13.4-110.5-69.5c67.8-62.9,185.2-171.8,185.2-171.8L-1814,5175.1z"
			/>
		<path id="Path_129_11_" class="st7" d="M-1979.5,4857.5c0,0,14.4-58.2,71.3-109.2c61.7,68.8,168.5,188,168.5,188L-1979.5,4857.5z"
			/>
		<path id="Path_130_11_" class="st7" d="M-1555.9,4765c0,0,41.3,37.1,56.9,106.3c-85.5,21.1-233.5,57.7-233.5,57.7L-1555.9,4765z"
			/>
		<path id="Path_131_11_" class="st7" d="M-1926.2,5104.2c0,0-43.9-40.8-60.9-115.4c90.1-20.5,246.3-56.2,246.3-56.2L-1926.2,5104.2
			z"/>
		<path id="Path_132_11_" class="st7" d="M-1792.3,4689c0,0,56.7-16.1,128.5,7.9c-27.9,86.6-76.2,236.5-76.2,236.5L-1792.3,4689z"/>
		<path id="Path_125_30_" class="st7" d="M-1497.5,5003.1c0,0-12,60.4-66.7,115.2c-64.4-68.1-176-186.1-176-186.1L-1497.5,5003.1z"
			/>
		<path id="Path_133_11_" class="st7" d="M-1907.7,4746.5c0,0,40.7-42,114-57.1c18.8,88.1,51.5,240.8,51.5,240.8L-1907.7,4746.5z"/>
		<path id="Path_134_11_" class="st7" d="M-1497.3,4873.5c0,0,18.1,54.9-2.2,125.9c-85.8-24.2-234.3-66-234.3-66L-1497.3,4873.5z"/>
	</g>
	<circle id="Ellipse_6_11_" cx="-1738.7" cy="4934.4" r="8.8"/>
	<rect x="-1140.2" y="4792.2" class="st3" width="549.9" height="461.2"/>
	<text transform="matrix(1 0 0 1 -1140.2329 4837.5503)"><tspan x="0" y="0" class="st8" style="font-family:'Avenir-Black'; font-size:60px;">5:30 – 6:30 p.m.</tspan><tspan x="0" y="48" style="font-family:'Avenir-Light'; font-size:36px;">José shares a summary of the day </tspan><tspan x="0" y="96" style="font-family:'Avenir-Light'; font-size:36px;">and thanks the community for </tspan><tspan x="0" y="144" style="font-family:'Avenir-Light'; font-size:36px;">their engagement. </tspan></text>
</g>
<g>
	<path id="Path_122_8_" class="st0" d="M-3679.6,3840.5"/>
	<g id="Group_240_8_" transform="translate(2946.709 6012.058) rotate(14)">
		<path id="Path_25_8_" class="st0" d="M-6801.5-884.6L-7108-125.8"/>
		<path id="Path_26_8_" class="st0" d="M-7334.1-658.5l758.8,306.6"/>
		<path id="Path_27_8_" class="st0" d="M-7277.6-252.3l644.9-503.9"/>
		<path id="Path_28_8_" class="st0" d="M-7012.1-909.4L-6898.2-99"/>
		<path id="Path_29_8_" class="st0" d="M-6703.2-181.8l-503.9-644.9"/>
		<path id="Path_30_8_" class="st0" d="M-7360.4-447.3l810.4-113.9"/>
	</g>
	<g id="Group_241_8_" transform="translate(2821.617 6128.166) rotate(-10)">
		<path id="Path_25-2_8_" class="st0" d="M-5852-3763l-306.6,758.8"/>
		<path id="Path_26-2_8_" class="st0" d="M-6384.7-3536.9l758.8,306.6"/>
		<path id="Path_27-2_8_" class="st0" d="M-6328.2-3130.7l644.9-503.9"/>
		<path id="Path_28-2_8_" class="st0" d="M-6062.7-3787.8l113.9,810.4"/>
		<path id="Path_29-2_8_" class="st0" d="M-5753.8-3060.1l-503.9-644.9"/>
		<path id="Path_30-2_8_" class="st0" d="M-6410.9-3325.7l810.4-113.9"/>
	</g>
	<g id="Group_242_8_" transform="matrix(0.998, -0.07, 0.07, 0.998, 2848.43, 6094.679)">
		<path id="Path_25-3_8_" class="st0" d="M-6197.6-3084.6l-306.6,758.8"/>
		<path id="Path_26-3_8_" class="st0" d="M-6730.3-2858.5l758.8,306.6"/>
		<path id="Path_27-3_8_" class="st0" d="M-6673.8-2452.3l644.9-503.9"/>
		<path id="Path_28-3_8_" class="st0" d="M-6408.3-3109.5l113.9,810.4"/>
		<path id="Path_29-3_8_" class="st0" d="M-6099.4-2381.8l-503.9-644.9"/>
		<path id="Path_30-3_8_" class="st0" d="M-6756.5-2647.3l810.4-113.9"/>
	</g>
	<g id="Group_243_8_" transform="translate(2877.878 6063.384) rotate(2)">
		<path id="Path_25-4_8_" class="st0" d="M-6478.1-2373.8l-306.6,758.8"/>
		<path id="Path_26-4_8_" class="st0" d="M-7010.8-2147.6l758.8,306.6"/>
		<path id="Path_27-4_8_" class="st0" d="M-6954.2-1741.4l644.9-503.9"/>
		<path id="Path_28-4_8_" class="st0" d="M-6688.7-2398.6l113.9,810.4"/>
		<path id="Path_29-4_8_" class="st0" d="M-6379.9-1670.9l-503.9-644.9"/>
		<path id="Path_30-4_8_" class="st0" d="M-7037-1936.4l810.4-113.9"/>
	</g>
	<ellipse id="Ellipse_3_8_" class="st1" cx="-3680.1" cy="3840" rx="388.1" ry="388.1"/>
	<g id="Group_244_8_" transform="translate(2864.517 6070.279)">
		<path id="Path_31_8_" class="st2" d="M-6544.6-2640v818.4"/>
		<path id="Path_32_8_" class="st2" d="M-6954.3-2230.3h818.4"/>
		<path id="Path_33_8_" class="st2" d="M-6748.9-1876.7l409.2-708.8"/>
		<path id="Path_34_8_" class="st2" d="M-6748.9-2585.4l409.2,708.8"/>
		<path id="Path_35_8_" class="st2" d="M-6189.9-2026.5l-708.8-409.2"/>
		<path id="Path_36_8_" class="st2" d="M-6898.7-2026.5l708.8-409.2"/>
	</g>
	<path id="Path_135_8_" class="st1" d="M-3680.1,3479.3c199.2,0,360.7,161.5,360.7,360.7c0,199.2-161.5,360.7-360.7,360.7
		c-11,0-21.8-0.5-32.5-1.4c-184-16.4-328.3-171-328.3-359.3C-4040.8,3640.8-3879.3,3479.3-3680.1,3479.3z"/>
	<path id="Path_125_23_" class="st7" d="M-3908.5,3729.4c0,0,23-57.1,86.9-100.8c50.6,78.9,138.4,215.5,138.4,215.5L-3908.5,3729.4z
		"/>
	<g id="Ellipse_5_8_" transform="translate(2821.617 6027.379)">
		<circle class="st3" cx="-6501.7" cy="-2187.4" r="469.6"/>
		<circle class="st4" cx="-6501.7" cy="-2187.4" r="459.1"/>
	</g>
	<g id="Group_245_8_" transform="translate(2915.461 6112.818)">
		<text transform="matrix(1 0 0 1 -6921.6094 -2250.457)" class="st6 st10" style="font-size:69.8156px;">9</text>
		<text transform="matrix(1 0 0 1 -6881.2124 -2099.0986)" class="st6 st10" style="font-size:69.8156px;">8</text>
		<text transform="matrix(1 0 0 1 -6775.1016 -2519.4614)" class="st6 st10" style="font-size:69.8156px;">11</text>
		<text transform="matrix(1 0 0 1 -6899.835 -2404.6855)" class="st6 st10" style="font-size:69.8156px;">10</text>
		<text transform="matrix(1 0 0 1 -6628.1724 -2557.4805)" class="st6 st10" style="font-size:69.8156px;">12</text>
		<text transform="matrix(1 0 0 1 -6457.7324 -2515.874)" class="st6 st10" style="font-size:69.8156px;">1</text>
		<text transform="matrix(1 0 0 1 -6349.541 -2402.5337)" class="st6 st10" style="font-size:69.8156px;">2</text>
		<text transform="matrix(1 0 0 1 -6356.4478 -2102.6855)" class="st6 st10" style="font-size:69.8156px;">4</text>
		<text transform="matrix(1 0 0 1 -6313.8296 -2250.457)" class="st6 st10" style="font-size:69.8156px;">3</text>
		<text transform="matrix(1 0 0 1 -6768.6323 -1985.04)" class="st6 st10" style="font-size:69.8156px;">7</text>
		<text transform="matrix(1 0 0 1 -6617.4209 -1944.8682)" class="st6 st10" style="font-size:69.8156px;">6</text>
		<text transform="matrix(1 0 0 1 -6461.269 -1987.9111)" class="st6 st10" style="font-size:69.8156px;">5</text>
	</g>
	<path id="Path_125_22_" class="st8" d="M-3821.1,3628.9c0,0,47.4-36.8,123.7-41.6c5.8,92.3,15.9,252.1,15.9,252.1L-3821.1,3628.9z"
		/>
	<path id="Path_126_8_" class="st7" d="M-3466.2,3705.1c0,0,35.4,46.1,39.5,120c-89.4,5.1-244.2,13.8-244.2,13.8L-3466.2,3705.1z"/>
	<path id="Path_127_8_" class="st7" d="M-3667.8,4089.4c0,0-57.3,8.5-122.9-23.1c40.5-79.4,110.7-217,110.7-217L-3667.8,4089.4z"/>
	<path id="Path_128_8_" class="st7" d="M-3695.6,3589.7c0,0,59.4-8.2,127.9,25.8c-41.1,82.8-112.3,226.3-112.3,226.3L-3695.6,3589.7
		z"/>
	<path id="Path_129_8_" class="st7" d="M-3428.2,3828c0,0,7.2,59.5-28,127.4c-82.1-42.5-224.2-116.1-224.2-116.1L-3428.2,3828z"/>
	<path id="Path_130_8_" class="st7" d="M-3791.5,4064.6c0,0-51.8-20.1-90.9-79.3c72.4-50.1,197.9-136.8,197.9-136.8L-3791.5,4064.6z
		"/>
	<path id="Path_131_8_" class="st7" d="M-3565.5,3616.2c0,0,55.6,22.6,97.9,86.3c-77,51.2-210.4,139.8-210.4,139.8L-3565.5,3616.2z"
		/>
	<path id="Path_132_8_" class="st7" d="M-3543.5,4051.9c0,0-47.3,35.2-122.9,38.2c-4.6-90.8-12.6-248.1-12.6-248.1L-3543.5,4051.9z"
		/>
	<path id="Path_125_21_" class="st7" d="M-3930.5,3862.8c0,0-10.2-60.7,21.6-131.4c84.4,40.9,230.5,111.7,230.5,111.7
		L-3930.5,3862.8z"/>
	<path id="Path_133_8_" class="st7" d="M-3455.9,3957.3c0,0-23.1,53.7-86.3,93.8c-48.9-75.7-133.5-206.9-133.5-206.9L-3455.9,3957.3
		z"/>
	<path id="Path_134_8_" class="st7" d="M-3884.8,3984c0,0-36.4-44.9-42.6-118.5c88.8-7.8,242.5-21.3,242.5-21.3L-3884.8,3984z"/>
	<circle id="Ellipse_6_8_" cx="-3678.7" cy="3834.4" r="8.8"/>
	<rect x="-3080.2" y="3692.2" class="st3" width="549.9" height="461.2"/>
	<text transform="matrix(1 0 0 1 -3080.2329 3737.5513)"><tspan x="0" y="0" class="st8" style="font-family:'Avenir-Black'; font-size:60px;">11:00 – 12:00 p.m.</tspan><tspan x="0" y="48" style="font-family:'Avenir-Light'; font-size:36px;">Rotating shifts of brigades return </tspan><tspan x="0" y="96" style="font-family:'Avenir-Light'; font-size:36px;">to homebase for a lunch break </tspan><tspan x="0" y="144" style="font-family:'Avenir-Light'; font-size:36px;">and to restock needed supplies.</tspan></text>
</g>
<g>
	<path id="Path_122_12_" class="st0" d="M-3679.6,6040.5"/>
	<g id="Group_240_12_" transform="translate(2946.709 6012.058) rotate(14)">
		<path id="Path_25_12_" class="st0" d="M-6269.2,1250.1l-306.6,758.8"/>
		<path id="Path_26_12_" class="st0" d="M-6801.9,1476.2l758.8,306.6"/>
		<path id="Path_27_12_" class="st0" d="M-6745.4,1882.4l644.9-503.9"/>
		<path id="Path_28_12_" class="st0" d="M-6479.9,1225.2l113.9,810.4"/>
		<path id="Path_29_12_" class="st0" d="M-6171,1952.9l-503.9-644.9"/>
		<path id="Path_30_12_" class="st0" d="M-6828.1,1687.4l810.4-113.9"/>
	</g>
	<g id="Group_241_12_" transform="translate(2821.617 6128.166) rotate(-10)">
		<path id="Path_25-2_12_" class="st0" d="M-6234.1-1596.4l-306.6,758.8"/>
		<path id="Path_26-2_12_" class="st0" d="M-6766.8-1370.3l758.8,306.6"/>
		<path id="Path_27-2_12_" class="st0" d="M-6710.2-964.1l644.9-503.9"/>
		<path id="Path_28-2_12_" class="st0" d="M-6444.7-1621.2l113.9,810.4"/>
		<path id="Path_29-2_12_" class="st0" d="M-6135.8-893.6l-503.9-644.9"/>
		<path id="Path_30-2_12_" class="st0" d="M-6793-1159.1l810.4-113.9"/>
	</g>
	<g id="Group_242_12_" transform="matrix(0.998, -0.07, 0.07, 0.998, 2848.43, 6094.679)">
		<path id="Path_25-3_12_" class="st0" d="M-6351.5-891l-306.6,758.8"/>
		<path id="Path_26-3_12_" class="st0" d="M-6884.2-664.9l758.8,306.6"/>
		<path id="Path_27-3_12_" class="st0" d="M-6827.6-258.7l644.9-503.9"/>
		<path id="Path_28-3_12_" class="st0" d="M-6562.1-915.9l113.9,810.4"/>
		<path id="Path_29-3_12_" class="st0" d="M-6253.2-188.2l-503.9-644.9"/>
		<path id="Path_30-3_12_" class="st0" d="M-6910.4-453.7l810.4-113.9"/>
	</g>
	<g id="Group_243_12_" transform="translate(2877.878 6063.384) rotate(2)">
		<path id="Path_25-4_12_" class="st0" d="M-6401.3-175.1l-306.6,758.8"/>
		<path id="Path_26-4_12_" class="st0" d="M-6934,51l758.8,306.6"/>
		<path id="Path_27-4_12_" class="st0" d="M-6877.5,457.2l644.9-503.9"/>
		<path id="Path_28-4_12_" class="st0" d="M-6611.9-199.9l113.9,810.4"/>
		<path id="Path_29-4_12_" class="st0" d="M-6303.1,527.8l-503.9-644.9"/>
		<path id="Path_30-4_12_" class="st0" d="M-6960.2,262.3l810.4-113.9"/>
	</g>
	<ellipse id="Ellipse_3_12_" class="st1" cx="-3680.1" cy="6040" rx="388.1" ry="388.1"/>
	<g id="Group_244_12_" transform="translate(2864.517 6070.279)">
		<path id="Path_31_12_" class="st2" d="M-6544.6-440v818.4"/>
		<path id="Path_32_12_" class="st2" d="M-6954.3-30.3h818.4"/>
		<path id="Path_33_12_" class="st2" d="M-6748.9,323.3l409.2-708.8"/>
		<path id="Path_34_12_" class="st2" d="M-6748.9-385.4l409.2,708.8"/>
		<path id="Path_35_12_" class="st2" d="M-6189.9,173.5l-708.8-409.2"/>
		<path id="Path_36_12_" class="st2" d="M-6898.7,173.5l708.8-409.2"/>
	</g>
	<path id="Path_135_12_" class="st1" d="M-3680.1,5679.3c199.2,0,360.7,161.5,360.7,360.7s-161.5,360.7-360.7,360.7
		c-11,0-21.8-0.5-32.5-1.4c-184-16.4-328.3-171-328.3-359.3C-4040.8,5840.8-3879.3,5679.3-3680.1,5679.3z"/>
	<g id="Ellipse_5_12_" transform="translate(2821.617 6027.379)">
		<circle class="st3" cx="-6501.7" cy="12.6" r="469.6"/>
		<circle class="st4" cx="-6501.7" cy="12.6" r="459.1"/>
	</g>
	<g id="Group_245_12_" transform="translate(2915.461 6112.818)">
		<text transform="matrix(1 0 0 1 -6921.6094 -50.4568)" class="st6 st10" style="font-size:69.8156px;">9</text>
		<text transform="matrix(1 0 0 1 -6881.2124 100.9016)" class="st6 st10" style="font-size:69.8156px;">8</text>
		<text transform="matrix(1 0 0 1 -6775.1016 -319.4612)" class="st6 st10" style="font-size:69.8156px;">11</text>
		<text transform="matrix(1 0 0 1 -6899.835 -204.6853)" class="st6 st10" style="font-size:69.8156px;">10</text>
		<text transform="matrix(1 0 0 1 -6628.1724 -357.4802)" class="st6 st10" style="font-size:69.8156px;">12</text>
		<text transform="matrix(1 0 0 1 -6457.7324 -315.8738)" class="st6 st10" style="font-size:69.8156px;">1</text>
		<text transform="matrix(1 0 0 1 -6349.541 -202.5334)" class="st6 st10" style="font-size:69.8156px;">2</text>
		<text transform="matrix(1 0 0 1 -6356.4478 97.3147)" class="st6 st10" style="font-size:69.8156px;">4</text>
		<text transform="matrix(1 0 0 1 -6313.8296 -50.4568)" class="st6 st10" style="font-size:69.8156px;">3</text>
		<text transform="matrix(1 0 0 1 -6768.6323 214.9602)" class="st6 st10" style="font-size:69.8156px;">7</text>
		<text transform="matrix(1 0 0 1 -6617.4209 255.1321)" class="st6 st10" style="font-size:69.8156px;">6</text>
		<text transform="matrix(1 0 0 1 -6461.269 212.0891)" class="st6 st10" style="font-size:69.8156px;">5</text>
	</g>
	<g>
		<path id="Path_125_35_" class="st7" d="M-3671.5,6290.8c0,0-61.3,6.2-129.7-30.2c46.3-81.5,126.6-222.6,126.6-222.6
			L-3671.5,6290.8z"/>
		<path id="Path_126_12_" class="st7" d="M-3898.3,5910.3c0,0,24.4-52.7,87.9-90.7c46,76.8,125.6,209.8,125.6,209.8L-3898.3,5910.3z
			"/>
		<path id="Path_127_12_" class="st7" d="M-3464.3,5910.5c0,0,34.1,46.8,36.6,119.6c-89.1,1-243.6,2.7-243.6,2.7L-3464.3,5910.5z"/>
		<path id="Path_128_12_" class="st7" d="M-3894.1,6167.1c0,0-34.9-48.8-36.6-125.3c92.4-2,252.5-5.6,252.5-5.6L-3894.1,6167.1z"/>
		<path id="Path_129_12_" class="st7" d="M-3807.1,5819.7c0,0,49.4-34,125.8-34.4c0.5,92.4,1.3,252.5,1.3,252.5L-3807.1,5819.7z"/>
		<path id="Path_130_12_" class="st7" d="M-3428.8,6031.5c0,0,6.3,55.2-28,117.3c-78-40.9-213-111.8-213-111.8L-3428.8,6031.5z"/>
		<path id="Path_131_12_" class="st7" d="M-3930.9,6039.5c0,0-5.8-59.7,31-126.8c81.1,44.4,221.5,121.4,221.5,121.4L-3930.9,6039.5z
			"/>
		<path id="Path_132_12_" class="st7" d="M-3555.3,5817.8c0,0,53.1,25.6,90.9,91.1c-78.3,46.2-213.9,126.4-213.9,126.4
			L-3555.3,5817.8z"/>
		<path id="Path_125_33_" class="st7" d="M-3543.1,6248.3c0,0-49,37.2-126.4,41.9c-3-93.7-8.1-256-8.1-256L-3543.1,6248.3z"/>
		<path id="Path_133_12_" class="st7" d="M-3679.7,5784.2c0,0,58.3-4.4,123.2,32.9c-44.4,78.4-121.2,214.3-121.2,214.3
			L-3679.7,5784.2z"/>
		<path id="Path_134_12_" class="st7" d="M-3457,6151.6c0,0-22.8,53.1-85.2,92.7c-48.1-75-131.5-204.9-131.5-204.9L-3457,6151.6z"/>
		<path id="Path_125_36_" class="st8" d="M-3895.5,6170.2c0,0-34.8-48.8-36.5-125.3c92.4-2,252.5-5.5,252.5-5.5L-3895.5,6170.2z"/>
		<path id="Path_125_34_" class="st8" d="M-3801,6260c0,0-54.6-24.8-94.3-90.2c79-48,215.9-131.1,215.9-131.1L-3801,6260z"/>
		<path id="Path_125_37_" class="st8" d="M-3750.5,6281.3c0,0-58.7-12.5-111.6-67.7c66.8-63.9,182.4-174.7,182.4-174.7
			L-3750.5,6281.3z"/>

	</g>
	<circle id="Ellipse_6_12_" cx="-3678.7" cy="6034.4" r="8.8"/>
	<rect x="-3080.2" y="5892.2" class="st3" width="549.9" height="461.2"/>
	<text transform="matrix(1 0 0 1 -3080.2329 5937.5503)"><tspan x="0" y="0" class="st8" style="font-family:'Avenir-Black'; font-size:60px;">6:30 – 9:30 p.m.</tspan><tspan x="0" y="48" style="font-family:'Avenir-Light'; font-size:36px;">Brigade workers break down </tspan><tspan x="0" y="96" style="font-family:'Avenir-Light'; font-size:36px;">home base and board bus to </tspan><tspan x="0" y="144" style="font-family:'Avenir-Light'; font-size:36px;">return to clinic.</tspan></text>
</g>
<rect x="-4286.9" y="-280.2" class="st3" width="71.7" height="129.9"/>
<rect x="-3694.1" y="-213.2" class="st3" width="653.8" height="174.7"/>
<text transform="matrix(1 0 0 1 -3694.0879 -74.8116)" class="st9" style="font-family:'MyriadPro-BoldCond'; font-size:200px;">THIS ONE</text>
<g>
	<path id="Path_122_4_" class="st0" d="M540.6,540.6"/>
	<g id="Group_240_4_" transform="translate(2946.709 6012.058) rotate(14)">
		<path id="Path_25_4_" class="st0" d="M-3488.9-5147.5l-338.8,838.5"/>
		<path id="Path_26_4_" class="st0" d="M-4077.6-4897.6l838.5,338.8"/>
		<path id="Path_27_4_" class="st0" d="M-4015.1-4448.7l712.7-556.8"/>
		<path id="Path_28_4_" class="st0" d="M-3721.7-5174.9l125.9,895.6"/>
		<path id="Path_29_4_" class="st0" d="M-3380.3-4370.8l-556.8-712.7"/>
		<path id="Path_30_4_" class="st0" d="M-4106.5-4664.2l895.6-125.9"/>
	</g>
	<g id="Group_241_4_" transform="translate(2821.617 6128.166) rotate(-10)">
		<path id="Path_25-2_4_" class="st0" d="M-1106.9-6320l-338.8,838.5"/>
		<path id="Path_26-2_4_" class="st0" d="M-1695.6-6070.2l838.5,338.8"/>
		<path id="Path_27-2_4_" class="st0" d="M-1633.1-5621.3l712.7-556.8"/>
		<path id="Path_28-2_4_" class="st0" d="M-1339.7-6347.5l125.9,895.6"/>
		<path id="Path_29-2_4_" class="st0" d="M-998.3-5543.3l-556.8-712.7"/>
		<path id="Path_30-2_4_" class="st0" d="M-1724.5-5836.7l895.6-125.9"/>
	</g>
	<g id="Group_242_4_" transform="matrix(0.998, -0.07, 0.07, 0.998, 2848.43, 6094.679)">
		<path id="Path_25-3_4_" class="st0" d="M-1742.8-6119.9l-338.8,838.6"/>
		<path id="Path_26-3_4_" class="st0" d="M-2331.4-5870l838.6,338.8"/>
		<path id="Path_27-3_4_" class="st0" d="M-2268.9-5421.1l712.7-556.8"/>
		<path id="Path_28-3_4_" class="st0" d="M-1975.5-6147.3l125.9,895.6"/>
		<path id="Path_29-3_4_" class="st0" d="M-1634.2-5343.1l-556.8-712.7"/>
		<path id="Path_30-3_4_" class="st0" d="M-2360.4-5636.6l895.6-125.9"/>
	</g>
	<g id="Group_243_4_" transform="translate(2877.878 6063.384) rotate(2)">
		<path id="Path_25-4_4_" class="st0" d="M-2359.6-5859l-338.8,838.5"/>
		<path id="Path_26-4_4_" class="st0" d="M-2948.3-5609.1l838.5,338.8"/>
		<path id="Path_27-4_4_" class="st0" d="M-2885.8-5160.2l712.7-556.8"/>
		<path id="Path_28-4_4_" class="st0" d="M-2592.4-5886.4l125.9,895.6"/>
		<path id="Path_29-4_4_" class="st0" d="M-2251-5082.3l-556.8-712.7"/>
		<path id="Path_30-4_4_" class="st0" d="M-2977.2-5375.7l895.6-125.9"/>
	</g>
	<ellipse id="Ellipse_3_4_" class="st1" cx="540" cy="540" rx="428.8" ry="428.8"/>
	<g id="Group_244_4_" transform="translate(2864.517 6070.279)">
		<path id="Path_31_4_" class="st2" d="M-2324.5-5983v904.4"/>
		<path id="Path_32_4_" class="st2" d="M-2777.3-5530.3h904.4"/>
		<path id="Path_33_4_" class="st2" d="M-2550.3-5139.5l452.2-783.2"/>
		<path id="Path_34_4_" class="st2" d="M-2550.3-5922.7l452.2,783.2"/>
		<path id="Path_35_4_" class="st2" d="M-1932.6-5305l-783.2-452.2"/>
		<path id="Path_36_4_" class="st2" d="M-2715.8-5305l783.2-452.2"/>
	</g>
	<path id="Path_135_4_" class="st1" d="M540,141.4c220.2,0,398.6,178.5,398.6,398.6S760.2,938.6,540,938.6
		c-12.1,0-24.1-0.5-35.9-1.6c-203.4-18.2-362.8-189-362.8-397C141.4,319.8,319.8,141.4,540,141.4z"/>
	<g id="Ellipse_5_4_" transform="translate(2821.617 6027.379)">
		<circle class="st3" cx="-2281.6" cy="-5487.4" r="518.9"/>
		<circle class="st4" cx="-2281.6" cy="-5487.4" r="507.4"/>
	</g>
	<g id="Group_245_4_" transform="translate(2915.461 6112.818)">
		<text transform="matrix(1 0 0 1 -2735.7839 -5548.1064)" class="st6 st10 st11">9</text>
		<text transform="matrix(1 0 0 1 -2691.1414 -5380.8418)" class="st6 st10 st11">8</text>
		<text transform="matrix(1 0 0 1 -2573.8796 -5845.3818)" class="st6 st10 st11">11</text>
		<text transform="matrix(1 0 0 1 -2711.7214 -5718.5439)" class="st6 st10 st11">10</text>
		<text transform="matrix(1 0 0 1 -2411.5085 -5887.3965)" class="st6 st10 st11">12</text>
		<text transform="matrix(1 0 0 1 -2223.157 -5841.417)" class="st6 st10 st11">1</text>
		<text transform="matrix(1 0 0 1 -2103.5945 -5716.166)" class="st6 st10 st11">2</text>
		<text transform="matrix(1 0 0 1 -2111.2273 -5384.8057)" class="st6 st10 st11">4</text>
		<text transform="matrix(1 0 0 1 -2064.1296 -5548.1064)" class="st6 st10 st11">3</text>
		<text transform="matrix(1 0 0 1 -2566.7292 -5254.7959)" class="st6 st10 st11">7</text>
		<text transform="matrix(1 0 0 1 -2399.6277 -5210.4023)" class="st6 st10 st11">6</text>
		<text transform="matrix(1 0 0 1 -2227.0652 -5257.9688)" class="st6 st10 st11">5</text>
	</g>
	<g>
		<g>
			<path id="Path_131_29_" class="st7 clock-1 sliver" d="M469.7,260.9c0,0,62.7-21.5,144.2,0.9c-27,98.5-73.8,269.1-73.8,269.1L469.7,260.9z" onclick="openTime(event, '1')"/>
			<path id="Path_131_28_" class="st7 clock-2 sliver" d="M616.4,262.1c0,0,65.1,12.5,124.7,72.4c-72.4,72-197.8,196.8-197.8,196.8L616.4,262.1z" onclick="openTime(event, '2')"/>
			<path id="Path_131_27_" class="st7 clock-3 sliver" d="M742.8,336.4c0,0,50.2,43.2,72.2,124.8c-98.6,26.5-269.5,72.4-269.5,72.4L742.8,336.4z" onclick="openTime(event, '3')"/>
			<path id="Path_131_26_" class="st7 clock-4 sliver" d="M813.8,610.1c0,0-12.1,65.2-71.6,125.1c-72.5-71.9-198.1-196.6-198.1-196.6L813.8,610.1z" onclick="openTime(event, '4')"/>
			<path id="Path_131_33_" class="st7 clock-5 sliver" d="M814.6,463.8c0,0,22,62.5,0.4,144.2c-98.7-26.2-269.7-71.5-269.7-71.5L814.6,463.8z" onclick="openTime(event, '5')"/>
			<path id="Path_131_25_" class="st7 clock-6 sliver" d="M739.9,736.8c0,0-43.2,50.3-124.7,72.3c-26.6-98.6-72.7-269.4-72.7-269.4L739.9,736.8z" onclick="openTime(event, '6')"/>
			<path id="Path_131_24_" class="st7 clock-7 sliver" d="M611.2,810.1c0,0-62.6,21.7-144.2-0.3c26.6-98.6,72.7-269.4,72.7-269.4L611.2,810.1z" onclick="openTime(event, '7')"/>
			<path id="Path_131_23_" class="st7 clock-8 sliver" d="M463,809.2c0,0-65-12.8-124.4-72.9c72.7-71.8,198.5-196.1,198.5-196.1L463,809.2z" onclick="openTime(event, '8')"/>
			<path id="Path_131_22_" class="st7 clock-9 sliver" d="M335.3,733.6c0,0-49.7-43.8-70.6-125.7c98.9-25.3,270.3-69.1,270.3-69.1L335.3,733.6z" onclick="openTime(event, '9')"/>
			<path id="Path_131_32_" class="st7 clock-10 sliver" d="M264.4,605.6c0,0-21.1-62.8,1.7-144.1c98.3,27.6,268.7,75.3,268.7,75.3L264.4,605.6z" onclick="openTime(event, '10')"/>
			<path id="Path_131_31_" class="st7 clock-11 sliver" d="M266.8,459c0,0,12.9-65,73.1-124.2c71.6,72.8,195.7,199,195.7,199L266.8,459z" onclick="openTime(event, '11')"/>
			<path id="Path_131_30_" class="st7 clock-12 sliver" d="M341.6,333.5c0,0,43.5-50,125.2-71.4c25.9,98.8,70.7,269.9,70.7,269.9L341.6,333.5z" onclick="openTime(event, '12')"/>
		</g>
		<circle id="Ellipse_6_4_" cx="540" cy="535.7" r="9.7"/>
	</g>
</g>
</svg>
	  </div>

		<div class="col-sm-4 blue">
          <div id="1" class="tabcontent">
            <h3>11:30 a.m. - 12:30 p.m.</h3>
              <p>Rotating shifts of brigades return to homebase for a lunch break and to restock needed supplies.</p>
          </div>

          <div id="2" class="tabcontent">
			  <h3>12:30 – 1:30 p.m.</h3>
              <p>Brigades are finishing rounds in the community.</p>
          </div>

          <div id="3" class="tabcontent">
            <h3>1:30 – 2:30 p.m.</h3>
              <p>Community services involve providing medical consultations and care, as well as being an ecouragement and a friend.</p>
          </div>

          <div id="4" class="tabcontent">
            <h3>2:30 – 3:30 p.m.</h3>
              <p>Community services involve providing medical consultations and care, as well as being an ecouragement and a friend.</p>
          </div>

          <div id="5" class="tabcontent">
            <h3>3:30 – 4:30 p.m.</h3>
              <p>Community services involve providing medical consultations and care, as well as being an ecouragement and a friend.</p>
          </div>

		  <div id="6" class="tabcontent">
            <h3>4:30 – 5:30 a.m.</h3>
              <p>José wakes and prepares recording equipment for the day.</p><br>
			<h3>4:30 – 5:30 p.m.</h3>
              <p>Brigades start returning to the clinic's home base for the day.</p>
          </div>

		  <div id="7" class="tabcontent">
		    <h3>5:30 – 6:30 a.m.</h3>
              <p>José leaves home. Calls leaders to see who has difficulty getting to the main clinic, where group meets.</p><br>
			<h3>5:30 – 6:30 p.m.</h3>
              <p>Brigades return from their rounds. José shares a summary of the day and thanks all who were able to help for their engagement.</p>
          </div>

		  <div id="8" class="tabcontent">
            <h3>6:30 a.m.</h3>
              <p>People arrive at the main clinic. Workers load appropriate supplies onto the bus which will take them to the community of the day. Leader gives overview of how they can try to best help the people there.</p><br>
			<h3>6:30 – 9:00 p.m.</h3>
              <p>Brigade workers break down home base and board bus to return to clinic.</p>
          </div>

		  <div id="9" class="tabcontent">
			<h3>7:30 – 8:30 a.m.</h3>
            <p>Workers board bus and ride to the clinic's home base for the day. Locations are anywhere from 15 minutes to a couple of hours away.</p><br>
            <h3>6:30 – 9:00 p.m.</h3>
            <p>Brigade workers break down home base and board bus to return to clinic.</p>
          </div>

		  <div id="10" class="tabcontent">
            <h3>8:30 – 9:00 a.m.</h3>
			  <p>Tents and stations are set up.</p><br>
			<h3>8:30 – 9:30 p.m.</h3>
              <p>Brigade workers break down home base and board bus to return to clinic.</p>
			</div>

		  <div id="11" class="tabcontent">
     		<h3>9:00 – 11:30 a.m.</h3>
			  <p>People start arriving at the clinic's home base of the day.</p>
			  </div>

		  <div id="12" class="tabcontent">
			  <h3>9:00 – 11:30 a.m.</h3>
			  <p>Health services being offered include blood pressure tests, wound treatments and mental health services.</p>
          </div>
		</div>
	  </div>
</div>

   <script>
   function openTime(evt, clockTime) {
    // Declare all variables
    var i, tabcontent, sliver;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Get all elements with class="sliver" and remove the class "active"
    sliver = document.getElementsByClassName("sliver");
    for (i = 0; i < sliver.length; i++) {
        sliver[i].classList.remove("active");
    }

    // Show the current tab, and add an "active" class to the link that opened the tab
    document.getElementById(clockTime).style.display = "block";
    evt.currentTarget.classList.add ("active");
    console.log (evt.currentTarget.className);
}
</script>
