<% var URL_LANG = espanol ? "?lang=es":"";  %>
<% include ../partials/header.ejs %>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="mobile-nav-bar"><a class="navbar-brand" href="#"><img class="logo-in-corner" src="../assets/images/aftermath_web.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button></div>
  <div class="collapse navbar-collapse expanded-menu" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="pages/water"><h3>water</h3><h5>title of the story</h5></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="pages/pollution"><h3>pollution</h3><h5>title of the story</h5></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="pages/health"><h3>health</h3><h5>title of the story</h5></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="pages/power"><h3>power</h3><h5>title of the story</h5></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="pages/biodiversity"><h3>biodiversity</h3><h5>title of the story</h5></a>
      </li>
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> -->
    </ul>
    <div class="es-and-about"><p><a href="#">ES</a> | <a href="about">About</a></p></div>

  </div>
</nav>





<!-- <div class="dropdown-pictures-nav">
<ul>
  <li><a href="/pages/pollution<%=URL_LANG%>">
      <img id="click-me2" class="homepage-icon" src="assets/images/pollution.png">
      <h3>water</h3>
    </a>
  </li>
  <li><a href="#">
      <img id="click-me3" class="homepage-icon" src="../assets/images/pollution.png">
      <h3>pollution</h3>
    </a>
  </li>
  <li><a href="#">
      <img id="click-me4" class="homepage-icon" src="../assets/images/health.png">
      <h3>health</h3>
    </a>
  </li>
  <li><a href="#">
    <img id="click-me5" class="homepage-icon" src="../assets/images/power.png">
    <h3>power</h3>
  </a>
  </li>
  <li><a href="#">
      <img id="click-me6" class="homepage-icon" src="../assets/images/biodiversity.png">
      <h3>biodiversity</h3>
    </a>
  </li>
</ul>
</div> -->









<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="js/index.js"></script>
