<% var URL_LANG = espanol ? "?lang=es":"";  %>
<% include ../partials/header.ejs %>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="mobile-nav-bar"><a class="navbar-brand" href="#"><img class="logo-in-corner" src="../assets/images/aftermath_web.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button></div>
  <div class="collapse navbar-collapse expanded-menu megamenu everything" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="pages/water"><h3 class="nav-header">water</h3><img class="nav-icon" src="assets/images/homepage-icons/water.png"><h5>dredging with hope</h5></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="pages/pollution"><h3 class="nav-header">pollution</h3><img class="nav-icon" src="assets/images/homepage-icons/pollution.png"><h5>covered in ash</h5></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="pages/health"><h3 class="nav-header">health</h3><img class="nav-icon" src="assets/images/homepage-icons/health.png"><h5>the healing brigade</h5></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="pages/power"><h3 class="nav-header">power</h3><img class="nav-icon" src="assets/images/homepage-icons/power.png"><h5>where's the power</h5></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="pages/biodiversity"><h3 class="nav-header">biodiversity</h3><img class="nav-icon" src="assets/images/homepage-icons/biodiversity.png"><h5>learning from the forest</h5></a>
      </li>
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> -->
    </ul>
      </div>
    <div class="es-and-about"><p><a href="#">ES</a> | <a href="about">About</a></p></div>
    <!-- <div class="mega-bottomrow">
      <ul class="nav navbar-nav">
        <li><a href="#">Home</a></li>
        <li><a href="#">THE STORY TITLE</a></li>
        <li><a href="#">TITLE TWO HERE</a></li>
        <li><a href="#">THREE'S A CHARM</a></li>
      </ul>
    </div> -->



</nav>
