<% var URL_LANG = espanol ? "?lang=es":"";  %>
<% include ../partials/header.ejs %>

<div data-0="top:0%;display:block;" data-600="top:0%" data-1000="top:-100%;display:none;" class="nav-bar-wrapper" style="top:0%;display:block;">

<nav class="navbar hidden navbar-expand-lg navbar-light bg-light nav-down">

  <div class="mobile-nav-bar"><a class="navbar-brand" href="/"><img class="logo-in-corner" src="../assets/images/aftermath_web.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button></div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" onmouseover="fadeIconsNav(0)" onmouseout="unfadeIconsNav(0)">
        <a class="nav-link" href="pages/water" id="link-0">
          <h3 class="nav-header">water</h3><h5>dredging with hope</h5>
        </a>
      </li>
      <li class="nav-item" onmouseover="fadeIconsNav(1)" onmouseout="unfadeIconsNav(1)">
        <a class="nav-link" href="pages/pollution" id="link-1">
          <h3 class="nav-header">pollution</h3><h5>covered in ash</h5>
        </a>
      </li>
      <li class="nav-item" onmouseover="fadeIconsNav(2)" onmouseout="unfadeIconsNav(2)">
        <a class="nav-link" href="pages/health" id="link-2">
          <h3 class="nav-header">health</h3><h5>the healing brigade</h5>
        </a>
      </li>
      <li class="nav-item" onmouseover="fadeIconsNav(3)" onmouseout="unfadeIconsNav(3)">
        <a class="nav-link" href="pages/power" id="link-3">
          <h3 class="nav-header">power</h3><h5>where's the light</h5>
        </a>
      </li>
      <li class="nav-item" onmouseover="fadeIconsNav(4)" onmouseout="unfadeIconsNav(4)">
        <a class="nav-link" href="pages/biodiversity" id="link-4">
          <h3 class="nav-header">biodiversity</h3><h5>learning from the forest</h5>
        </a>
      </li>
        </ul>
    </div>
      <div class="es-and-about">
        <p><a href="#">ES</a> | <a href="about">About</a></p>
      </div>
</nav>
</div>
