<% var URL_LANG = espanol ? "?lang=es":"";  %>


<div class="nav-wrap-2">
<div class="nav-bar-wrapper">

<nav class="navbar hidden navbar-expand-xl navbar-light bg-light nav-down">

  <div class="mobile-nav-bar"><a class="navbar-brand" href="/"><img class="logo-in-corner-index" src="../assets/images/aftermath_web.png"></a>
    <button id="navButton" class="navbar-toggler hamburger hamburger--spin" onclick="toggleTitle()" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
  </button></div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" onmouseover="fadeIconsNav(3)" onmouseout="unfadeIconsNav(3)">
        <a class="nav-link" href="pages/power" id="link-3">
          <img class="nav-icon" src="assets/images/homepage-icons/power.png">
          <h3 class="nav-header">power</h3><h5>flipping the switch</h5>
        </a>
      </li>
      <li class="nav-item" onmouseover="fadeIconsNav(1)" onmouseout="unfadeIconsNav(1)">
        <a class="nav-link" href="pages/pollution" id="link-1">
          <img class="nav-icon" src="assets/images/homepage-icons/pollution.png">
          <h3 class="nav-header">pollution</h3><h5>a fight for life</h5>
        </a>
      </li>
      <li class="nav-item" onmouseover="fadeIconsNav(2)" onmouseout="unfadeIconsNav(2)">
        <a class="nav-link" href="pages/health" id="link-2">
          <img  class="nav-icon" src="assets/images/homepage-icons/health.png">
          <h3 class="nav-header">health</h3><h5>the healing brigade</h5>
        </a>
      </li>
      <li class="nav-item" onmouseover="fadeIconsNav(0)" onmouseout="unfadeIconsNav(0)">
        <a class="nav-link" href="pages/water" id="link-0">
          <img class="nav-icon" src="assets/images/homepage-icons/water.png">
          <h3 class="nav-header">water</h3><h5>rooted in el caño</h5>
        </a>
      </li>
      <li class="nav-item" onmouseover="fadeIconsNav(4)" onmouseout="unfadeIconsNav(4)">
        <a class="nav-link" href="pages/ecology" id="link-4">
          <img class="nav-icon" src="assets/images/homepage-icons/ecology.png">
          <h3 class="nav-header">ecology</h3><h5>a natural revolution</h5>
        </a>
      </li>
        </ul>
    </div>
      <div class="es-and-about">
        <p><a href="about">ABOUT</a></p>
        <div class="mobile-social-icons">
             <a class="facebook" href="https://www.facebook.com/aftermath.unc" target="_blank" onmouseover="fadeIconsFooter(0)" onmouseout="unfadeIconsFooter(0)"><img id="footer-0" src="../../assets/images/social/facebook.png"></a>
             <a class="instagram" href="https://www.instagram.com/aftermath_unc" target="_blank" onmouseover="fadeIconsFooter(1)" onmouseout="unfadeIconsFooter(1)"><img id="footer-1" src="../../assets/images/social/instagram.png"></a>
             <a class="twitter" href="https://www.twitter.com/aftermath_unc" target="_blank" onmouseover="fadeIconsFooter(2)" onmouseout="unfadeIconsFooter(2)"><img id="footer-2" src="../../assets/images/social/twitter.png"></a>
        </div>
      </div>
</nav>
</div>
</div>
