
<div class="container">
  <div id="photo-gallery" class="row1 photo-gallery itemscope itemtype="http://schema.org/ImageGallery"">

    <div id="custom-slider" class= "grid my-gallery photo-row">


          <figure class="indiv-image pic-style grid-item" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/pollution/pollution_sl_01.jpg" itemprop="contentUrl" data-size="900x600" data-author="Alexis Fairbanks">
              <img src="../assets/images/photo-gallery/pollution/pollution_sl_01.jpg" class="pic img-fluid"/>
            </a>
            <figcaption id="inner-caption" itemprop="caption description">A skull and the words “Puerto Rico free from ash” are spray-painted on an abandoned house in Peñuelas, Puerto Rico. The house is at the base of the hill where the Peñuelas Valley Landfill is located.<br><small>Photo: Kaitlin Harlow</small></figcaption>
          </figure>

          <figure class="indiv-image pic-style grid-item" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/pollution/pollution_sl_02.jpg" itemprop="contentUrl" data-size="900x600" data-author="Alexis Fairbanks">
              <img src="../assets/images/photo-gallery/pollution/pollution_sl_02.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">The sun sets on a protest camp in Peñuelas.  A hand painted sign describes the effects that coal ash in the air and water can have on physical health. <br><small>Photo: Alexis Fairbanks</small></figcaption>
          </figure>

          <figure class="indiv-image pic-style grid-item" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/pollution/pollution_sl_03.jpg" itemprop="contentUrl" data-size="900x600" data-author="Alexis Fairbanks">
              <img src="../assets/images/photo-gallery/pollution/pollution_sl_03.jpg" class="pic img-fluid"/>
            </a>
            <figcaption id="inner-caption" itemprop="caption description">Carmelo Garcia is a professor at the University of Puerto Rico and an activist against the illegal dumping of coal ash.  Garcia became involved with the protests against AES because he lives close to a landfill where ash is deposited, and he believes that the depositing of the ash has negatively impacted his grandmother’s asthma.  “I have no option,” says Garcia.  “The only option was to join the movement and to help them… so for the last 5 years I have been going around with my presentations, trying to convince people that they have to fight against the ashes.”<br><small>Photo: Alexis Fairbanks</small></figcaption>
          </figure>

          <figure class="indiv-image pic-style grid-item" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/pollution/pollution_sl_04.jpg" itemprop="contentUrl" data-size="900x600" data-author="Alexis Fairbanks">
              <img src="../assets/images/photo-gallery/pollution/pollution_sl_04.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">Protesters demonstrate outside a landfill where coal ash is dumped in Humacao, Puerto Rico.  Their sign reads “No Ashes, No Cancer.” <br><small>Photo: Alexis Fairbanks</small></figcaption>
          </figure>

          <figure class="indiv-image pic-style grid-item" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/pollution/pollution_sl_05.jpg" itemprop="contentUrl" data-size="900x600" data-author="Alexis Fairbanks">
              <img src="../assets/images/photo-gallery/pollution/pollution_sl_05.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">Garcia waits outside the main entrance of the landfill to speak with an official.  Garcia says that every time he asks to speak with someone about the storing of coal ash, he is told that the person he wishes to speak to is unavailable or unable to divulge any information. <br><small>Photo: Alexis Fairbanks</small></figcaption>
          </figure>

          <figure class="indiv-image pic-style grid-item" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/pollution/pollution_sl_06.jpg" itemprop="contentUrl" data-size="900x600" data-author="Alexis Fairbanks">
              <img src="../assets/images/photo-gallery/pollution/pollution_sl_06.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">Garcia greets his dog, Pocho, as he arrives home after an early morning protest. <br><small>Photo: Alexis Fairbanks</small></figcaption>
          </figure>

          <figure class="indiv-image pic-style grid-item" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/pollution/pollution_sl_07.jpg" itemprop="contentUrl" data-size="900x600" data-author="Alexis Fairbanks">
              <img src="../assets/images/photo-gallery/pollution/pollution_sl_07.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">High chain-link fences topped with barbed wire, security cameras, guard dogs, and warning signs block the entrance to the AES coal ash deposit site in Peñuelas. <br><small>Photo: Kaitlin Harlow</small></figcaption>
          </figure>

          <figure class="indiv-image pic-style grid-item" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/pollution/pollution_sl_08.jpg" itemprop="contentUrl" data-size="900x600" data-author="Alexis Fairbanks">
              <img src="../assets/images/photo-gallery/pollution/pollution_sl_08.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">The 125,000 tons of coal ash deposited at the Peñuelas Valley Landfill are just out of sight beyond the gate. <br><small>Photo: Kaitlin Harlow</small></figcaption>
          </figure>

          <figure class="indiv-image pic-style grid-item" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/pollution/pollution_sl_09.jpg" itemprop="contentUrl" data-size="900x600" data-author="Alexis Fairbanks">
              <img src="../assets/images/photo-gallery/pollution/pollution_sl_09.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">A 4-year old boy plays with his toy truck in the backyard of his home in Peñuelas. His house was flooded by coal ash from the factory across the street, so now he plays in coal ash instead of grass. <br><small>Photo: Darian Woehr</small></figcaption>
          </figure>

          <figure class="indiv-image pic-style grid-item" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/pollution/pollution_sl_10.jpg" itemprop="contentUrl" data-size="900x600" data-author="Alexis Fairbanks">
              <img src="../assets/images/photo-gallery/pollution/pollution_sl_10.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">The horizon of Peñuelas, Puerto Rico, includes the stacks of an abandoned factory. According to Carmelo Garcia, factories in Penuelas have caused environmental damage, then closed down, leaving the community with their mess to clean up. <br><small>Photo: Darian Woehr</small></figcaption>
          </figure>

        <figure class="indiv-image pic-style grid-item" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/pollution/pollution_sl_00.jpg" itemprop="contentUrl" data-size="900x600" data-author="Alexis Fairbanks">
              <img src="../assets/images/photo-gallery/pollution/pollution_sl_00.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">The sun sets over the coastal town of Peñuelas.  Applied Energy Services (AES) has been dumping coal ash along the southern coast of Puerto Rico for years, and residents of the towns where the dumps are located have long protested the unethical practices, citing dangerous health concerns brought on by the close proximity to the dump sites.  The impact of Hurricane Maria made the danger even more imminent: high winds spread the ash outside the designated dump sites, and precipitation leached harmful chemicals from the coal ash and spread them to the groundwater.</figcaption>
          </figure>

        <figure class="indiv-image pic-style grid-item" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/pollution/pollution_sl_11.jpg" itemprop="contentUrl" data-size="600x900" data-author="Kaitlyn Harlow">
              <img src="../assets/images/photo-gallery/pollution/pollution_sl_11.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">Yanina Moreno, a coal ash activist and spokesperson for the Peñuelas protest camp, plans out lessons for her high school math class.<br><small>Photo: Kaitlyn Harlow</small></figcaption>
          </figure>

    </div>

  </div>
</div>

<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe.
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides.
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>

<script>
  // Share buttons
  //
  // Available variables for URL:
  // {{url}}             - url to current page
  // {{text}}            - title
  // {{image_url}}       - encoded image url
  // {{raw_image_url}}   - raw image url
  shareButtons: [
    {id:'facebook', label:'Share on Facebook', url:'https://www.facebook.com/sharer/sharer.php?u={{image_url}}'},
    {id:'twitter', label:'Tweet', url:'https://twitter.com/intent/tweet?text={{text}}&url={{image_url}}'},
    {id:'pinterest', label:'Pin it', url:'http://www.pinterest.com/pin/create/button/?url={{url}}&media={{image_url}}&description={{text}}'},
    {id:'download', label:'Download image', url:'{{raw_image_url}}', download:true}
  ],


  // Next 3 functions return data for share links
  //
  // functions are triggered after click on button that opens share modal,
  // which means that data should be about current (active) slide
  getImageURLForShare: function( shareButtonData ) {
    // `shareButtonData` - object from shareButtons array
    //
    // `pswp` is the gallery instance object,
    // you should define it by yourself
    //
    return pswp.currItem.src || '';
  },
  getPageURLForShare: function( shareButtonData ) {
    return window.location.href;
  },
  getTextForShare: function( shareButtonData ) {
    return pswp.currItem.title || '';
  },

  // Parse output of share links
  parseShareButtonOut: function(shareButtonData, shareButtonOut) {
    // `shareButtonData` - object from shareButtons array
    // `shareButtonOut` - raw string of share link element
    return shareButtonOut;
  }
</script>
