
<div class="container">
  <div id="photo-gallery" class="row1 photo-gallery itemscope itemtype="http://schema.org/ImageGallery"">

    <div id="custom-slider" class= "grid my-gallery photo-row">

          <figure class="indiv-image pic-style grid-item" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/water/water_sl_01.jpg" itemprop="contentUrl" data-size="1000x550" data-author="Alexis Fairbanks">
              <img src="../assets/images/photo-gallery/water/water_sl_01.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">El Caño de Martín Peña, a now-stagnant tidal canal, once flowed across San Juan. Now strangled with trash and sediment, it floods and pollutes the surrounding communities. An environmental justice initiative seeks to give life back to the once healthy waterway by dredging it and making infrastructural repairs.
              <br><small>Photo: Nathan Klima</small></figcaption>
          </figure>

          <figure class="indiv-image pic-style grid-item" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/water/water_sl_02.jpg" itemprop="contentUrl" data-size="900x600" data-author="Alexis Fairbanks">
              <img src="../assets/images/photo-gallery/water/water_sl_02.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">José Caraballo Pagán, a community activist and government worker, has lived near El Caño since 1963. He likens the communities around the canal to the roots of a mangrove tree. “Fifth generations live in here. We don’t move too much. We like to grow roots.”
              <br><small>Photo: Matt Couch</small></figcaption>
          </figure>

          <figure class="indiv-image pic-style grid-item" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/water/water_sl_03.jpg" itemprop="contentUrl" data-size="900x600" data-author="Alexis Fairbanks">
              <img src="../assets/images/photo-gallery/water/water_sl_03.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">At its widest point, El Caño appears deep and blue. However, grease and sediment swirl in the stagnant water, and cans, trash, and debris float on top. Decades of sedimentation, garbage, and untreated water have caused the strangled canal to regularly overflow, flooding homes in the eight adjacent communities. <br><small>Photo: Kaitlin Harlow</small></figcaption>
          </figure>

          <figure class="indiv-image pic-style grid-item" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/water/water_sl_04.jpg" itemprop="contentUrl" data-size="900x600" data-author="Alexis Fairbanks">
              <img src="../assets/images/photo-gallery/water/water_sl_04.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">Gladys Peña brushes the dust off of a photo of her sons, who no longer live in Puerto Rico. This photo is one of the few she has left after Hurricane Maria tore the roof off of her home and damaged her belongings. Peña lives alone with an emergency aid tarp protecting the top and side of her house. <br><small>Photo: Alexis Fairbanks</small></figcaption>
          </figure>

          <figure class="indiv-image pic-style grid-item" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/water/water_sl_05.jpg" itemprop="contentUrl" data-size="900x600" data-author="Alexis Fairbanks">
              <img src="../assets/images/photo-gallery/water/water_sl_05.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">José Caraballo Pagán prepares for a weekly meeting with community members in the conference room of Proyecto ENLACE, the alliance of community organizations leading the canal dredging initiative. They will discuss relocation possibilities for the 400 families who would have to move if the canal were dredged. Pagán himself may soon have to leave his home of 55 years.<br><small>Photo: Kaitlin Harlow</small></figcaption>
          </figure>

          <figure class="indiv-image pic-style grid-item" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/water/water_sl_06.jpg" itemprop="contentUrl" data-size="900x600" data-author="Alexis Fairbanks">
              <img src="../assets/images/photo-gallery/water/water_sl_06.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">The walls of the Proyecto ENLACE offices are covered in personal notes, posters, blueprints of future projects like sustainable eco-shelters, and even an award plaque from the Environmental Protection Agency. <br><small>Photo: Kaitlin Harlow</small></figcaption>
          </figure>

          <figure class="indiv-image pic-style grid-item" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/water/water_sl_07.jpg" itemprop="contentUrl" data-size="900x600" data-author="Alexis Fairbanks">
              <img src="../assets/images/photo-gallery/water/water_sl_07.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">The banks of El Caño are covered in litter at most points. Foil wrappers, broken shoes, needles, and plastic furniture all wash up in the mud. Proyecto ENLACE’s $800 million dredging project would clean up the waterway and revive the community. <br><small>Photo: Kaitlin Harlow</small></figcaption>
          </figure>

          <figure class="indiv-image pic-style grid-item" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/water/water_sl_08.jpg" itemprop="contentUrl" data-size="900x600" data-author="Alexis Fairbanks">
              <img src="../assets/images/photo-gallery/water/water_sl_08.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">Blue tarps distributed by emergency aid workers work as temporary roofs for storm-damage buildings in the neighborhood. Hurricane María left 1,200 homes near El Caño roofless and decimated 75 others completely. <br><small>Photo: Kaitlin Harlow</small></figcaption>
          </figure>

          <figure class="indiv-image pic-style grid-item" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/water/water_sl_09.jpg" itemprop="contentUrl" data-size="900x600" data-author="Alexis Fairbanks">
              <img src="../assets/images/photo-gallery/water/water_sl_09.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">Blanquita Santiago Arroyo props up her refrigerator, washing machine, bed, and other furniture on cinder blocks to minimize water damage every time her house floods. Her home was flooded for two weeks after Maria, and it continues to flood regularly when El Caño overflows. <br><small>Photo: Kaitlin Harlow</small></figcaption>
          </figure>

          <figure class="indiv-image pic-style grid-item" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/water/water_sl_10.jpg" itemprop="contentUrl" data-size="900x600" data-author="Alexis Fairbanks">
              <img src="../assets/images/photo-gallery/water/water_sl_10.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">The youngest generation of El Caño residents gives Proyecto ENLACE a reason to fight for El Caño’s dredging, says José Pagán. <br><small>Photo: Matt Couch</small></figcaption>
          </figure>

          <figure class="indiv-image pic-style grid-item" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/water/water_sl_11.jpg" itemprop="contentUrl" data-size="900x600" data-author="Alexis Fairbanks">
              <img src="../assets/images/photo-gallery/water/water_sl_11.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">Grandma Higgins, as she is known in the community, smiles during a conversation with José Pagán. Pagán is a well-known face in community, where he regularly strolls around to visit neighbors. <br><small>Photo: Nathan Klima</small></figcaption>
          </figure>

          <figure class="indiv-image pic-style grid-item" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/water/water_sl_12.jpg" itemprop="contentUrl" data-size="900x600">
              <img src="../assets/images/photo-gallery/water/water_sl_12.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">A block from the headquarters of Proyecto ENLACE, a colorful mural reminds passerby that “El Caño Vive” (El Caño Lives).<br><small>Photo: Kaitlin Harlow</small></figcaption>
          </figure>

    </div>

  </div>
</div>


<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe.
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides.
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>

<script>
  // Share buttons
  //
  // Available variables for URL:
  // {{url}}             - url to current page
  // {{text}}            - title
  // {{image_url}}       - encoded image url
  // {{raw_image_url}}   - raw image url
  shareButtons: [
    {id:'facebook', label:'Share on Facebook', url:'https://www.facebook.com/sharer/sharer.php?u={{image_url}}'},
    {id:'twitter', label:'Tweet', url:'https://twitter.com/intent/tweet?text={{text}}&url={{image_url}}'},
    {id:'pinterest', label:'Pin it', url:'http://www.pinterest.com/pin/create/button/?url={{url}}&media={{image_url}}&description={{text}}'},
    {id:'download', label:'Download image', url:'{{raw_image_url}}', download:true}
  ],


  // Next 3 functions return data for share links
  //
  // functions are triggered after click on button that opens share modal,
  // which means that data should be about current (active) slide
  getImageURLForShare: function( shareButtonData ) {
    // `shareButtonData` - object from shareButtons array
    //
    // `pswp` is the gallery instance object,
    // you should define it by yourself
    //
    return pswp.currItem.src || '';
  },
  getPageURLForShare: function( shareButtonData ) {
    return window.location.href;
  },
  getTextForShare: function( shareButtonData ) {
    return pswp.currItem.title || '';
  },

  // Parse output of share links
  parseShareButtonOut: function(shareButtonData, shareButtonOut) {
    // `shareButtonData` - object from shareButtons array
    // `shareButtonOut` - raw string of share link element
    return shareButtonOut;
  }
</script>
