<div class="photo-slider">
<h4 class="slider-title">Swipe for more photos</h4>
<div class="tns-outer">
	<div class="tns-inner tns-ovh tns-ah" id="autoHeight-iw" style="transition-duration: 0.4s;">
		<div class="autoHeight my-slider tns-slider tns-carousel tns-subpixel tns-calc tns-horizontal" id="autoHeight" style="transform: translateX(-76%); transition-duration: 0.4s;">
		  <div id="autoHeight-item0" class="tns-item tns-slide-active" aria-hidden="false">
				<img src="../assets/images/photo-gallery/power/power_sl_01.jpg" class="pic img-fluid"/>
				<p>Tito Kayak poses for a portrait in front of a black Puerto Rican flag painted on a building in the neighborhood where Kayak grew up in Ponce. The black and white rendition of the Puerto Rican flag is a symbol of mourning and resistance of US rule on the island for many Puerto Ricans. Six months after Hurricane Maria, 11 percent of homes and businesses on the island are still without power.  Kayak donates his own time and expertise to fixing downed power lines and restoring electricity to those who have not yet been reached by FEMA. <br><small>Photo: Rob Gourley</small></p>
			</div>
		  <div id="autoHeight-item1" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/power/power_sl_02.jpg" class="pic img-fluid"/>
				<p>A tilted light pole illuminates an Ocean Park street just before dawn.  Ocean Park is an area that attracts a large tourist population, and is largely back to normal after the storm. <br><small>Photo: Alexis Fairbanks</small></p>
			</div>
		  <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/power/power_sl_03.jpg" class="pic img-fluid"/>
				<p>Tito Kayak received a call from a family that has been without power since the hurricane and came to the family to help put on power the next day. He climbed to the top of the ladder to work on the power line. “We’re working on something we cannot see. With any mess-up, you could lose and arm, an eye, and you could burn yourself.” <br><small>Photo: Ruijia Zhang</small></p>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/power/power_sl_04.jpg" class="pic img-fluid"/>
				<p>Tito Kayak hangs a protest banner on a billboard just outside Vega Baja, Puerto Rico, on March 9th, 2018. The banner reads, “We need electricity now! Damn, Damn, Damn!” Kayak prides himself in his unique style of activism that some consider reckless. <br><small>Photo: Rob Gourley</small></p>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/power/power_sl_05.jpg" class="pic img-fluid"/>
				<p>Kayak speaks in front of his church congregation about restoring power to the people of Puerto Rico. The church members chant his name when he pauses for a moment, overcome with emotion. Kayak is a beloved member of his community and well known across the island for his vigilante activism. <br><small>Photo: Alexis Fairbanks</small></p>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/power/power_sl_06.jpg" class="pic img-fluid"/>
				<p>A framed portrait of Tito Kayak hangs inside one of the church buildings, alongside a portrait of the church’s late priest. Kayak jokes that he does not recognize himself since he appears so young in the portrait. <br><small>Photo: Kaitlin Harlow</small></p>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/power/power_sl_07.jpg" class="pic img-fluid"/>
				<p>Kayak enjoys a brief moment of rest at a lakeside park after a morning of rescuing his repair tools from the river. <br><small>Photo: Alexis Fairbanks</small></p>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/power/power_sl_08.jpg" class="pic img-fluid"/>
				<p>Luisa M. Pérez asked Kayak to take a picture with her after the service. A member of the same church, Pérez expressed admiration for Kayak’s work: “I know Tito from the news, from the events, from the struggle, from the good that he does for Puerto Rico. There are many people that haven’t had help… he is one of the people, the heroes, who has collaborated with the people that the government has forgotten.”<br><small>Photo: Kaitlin Harlow</small></p>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/power/power_sl_09.jpg" class="pic img-fluid"/>
				<p>Kayak tied himself to the river bank with rope in order to stay anchored while fishing for his lost repair tools under the water. The rescue mission was ultimately a success: he recovered an entire toolbox, as well as power tools, ropes, and harnesses. <br><small>Photo: Kaitlin Harlow</small></p>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/power/power_sl_10.jpg" class="pic img-fluid"/>
				<p>Tito Kayak has a meeting with his lawyers at the lawyers’ office the afternoon after he goes to the court being accused of stealing keys of the generators. His lawyers will be preparing him to go to the court the next day again. After several days’ intense power fixing, Tito Kayak takes a rest before the meeting. <br><small>Photo: Ruijia Zhang</small></p>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/power/power_sl_11.jpg" class="pic img-fluid"/>
				<p>Tito Kayak hugs Nadia Díaz, Aukai Spassor and Kalani Spassor after returning power to their apartment complex in San Juan, Puerto Rico, on March 14, 2018. They had been without usable power for more than a year despite being across the street from the Puerto Rican electrician's college. It took him two hours to restore power to 10 homes on that block. <br><small>Photo: Rob Gourley</small></p>
			</div>
		</div>
	</div>
</div>
</div>
