
<div class="Container">
  <div id="photo-gallery" class="row1 photo-gallery itemscope itemtype="http://schema.org/ImageGallery"">

    <div id="custom-slider" class= "grid my-gallery photo-row">

          <figure class="indiv-image pic-style grid-item" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/power/power_sl_01.jpg" itemprop="contentUrl" data-size="900x600" data-author="Alexis Fairbanks">
              <img src="../assets/images/photo-gallery/power/power_sl_01.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">Tito Kayak poses for a portrait in front of a black Puerto Rican flag painted on a building in the neighborhood where Kayak grew up in Ponce. The black and white rendition of the Puerto Rican flag is a symbol of mourning and resistance of US rule on the island for many Puerto Ricans. Six months after Hurricane Maria, 11 percent of homes and businesses on the island are still without power.  Kayak donates his own time and expertise to fixing downed power lines and restoring electricity to those who have not yet been reached by FEMA. <br><small>Photo: Rob Gourley</small></figcaption>
          </figure>

          <figure class="indiv-image pic-style grid-item" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/power/power_sl_02.jpg" itemprop="contentUrl" data-size="900x600" data-author="Alexis Fairbanks">
              <img src="../assets/images/photo-gallery/power/power_sl_02.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">A tilted light pole illuminates an Ocean Park street just before dawn.  Ocean Park is an area that attracts a large tourist population, and is largely back to normal after the storm. <br><small>Photo: Alexis Fairbanks</small></figcaption>
          </figure>

          <figure class="indiv-image pic-style grid-item" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/power/power_sl_03.jpg" itemprop="contentUrl" data-size="600x900" data-author="Alexis Fairbanks">
              <img src="../assets/images/photo-gallery/power/power_sl_03.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">Tito Kayak received a call from a family that has been without power since the hurricane and came to the family to help put on power the next day. He climbed to the top of the ladder to work on the power line. “We’re working on something we cannot see. With any mess-up, you could lose and arm, an eye, and you could burn yourself.” <br><small>Photo: Ruijia Zhang</small></figcaption>
          </figure>

          <figure class="indiv-image pic-style grid-item" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/power/power_sl_04.jpg" itemprop="contentUrl" data-size="600x900" data-author="Alexis Fairbanks">
              <img src="../assets/images/photo-gallery/power/power_sl_04.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">Tito Kayak hangs a protest banner on a billboard just outside Vega Baja, Puerto Rico, on March 9th, 2018. The banner reads, “We need electricity now! Damn, Damn, Damn!” Kayak prides himself in his unique style of activism that some consider reckless. <br><small>Photo: Rob Gourley</small></figcaption>
          </figure>

          <figure class="indiv-image pic-style grid-item" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/power/power_sl_05.jpg" itemprop="contentUrl" data-size="900x600" data-author="Alexis Fairbanks">
              <img src="../assets/images/photo-gallery/power/power_sl_05.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">Kayak speaks in front of his church congregation about restoring power to the people of Puerto Rico. The church members chant his name when he pauses for a moment, overcome with emotion. Kayak is a beloved member of his community and well known across the island for his vigilante activism. <br><small>Photo: Alexis Fairbanks</small></figcaption>
          </figure>

          <figure class="indiv-image pic-style grid-item" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/power/power_sl_06.jpg" itemprop="contentUrl" data-size="600x900" data-author="Alexis Fairbanks">
              <img src="../assets/images/photo-gallery/power/power_sl_06.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">A framed portrait of Tito Kayak hangs inside one of the church buildings, alongside a portrait of the church’s late priest. Kayak jokes that he does not recognize himself since he appears so young in the portrait. <br><small>Photo: Kaitlin Harlow</small></figcaption>
          </figure>

          <figure class="indiv-image pic-style grid-item" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/power/power_sl_07.jpg" itemprop="contentUrl" data-size="900x600" data-author="Alexis Fairbanks">
              <img src="../assets/images/photo-gallery/power/power_sl_07.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">Kayak enjoys a brief moment of rest at a lakeside park after a morning of rescuing his repair tools from the river. <br><small>Photo: Alexis Fairbanks</small></figcaption>
          </figure>

          <figure class="indiv-image pic-style grid-item" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/power/power_sl_08.jpg" itemprop="contentUrl" data-size="900x600" data-author="Alexis Fairbanks">
              <img src="../assets/images/photo-gallery/power/power_sl_08.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">Luisa M. Pérez asked Kayak to take a picture with her after the service. A member of the same church, Pérez expressed admiration for Kayak’s work: “I know Tito from the news, from the events, from the struggle, from the good that he does for Puerto Rico. There are many people that haven’t had help… he is one of the people, the heroes, who has collaborated with the people that the government has forgotten.”<br><small>Photo: Kaitlin Harlow</small></figcaption>
          </figure>

          <figure class="indiv-image pic-style grid-item" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/power/power_sl_09.jpg" itemprop="contentUrl" data-size="600x900" data-author="Alexis Fairbanks">
              <img src="../assets/images/photo-gallery/power/power_sl_09.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">Kayak tied himself to the river bank with rope in order to stay anchored while fishing for his lost repair tools under the water. The rescue mission was ultimately a success: he recovered an entire toolbox, as well as power tools, ropes, and harnesses. <br><small>Photo: Kaitlin Harlow</small></figcaption>
          </figure>

          <figure class="indiv-image pic-style grid-item" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/power/power_sl_10.jpg" itemprop="contentUrl" data-size="900x600" data-author="Alexis Fairbanks">
              <img src="../assets/images/photo-gallery/power/power_sl_10.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">Tito Kayak has a meeting with his lawyers at the lawyers’ office the afternoon after he goes to the court being accused of stealing keys of the generators. His lawyers will be preparing him to go to the court the next day again. After several days’ intense power fixing, Tito Kayak takes a rest before the meeting. <br><small>Photo: Ruijia Zhang</small></figcaption>
          </figure>

          <figure class="indiv-image pic-style grid-item" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/power/power_sl_11.jpg" itemprop="contentUrl" data-size="900x600" data-author="Alexis Fairbanks">
              <img src="../assets/images/photo-gallery/power/power_sl_11.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">Tito Kayak hugs Nadia Díaz, Aukai Spassor and Kalani Spassor after returning power to their apartment complex in San Juan, Puerto Rico, on March 14, 2018. They had been without usable power for more than a year despite being across the street from the Puerto Rican electrician's college. It took him two hours to restore power to 10 homes on that block. <br><small>Photo: Rob Gourley</small></figcaption>
          </figure>

          <!-- <figure class="indiv-image pic-style grid-item" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/power/power_sl_12.jpg" itemprop="contentUrl" data-size="600x900">
              <img src="../assets/images/photo-gallery/power/power_sl_12.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">This is a dummy caption. It has been placed here to demonstrate the look and feel of a caption. <br><small>Photo: Alexis Fairbanks</small></figcaption>
          </figure> -->

    </div>

  </div>
</div>

<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe.
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides.
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>

<script>
  // Share buttons
  //
  // Available variables for URL:
  // {{url}}             - url to current page
  // {{text}}            - title
  // {{image_url}}       - encoded image url
  // {{raw_image_url}}   - raw image url
  shareButtons: [
    {id:'facebook', label:'Share on Facebook', url:'https://www.facebook.com/sharer/sharer.php?u={{image_url}}'},
    {id:'twitter', label:'Tweet', url:'https://twitter.com/intent/tweet?text={{text}}&url={{image_url}}'},
    {id:'pinterest', label:'Pin it', url:'http://www.pinterest.com/pin/create/button/?url={{url}}&media={{image_url}}&description={{text}}'},
    {id:'download', label:'Download image', url:'{{raw_image_url}}', download:true}
  ],


  // Next 3 functions return data for share links
  //
  // functions are triggered after click on button that opens share modal,
  // which means that data should be about current (active) slide
  getImageURLForShare: function( shareButtonData ) {
    // `shareButtonData` - object from shareButtons array
    //
    // `pswp` is the gallery instance object,
    // you should define it by yourself
    //
    return pswp.currItem.src || '';
  },
  getPageURLForShare: function( shareButtonData ) {
    return window.location.href;
  },
  getTextForShare: function( shareButtonData ) {
    return pswp.currItem.title || '';
  },

  // Parse output of share links
  parseShareButtonOut: function(shareButtonData, shareButtonOut) {
    // `shareButtonData` - object from shareButtons array
    // `shareButtonOut` - raw string of share link element
    return shareButtonOut;
  }
</script>
