
<div class="container">
  <div id="photo-gallery" class="row1 photo-gallery itemscope itemtype="http://schema.org/ImageGallery"">

    <div id="custom-slider" class= "grid my-gallery photo-row">

          <figure class="indiv-image pic-style grid-item" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/ecology/ecology_sl_01.jpg" itemprop="contentUrl" data-size="1000x600" data-author="Alexis Fairbanks">
              <img src="../assets/images/photo-gallery/ecology/ecology_sl_01.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">Caramelo is one of two oxen that plow the fields of El Josco Bravo, a small-scale farm in Toa Alta, Puerto Rico. The oxen, which do not require fuel like tractors, are one of El Josco Bravo’s sustainable farming methods. Young farmers and researchers across Puerto Rico are applying lessons from forest regrowth to create more sustainable ecosystems. In some ways, they are emulating El Yunque National Forest: the island’s best example of natural recovery in the wake of extreme climate disturbances. <br><small>Photo: Alice Hudson</small></figcaption>
          </figure>

          <figure class="indiv-image pic-style grid-item" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/ecology/ecology_sl_02.jpg" itemprop="contentUrl" data-size="900x600" data-author="Alexis Fairbanks">
              <img src="../assets/images/photo-gallery/ecology/ecology_sl_02.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">Hundreds of seedlings grow in the greenhouse at El Josco Bravo. Six months after the storm that destroyed 80 percent of Puerto Rico’s crop value, the farm is back to full operation producing fruits, vegetables, and greens. <br><small>Photo: Kaitlin Harlow</small></figcaption>
          </figure>

          <figure class="indiv-image pic-style grid-item" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/ecology/ecology_sl_03.jpg" itemprop="contentUrl" data-size="900x600" data-author="Alexis Fairbanks">
              <img src="../assets/images/photo-gallery/ecology/ecology_sl_03.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">Ian Pagán Roig credits his farm’s preservation to a philosophy of sustainability, self-reliance, and resilience.<br><small>Photo: Kaitlin Harlow</small></figcaption>
          </figure>

          <figure class="indiv-image pic-style grid-item" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/ecology/ecology_sl_04.jpg" itemprop="contentUrl" data-size="900x600" data-author="Alexis Fairbanks">
              <img src="../assets/images/photo-gallery/ecology/ecology_sl_04.jpg" class="pic img-fluid"/>
            </a>
            <figcaption id="inner-caption" itemprop="caption description">To the unfamiliar eye, El Yunque National Forest may look like it has already completely recovered. However, the plant life that has regrown so far is mostly understory; the tops of the trees are still sparse, offering less shade and shelter to the plants, animals, and tourists below them.<br><small>Photo: Alexis Fairbanks</small></figcaption>
          </figure>

          <figure class="indiv-image pic-style grid-item" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/ecology/ecology_sl_05.jpg" itemprop="contentUrl" data-size="900x600" data-author="Alexis Fairbanks">
              <img src="../assets/images/photo-gallery/ecology/ecology_sl_05.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">The road winding up past La Coca Falls into the upper section of El Yunque is closed to the public, and only linemen and forest personnel can pass through this checkpoint. As of March, only 20% of the forest’s scenic roads and trails were reopened to the public. <br><small>Photo: Kaitlin Harlow</small></figcaption>
          </figure>

          <figure class="indiv-image pic-style grid-item" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/ecology/ecology_sl_06.jpg" itemprop="contentUrl" data-size="900x600" data-author="Alexis Fairbanks">
              <img src="../assets/images/photo-gallery/ecology/ecology_sl_06.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">Contracted workers rebuild a bridge along the Angelito trail. More than 200 temporary employees from the surrounding area, along with local Forest Service personnel and U.S. linemen, have cleared 25 miles of roads, 20 miles of trails, and 5 water intakes as of mid March 2018. <br><small>Photo: Alexis Fairbanks</small></figcaption>
          </figure>

          <figure class="indiv-image pic-style grid-item" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/ecology/ecology_sl_09.jpg" itemprop="contentUrl" data-size="900x600" data-author="Alexis Fairbanks">
              <img src="../assets/images/photo-gallery/ecology/ecology_sl_09.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">Natalie Reyes Cajigas has worked at El Josco Bravo for a year. “Being an agriculturist is not a job that they mention to you in the school or when you grow up,” said Cajigas. “In my school I wish that they would tell me, oh you can be an agriculturist... you can work the earth and see the food grow.” <br><small>Photo: Kaitlin Harlow</small></figcaption>
          </figure>

          <figure class="indiv-image pic-style grid-item" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/ecology/ecology_sl_10.jpg" itemprop="contentUrl" data-size="900x600" data-author="Alexis Fairbanks">
              <img src="../assets/images/photo-gallery/ecology/ecology_sl_10.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">Suley Cruz Berrios, Cajigas, and Pagán relax for a coffee break after several hours of harvesting cucumbers, tomatoes, carrots, beets, turnips, cilantro, kale, and lettuce. <br><small>Photo: Kaitlin Harlow</small></figcaption>
          </figure>

          <figure class="indiv-image pic-style grid-item" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/ecology/ecology_sl_11.jpg" itemprop="contentUrl" data-size="900x600" data-author="Alexis Fairbanks">
              <img src="../assets/images/photo-gallery/ecology/ecology_sl_11.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">Pagán uses his smartphone to track how many kilograms of beets he has harvested and to play trap music on bluetooth speakers while they work. All of the farm volunteers at el Josco Bravo are under 30 years old, and part of a wave of young agroecologists who are revitalizing Puerto Rico through their dedication to strengthening the island’s ecosystems. <br><small>Photo: Kaitlin Harlow</small></figcaption>
          </figure>

          <figure class="indiv-image pic-style grid-item" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/ecology/ecology_sl_12.jpg" itemprop="contentUrl" data-size="900x600">
              <img src="../assets/images/photo-gallery/ecology/ecology_sl_12.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">Pagán rose early in the morning to use his oxen, Josco and Caramelo, to plow his land to prepare it for planting. Pagán believes in the power of small-scale farming and hopes that the future of his nation will take a turn toward the land. <br><small>Photo: Alice Hudson</small></figcaption>
          </figure>

          <figure class="indiv-image pic-style grid-item" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/ecology/ecology_sl_07.jpg" itemprop="contentUrl" data-size="600x900" data-author="Alexis Fairbanks">
                <img src="../assets/images/photo-gallery/ecology/ecology_sl_07.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">Rey Cruz Aguilar, a graduate student in ecology at the University of Puerto Rico-Mayaguez, shows off three large African Tulip trees that grew from the posts of an old fence. He monitors small, novel forests like this one to track how invasive species provide ecological benefits to native species. <br><small>Photo: Kaitlin Harlow</small></figcaption>
          </figure>

    </div>

  </div>
</div>

<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe.
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides.
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>

<script>
  // Share buttons
  //
  // Available variables for URL:
  // {{url}}             - url to current page
  // {{text}}            - title
  // {{image_url}}       - encoded image url
  // {{raw_image_url}}   - raw image url
  shareButtons: [
    {id:'facebook', label:'Share on Facebook', url:'https://www.facebook.com/sharer/sharer.php?u={{image_url}}'},
    {id:'twitter', label:'Tweet', url:'https://twitter.com/intent/tweet?text={{text}}&url={{image_url}}'},
    {id:'pinterest', label:'Pin it', url:'http://www.pinterest.com/pin/create/button/?url={{url}}&media={{image_url}}&description={{text}}'},
    {id:'download', label:'Download image', url:'{{raw_image_url}}', download:true}
  ],


  // Next 3 functions return data for share links
  //
  // functions are triggered after click on button that opens share modal,
  // which means that data should be about current (active) slide
  getImageURLForShare: function( shareButtonData ) {
    // `shareButtonData` - object from shareButtons array
    //
    // `pswp` is the gallery instance object,
    // you should define it by yourself
    //
    return pswp.currItem.src || '';
  },
  getPageURLForShare: function( shareButtonData ) {
    return window.location.href;
  },
  getTextForShare: function( shareButtonData ) {
    return pswp.currItem.title || '';
  },

  // Parse output of share links
  parseShareButtonOut: function(shareButtonData, shareButtonOut) {
    // `shareButtonData` - object from shareButtons array
    // `shareButtonOut` - raw string of share link element
    return shareButtonOut;
  }
</script>
