<div class="photo-slider">
<h4 class="slider-title">Swipe for more photos</h4>
<div class="tns-outer">
	<div class="tns-inner tns-ovh tns-ah" id="autoHeight-iw" style="transition-duration: 0.4s;">
		<div class="autoHeight my-slider tns-slider tns-carousel tns-subpixel tns-calc tns-horizontal" id="autoHeight" style="transform: translateX(-72%); transition-duration: 0.4s;">
		  <div id="autoHeight-item0" class="tns-item tns-slide-active" aria-hidden="false">
				<img src="../assets/images/photo-gallery/ecology/ecology_sl_01.jpg" class="pic img-fluid"/>
				<p>Caramelo is one of two oxen that plow the fields of El Josco Bravo, a small-scale farm in Toa Alta, Puerto Rico. The oxen, which do not require fuel like tractors, are one of El Josco Bravo’s sustainable farming methods. Young farmers and researchers across Puerto Rico are applying lessons from forest regrowth to create more sustainable ecosystems. In some ways, they are emulating El Yunque National Forest: the island’s best example of natural recovery in the wake of extreme climate disturbances.<br><small>Photo: Alice Hudson</small></p>
			</div>
		  <div id="autoHeight-item1" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/ecology/ecology_sl_02.jpg" class="pic img-fluid"/>
				<p>Hundreds of seedlings grow in the greenhouse at El Josco Bravo. Six months after the storm that destroyed 80 percent of Puerto Rico’s crop value, the farm is back to full operation producing fruits, vegetables, and greens. <br><small>Photo: Kaitlin Harlow</small></p>
			</div>
		  <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/ecology/ecology_sl_03.jpg" class="pic img-fluid"/>
				<p>Ian Pagán Roig credits his farm’s preservation to a philosophy of sustainability, self-reliance, and resilience. <br><small>Photo: Kaitlin Harlow</small></p>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/ecology/ecology_sl_04.jpg" class="pic img-fluid"/>
				<p>To the unfamiliar eye, El Yunque National Forest may look like it has already completely recovered. However, the plant life that has regrown so far is mostly understory; the tops of the trees are still sparse, offering less shade and shelter to the plants, animals, and tourists below them. <br><small>Photo: Alexis Fairbanks</small></p>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/ecology/ecology_sl_05.jpg" class="pic img-fluid"/>
				<p>The road winding up past La Coca Falls into the upper section of El Yunque is closed to the public, and only linemen and forest personnel can pass through this checkpoint. As of March, only 20% of the forest’s scenic roads and trails were reopened to the public. <br><small>Photo: Kaitlin Harlow</small></p>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/ecology/ecology_sl_06.jpg" class="pic img-fluid"/>
				<p>Contracted workers rebuild a bridge along the Angelito trail. More than 200 temporary employees from the surrounding area, along with local Forest Service personnel and U.S. linemen, have cleared 25 miles of roads, 20 miles of trails, and 5 water intakes as of mid March 2018. <br><small>Photo: Alexis Fairbanks</small></p>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/ecology/ecology_sl_07.jpg" class="pic img-fluid"/>
				<p>Rey Cruz Aguilar, a graduate student in ecology at the University of Puerto Rico-Mayaguez, shows off three large African Tulip trees that grew from the posts of an old fence. He monitors small, novel forests like this one to track how invasive species provide ecological benefits to native species. <br><small>Photo: Kaitlin Harlow</small></p>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/ecology/ecology_sl_08.jpg" class="pic img-fluid"/>
				<p>In the words of Pagán, El Josco Bravo farm represents “that new vision of farming far from the exploitative agrobusiness of the past. Now it is farming that considers not only the immediacy of production and economic profit, but also sustenance and the integrity of the ecosystem in the long-term.” <br><small>Photo: Kaitlin Harlow</small></p>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/ecology/ecology_sl_09.jpg" class="pic img-fluid"/>
				<p>Natalie Reyes Cajigas has worked at El Josco Bravo for a year. “Being an agriculturist is not a job that they mention to you in the school or when you grow up,” said Cajigas. “In my school I wish that they would tell me, oh you can be an agriculturist... you can work the earth and see the food grow.” <br><small>Photo: Kaitlin Harlow</small></p>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/ecology/ecology_sl_10.jpg" class="pic img-fluid"/>
				<p>Suley Cruz Berrios, Cajigas, and Pagán relax for a coffee break after several hours of harvesting cucumbers, tomatoes, carrots, beets, turnips, cilantro, kale, and lettuce. <br><small>Photo: Kaitlin Harlow</small></p>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/ecology/ecology_sl_11.jpg" class="pic img-fluid"/>
				<p>Pagán uses his smartphone to track how many kilograms of beets he has harvested and to play trap music on bluetooth speakers while they work. All of the farm volunteers at el Josco Bravo are under 30 years old, and part of a wave of young agroecologists who are revitalizing Puerto Rico through their dedication to strengthening the island’s ecosystems. <br><small>Photo: Kaitlin Harlow</small></p>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/ecology/ecology_sl_12.jpg" class="pic img-fluid"/>
				<p>Pagán rose early in the morning to use his oxen, Josco and Caramelo, to plow his land to prepare it for planting. Pagán believes in the power of small-scale farming and hopes that the future of his nation will take a turn toward the land. <br><small>Photo: Alice Hudson</small></p>
			</div>
		</div>
	</div>
</div>
</div>

<!-- <ul class="controls" id="customize-controls" aria-label="Carousel Navigation" tabindex="0">
  <li class="prev" data-controls="prev" aria-controls="customize" tabindex="-1">
    <i class="fas fa-angle-left"></i>
  </li>
  <li class="next" data-controls="next" aria-controls="customize" tabindex="-1">
    <i class="fas fa-angle-right"></i>
  </li>
</ul> -->
