<div class="photo-slider">
<h4 class="slider-title">Swipe for more photos</h4>
<div class="tns-outer">
	<div class="tns-inner tns-ovh tns-ah" id="autoHeight-iw" style="transition-duration: 0.4s;">
		<div class="autoHeight my-slider tns-slider tns-carousel tns-subpixel tns-calc tns-horizontal" id="autoHeight" style="transform: translateX(-76%); transition-duration: 0.4s;">
		  <div id="autoHeight-item0" class="tns-item tns-slide-active" aria-hidden="false">
				<img src="../assets/images/photo-gallery/pollution/pollution_sl_01.jpg" class="pic img-fluid"/>
				<p>A skull and the words “Puerto Rico free from ash” are spray-painted on an abandoned house in Peñuelas, Puerto Rico. The house is at the base of the hill where the Peñuelas Valley Landfill is located.<br><small>Photo: Kaitlin Harlow</small></p>
			</div>
		  <div id="autoHeight-item1" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/pollution/pollution_sl_02.jpg" class="pic img-fluid"/>
				<p>The sun sets on a protest camp in Peñuelas.  A hand painted sign describes the effects that coal ash in the air and water can have on physical health. <br><small>Photo: Alexis Fairbanks</small></p>
			</div>
		  <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/pollution/pollution_sl_03.jpg" class="pic img-fluid"/>
				<p>Carmelo Garcia is a professor at the University of Puerto Rico and an activist against the illegal dumping of coal ash.  Garcia became involved with the protests against AES because he lives close to a landfill where ash is deposited, and he believes that the depositing of the ash has negatively impacted his grandmother’s asthma.  “I have no option,” says Garcia.  “The only option was to join the movement and to help them… so for the last 5 years I have been going around with my presentations, trying to convince people that they have to fight against the ashes.” <br><small>Photo: Alexis Fairbanks</small></p>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/pollution/pollution_sl_04.jpg" class="pic img-fluid"/>
				<p>Protesters demonstrate outside a landfill where coal ash is dumped in Humacao, Puerto Rico.  Their sign reads “No Ashes, No Cancer.” <br><small>Photo: Alexis Fairbanks</small></p>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/pollution/pollution_sl_05.jpg" class="pic img-fluid"/>
				<p>Garcia waits outside the main entrance of the landfill to speak with an official.  Garcia says that every time he asks to speak with someone about the storing of coal ash, he is told that the person he wishes to speak to is unavailable or unable to divulge any information. <br><small>Photo: Alexis Fairbanks</small></p>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/pollution/pollution_sl_06.jpg" class="pic img-fluid"/>
				<p>Garcia greets his dog, Pocho, as he arrives home after an early morning protest. <br><small>Photo: Alexis Fairbanks</small></p>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/pollution/pollution_sl_07.jpg" class="pic img-fluid"/>
				<p>High chain-link fences topped with barbed wire, security cameras, guard dogs, and warning signs block the entrance to the AES coal ash deposit site in Peñuelas. <br><small>Photo: Kaitlin Harlow</small></p>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/pollution/pollution_sl_08.jpg" class="pic img-fluid"/>
				<p>The 125,000 tons of coal ash deposited at the Peñuelas Valley Landfill are just out of sight beyond the gate. <br><small>Photo: Kaitlin Harlow</small></p>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/pollution/pollution_sl_09.jpg" class="pic img-fluid"/>
				<p>A 4-year old boy plays with his toy truck in the backyard of his home in Peñuelas. His house was flooded by coal ash from the factory across the street, so now he plays in coal ash instead of grass. <br><small>Photo: Darian Woehr</small></p>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/pollution/pollution_sl_10.jpg" class="pic img-fluid"/>
				<p>The horizon of Peñuelas, Puerto Rico, includes the stacks of an abandoned factory. According to Carmelo Garcia, factories in Penuelas have caused environmental damage, then closed down, leaving the community with their mess to clean up. <br><small>Photo: Darian Woehr</small></p>
			</div>
		</div>
	</div>
</div>
</div>
