
<div class="container">
  <div id="photo-gallery" class="row1 photo-gallery itemscope itemtype="http://schema.org/ImageGallery"">

    <div id="custom-slider" class= "grid my-gallery photo-row">


          <figure class="indiv-image pic-style grid-item" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/health/health_sl_01.jpg" itemprop="contentUrl" data-size="900x600" data-author="Alexis Fairbanks">
              <img src="../assets/images/photo-gallery/health/health_sl_01.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">An overhead view of one of the communities Iniciativas De Paz serves reveals that some houses are entirely without roofs, and others are still making do with the tarp roofs installed by FEMA. Iniciativas De Paz is a volunteer health brigade that existed prior to Hurricane Maria, but had previously worked internationally--the devastation brought on by Maria prompted the group to take on domestic work.  The lack of power after the hurricane and the impassable conditions of many roads lead to many health crises that the brigade is still attempting to alleviate. <br><small>Photo: Alexis Fairbanks</small></figcaption>
          </figure>

          <figure class="indiv-image pic-style grid-item" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/health/health_sl_02.jpg" itemprop="contentUrl" data-size="900x600" data-author="Alexis Fairbanks">
              <img src="../assets/images/photo-gallery/health/health_sl_02.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">Abdona Villonueva suffers from dementia and Alzheimer's but still happily spends her time swinging on her hammock in her home in Aguada. She is cared for by her daughter Carmen who is having her blood pressure checked while Abdona watches. <br><small>Photo: Alex Kormann</small></figcaption>
          </figure>

          <figure class="indiv-image pic-style grid-item" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/health/health_sl_03.jpg" itemprop="contentUrl" data-size="900x600" data-author="Alexis Fairbanks">
              <img src="../assets/images/photo-gallery/health/health_sl_03.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">Victor Cajigas checks in on a homeless man living in front of Centro Medico hospital after giving him water and fresh blankets on Saturday March 10. <br><small>Photo: Alex Kormann</small></figcaption>
          </figure>

          <figure class="indiv-image pic-style grid-item" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/health/health_sl_04.jpg" itemprop="contentUrl" data-size="900x600" data-author="Alexis Fairbanks">
              <img src="../assets/images/photo-gallery/health/health_sl_04.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">Cristina, a nurse for the Iniciativa Comunitaria health brigade, does a check up on Luis Cortez in front of his home in Aguada. He has not received any form of medical examination in years and cries after his family expresses concern and support for him. <br><small>Photo: Alex Kormann</small></figcaption>
          </figure>

          <figure class="indiv-image pic-style grid-item" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/health/health_sl_06.jpg" itemprop="contentUrl" data-size="900x600" data-author="Alexis Fairbanks">
              <img src="../assets/images/photo-gallery/health/health_sl_06.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">Margarita lives alone in her home in Cantera, an impoverished public housing district in San Juan. She is the mother to seven children but chooses to and enjoys living on her own. She went three months without electricity and one month without tap water after Hurricane Maria but expressed that she felt like the damage could have been worse and she was just happy to be alive. She received a medical examination and flu vaccination in her home from a small Iniciativa Comunitaria team on Saturday March 10. <br><small>Photo: Alex Kormann</small></figcaption>
          </figure>

          <figure class="indiv-image pic-style grid-item" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/health/health_sl_07.jpg" itemprop="contentUrl" data-size="900x600" data-author="Alexis Fairbanks">
              <img src="../assets/images/photo-gallery/health/health_sl_07.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">Gil Feliciano and his wife, Amparito Acevedo, pose for a portrait in their home. The couple received a visit from Iniciativas De Paz, which delivered their prescriptions and examined the two for any signs of deteriorating health. Feliciano and his wife have been married for 59 years. <br><small>Photo: Alexis Fairbanks</small></figcaption>
          </figure>

          <figure class="indiv-image pic-style grid-item" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/health/health_sl_08.jpg" itemprop="contentUrl" data-size="900x600" data-author="Alexis Fairbanks">
              <img src="../assets/images/photo-gallery/health/health_sl_08.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">Marisol Cortez (right) watches over her sister, Olga, as she is examined by Iniciativas De Paz doctors.  Olga had a stroke that resulted in limited mobility. <br><small>Photo: Alexis Fairbanks</small></figcaption>
          </figure>

          <figure class="indiv-image pic-style grid-item" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/health/health_sl_09.jpg" itemprop="contentUrl" data-size="900x600" data-author="Alexis Fairbanks">
              <img src="../assets/images/photo-gallery/health/health_sl_09.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">Miguel Cortez is blind but spends his time sitting on his front porch enjoying the smells and sounds of his mountain community in Aguada. <br><small>Photo: Alex Kormann</small></figcaption>
          </figure>

          <figure class="indiv-image pic-style grid-item" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/health/health_sl_10.jpg" itemprop="contentUrl" data-size="900x600" data-author="Alexis Fairbanks">
              <img src="../assets/images/photo-gallery/health/health_sl_10.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">Gil Feliciano says goodbye to one of the doctors from Iniciativas De Paz that came to check on him and his wife. <br><small>Photo: Alexis Fairbanks</small></figcaption>
          </figure>

          <figure class="indiv-image pic-style grid-item" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/health/health_sl_05.jpg" itemprop="contentUrl" data-size="600x900" data-author="Alexis Fairbanks">
              <img src="../assets/images/photo-gallery/health/health_sl_05.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">Antonia Rivera Roca is battling cancer and remains bedridden in her home in Aguada. Her family consistently provides love and positive energy as they care for her. <br><small>Photo: Alex Kormann</small></figcaption>
          </figure>

          <figure class="pic-style grid-item" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/health/health_sl_11.jpg" itemprop="contentUrl" data-size="900x600" data-author="Alexis Fairbanks">
              <img src="../assets/images/photo-gallery/health/health_sl_11.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">Iniciativas De Paz brings medication to the patients in the communities that they visit.  Many of their patients are bedridden and unable to travel in order to get their prescriptions.<br><small>Photo: Alexis Fairbanks</small></figcaption>
          </figure>

    </div>

  </div>
</div>

<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe.
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides.
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>

<script>
  // Share buttons
  //
  // Available variables for URL:
  // {{url}}             - url to current page
  // {{text}}            - title
  // {{image_url}}       - encoded image url
  // {{raw_image_url}}   - raw image url
  shareButtons: [
    {id:'facebook', label:'Share on Facebook', url:'https://www.facebook.com/sharer/sharer.php?u={{image_url}}'},
    {id:'twitter', label:'Tweet', url:'https://twitter.com/intent/tweet?text={{text}}&url={{image_url}}'},
    {id:'pinterest', label:'Pin it', url:'http://www.pinterest.com/pin/create/button/?url={{url}}&media={{image_url}}&description={{text}}'},
    {id:'download', label:'Download image', url:'{{raw_image_url}}', download:true}
  ],


  // Next 3 functions return data for share links
  //
  // functions are triggered after click on button that opens share modal,
  // which means that data should be about current (active) slide
  getImageURLForShare: function( shareButtonData ) {
    // `shareButtonData` - object from shareButtons array
    //
    // `pswp` is the gallery instance object,
    // you should define it by yourself
    //
    return pswp.currItem.src || '';
  },
  getPageURLForShare: function( shareButtonData ) {
    return window.location.href;
  },
  getTextForShare: function( shareButtonData ) {
    return pswp.currItem.title || '';
  },

  // Parse output of share links
  parseShareButtonOut: function(shareButtonData, shareButtonOut) {
    // `shareButtonData` - object from shareButtons array
    // `shareButtonOut` - raw string of share link element
    return shareButtonOut;
  }
</script>
