<div class="photo-slider bts-slider">
<h4 class="slider-title">Swipe for more behind the scenes photos</h4>
<div class="tns-outer">
	<div class="tns-inner tns-ovh tns-ah" id="autoHeight-iw" style="transition-duration: 0.4s;">
		<div class="autoHeight my-slider tns-slider tns-carousel tns-subpixel tns-calc tns-horizontal" id="autoHeight" style="transform: translateX(-76%); transition-duration: 0.4s;">
		  <div id="autoHeight-item0" class="tns-item tns-slide-active" aria-hidden="false">
				<img src="../assets/images/photo-gallery/about/bts1.jpg" class="pic img-fluid"/>
			</div>
		  <div id="autoHeight-item1" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/about/bts2.jpg" class="pic img-fluid"/>
			</div>
		  <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/about/bts3.jpg" class="pic img-fluid"/>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/about/bts4.jpg" class="pic img-fluid"/>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/about/bts5.jpg" class="pic img-fluid"/>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/about/bts6.jpg" class="pic img-fluid"/>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/about/bts7.jpg" class="pic img-fluid"/>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/about/bts8.jpg" class="pic img-fluid"/>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/about/bts9.jpg" class="pic img-fluid"/>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/about/bts10.jpg" class="pic img-fluid"/>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/about/bts11.jpg" class="pic img-fluid"/>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/about/bts12.jpg" class="pic img-fluid"/>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/about/bts13.jpg" class="pic img-fluid"/>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/about/bts14.jpg" class="pic img-fluid"/>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/about/bts15.jpg" class="pic img-fluid"/>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/about/bts16.jpg" class="pic img-fluid"/>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/about/bts17.jpg" class="pic img-fluid"/>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/about/bts18.jpg" class="pic img-fluid"/>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/about/bts19.jpg" class="pic img-fluid"/>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/about/bts20.jpg" class="pic img-fluid"/>
			</div>
		</div>
	</div>
</div>
</div>

<div class="bts-spacer"></div>
