<div class="tns-outer">
	<div class="tns-inner tns-ovh tns-ah" id="autoHeight-iw" style="transition-duration: 0.4s;">
		<div class="autoHeight my-slider tns-slider tns-carousel tns-subpixel tns-calc tns-horizontal" id="autoHeight" style="transform: translateX(-72%); transition-duration: 0.4s;">
		  <div id="autoHeight-item0" class="tns-item tns-slide-active" aria-hidden="false">
				<img src="../assets/images/photo-gallery/biodiversity/biodiversity_sl_01.jpg" class="pic img-fluid"/>
				<p>This is a dummy caption. It has been placed here to demonstrate the look and feel of a caption. <br><small>Photo: Alexis Fairbanks</small></p>
			</div>
		  <div id="autoHeight-item1" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/biodiversity/biodiversity_sl_02.jpg" class="pic img-fluid"/>
				<p>This is a dummy caption. It has been placed here to demonstrate the look and feel of a caption. <br><small>Photo: Alexis Fairbanks</small></p>
			</div>
		  <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/biodiversity/biodiversity_sl_03.jpg" class="pic img-fluid"/>
				<p>This is a dummy caption. It has been placed here to demonstrate the look and feel of a caption. <br><small>Photo: Alexis Fairbanks</small></p>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/biodiversity/biodiversity_sl_04.jpg" class="pic img-fluid"/>
				<p>This is a dummy caption. It has been placed here to demonstrate the look and feel of a caption. <br><small>Photo: Alexis Fairbanks</small></p>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/biodiversity/biodiversity_sl_05.jpg" class="pic img-fluid"/>
				<p>This is a dummy caption. It has been placed here to demonstrate the look and feel of a caption. <br><small>Photo: Alexis Fairbanks</small></p>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/biodiversity/biodiversity_sl_06.jpg" class="pic img-fluid"/>
				<p>This is a dummy caption. It has been placed here to demonstrate the look and feel of a caption. <br><small>Photo: Alexis Fairbanks</small></p>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/biodiversity/biodiversity_sl_07.jpg" class="pic img-fluid"/>
				<p>This is a dummy caption. It has been placed here to demonstrate the look and feel of a caption. <br><small>Photo: Alexis Fairbanks</small></p>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/biodiversity/biodiversity_sl_08.jpg" class="pic img-fluid"/>
				<p>This is a dummy caption. It has been placed here to demonstrate the look and feel of a caption. <br><small>Photo: Alexis Fairbanks</small></p>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/biodiversity/biodiversity_sl_09.jpg" class="pic img-fluid"/>
				<p>This is a dummy caption. It has been placed here to demonstrate the look and feel of a caption. <br><small>Photo: Alexis Fairbanks</small></p>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/biodiversity/biodiversity_sl_10.jpg" class="pic img-fluid"/>
				<p>This is a dummy caption. It has been placed here to demonstrate the look and feel of a caption. <br><small>Photo: Alexis Fairbanks</small></p>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/biodiversity/biodiversity_sl_11.jpg" class="pic img-fluid"/>
				<p>This is a dummy caption. It has been placed here to demonstrate the look and feel of a caption. <br><small>Photo: Alexis Fairbanks</small></p>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/biodiversity/biodiversity_sl_12.jpg" class="pic img-fluid"/>
				<p>This is a dummy caption. It has been placed here to demonstrate the look and feel of a caption. <br><small>Photo: Alexis Fairbanks</small></p>
			</div>
		</div>
	</div>
</div>
