</div>

<div id="photo-gallery">

  <div id="custom-slider">

    <ul id="slider-ul">
      <li class="slider-section">
        <div class="pic-style">
          <img src="../assets/images/photo-gallery/water/water_sl_01.jpg" class="pic"/>
        </div>
      </li>

      <li class="slider-section">
        <div class="pic-style">
          <img src="../assets/images/photo-gallery/water/water_sl_02.jpg" class="pic"/>
        </div>
      </li>

      <li class="slider-section">
        <div class="pic-style">
          <img src="../assets/images/photo-gallery/water/water_sl_03.jpg" class="pic"/>
        </div>
      </li>

      <li class="slider-section">
        <div class="pic-style">
          <img src="../assets/images/photo-gallery/water/water_sl_04.jpg" class="pic"/>
        </div>
      </li>

      <li class="slider-section">
        <div class="pic-style">
          <img src="../assets/images/photo-gallery/water/water_sl_05.jpg" class="pic"/>
        </div>
      </li>

      <li class="slider-section">
        <div class="pic-style">
          <img src="../assets/images/photo-gallery/water/water_sl_06.jpg" class="pic"/>
        </div>
      </li>

      <li class="slider-section">
        <div class="pic-style">
          <img src="../assets/images/photo-gallery/water/water_sl_07.jpg" class="pic"/>
        </div>
      </li>

      <li class="slider-section">
        <div class="pic-style">
          <img src="../assets/images/photo-gallery/water/water_sl_08.jpg" class="pic"/>
        </div>
      </li>

      <li class="slider-section">
        <div class="pic-style">
          <img src="../assets/images/photo-gallery/water/water_sl_09.jpg" class="pic"/>
        </div>
      </li>

      <li class="slider-section">
        <div class="pic-style">
          <img src="../assets/images/photo-gallery/water/water_sl_10.jpg" class="pic"/>
        </div>
      </li>

      <li class="slider-section">
        <div class="pic-style">
          <img src="../assets/images/photo-gallery/water/water_sl_11.jpg" class="pic"/>
        </div>
      </li>

      <li class="slider-section">
        <div class="pic-style">
          <img src="../assets/images/photo-gallery/water/water_sl_12.jpg" class="pic"/>
        </div>
      </li>

    </ul>

  </div>

  <div class="caption">

    <button id="slider-left"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
    <button id="slider-right"><i class="fa fa-angle-right" aria-hidden="true"></i></button>

    <div id="caption-text">
      <figcaption class="pg-figcaption">
      <p class="fig-descr">Juan and Gabriella take turns skating down a ramp on a sunny Havana day.</p>
      <p class="fig-attr">Photo by</p>
      <p class="fig-attr">Claire Collins</p>
    </figcaption>
    </div>
  </div>

</div>

<script src="/js/photo-slider.js"></script>
