<div class="photo-slider">
<h4 class="slider-title">Swipe for more photos</h4>
<div class="tns-outer">
	<div class="tns-inner tns-ovh tns-ah" id="autoHeight-iw" style="transition-duration: 0.4s;">
		<div class="autoHeight my-slider tns-slider tns-carousel tns-subpixel tns-calc tns-horizontal" id="autoHeight" style="transform: translateX(-76%); transition-duration: 0.4s;">
		  <div id="autoHeight-item0" class="tns-item tns-slide-active" aria-hidden="false">
				<img src="../assets/images/photo-gallery/water/water_sl_01.jpg" class="pic img-fluid"/>
				<p>El Caño de Martín Peña, a now-stagnant tidal canal, once flowed across San Juan. Now strangled with trash and sediment, it floods and pollutes the surrounding communities. An environmental justice initiative seeks to give life back to the once healthy waterway by dredging it and making infrastructural repairs.
          <br><small>Photo: Nathan Klima</small></p>
			</div>
		  <div id="autoHeight-item1" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/water/water_sl_02.jpg" class="pic img-fluid"/>
				<p>José Caraballo Pagán, a community activist and government worker, has lived near El Caño since 1963. He likens the communities around the canal to the roots of a mangrove tree. “Fifth generations live in here. We don’t move too much. We like to grow roots.”
          <br><small>Photo: Matt Couch</small></p>
			</div>
		  <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/water/water_sl_03.jpg" class="pic img-fluid"/>
				<p>At its widest point, El Caño appears deep and blue. However, grease and sediment swirl in the stagnant water, and cans, trash, and debris float on top. Decades of sedimentation, garbage, and untreated water have caused the strangled canal to regularly overflow, flooding homes in the eight adjacent communities. <br><small>Photo: Kaitlin Harlow</small></p>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/water/water_sl_04.jpg" class="pic img-fluid"/>
				<p>Gladys Peña brushes the dust off of a photo of her sons, who no longer live in Puerto Rico. This photo is one of the few she has left after Hurricane Maria tore the roof off of her home and damaged her belongings. Peña lives alone with an emergency aid tarp protecting the top and side of her house. <br><small>Photo: Alexis Fairbanks</small></p>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/water/water_sl_05.jpg" class="pic img-fluid"/>
				<p>José Caraballo Pagán prepares for a weekly meeting with community members in the conference room of Proyecto ENLACE, the alliance of community organizations leading the canal dredging initiative. They will discuss relocation possibilities for the 400 families who would have to move if the canal were dredged. Pagán himself may soon have to leave his home of 55 years.<br><small>Photo: Kaitlin Harlow</small></p>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/water/water_sl_06.jpg" class="pic img-fluid"/>
				<p>The walls of the Proyecto ENLACE offices are covered in personal notes, posters, blueprints of future projects like sustainable eco-shelters, and even an award plaque from the Environmental Protection Agency. <br><small>Photo: Kaitlin Harlow</small></p>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/water/water_sl_07.jpg" class="pic img-fluid"/>
				<p>The banks of El Caño are covered in litter at most points. Foil wrappers, broken shoes, needles, and plastic furniture all wash up in the mud. Proyecto ENLACE’s $800 million dredging project would clean up the waterway and revive the community. <br><small>Photo: Kaitlin Harlow</small></p>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/water/water_sl_08.jpg" class="pic img-fluid"/>
				<p>Blue tarps distributed by emergency aid workers work as temporary roofs for storm-damage buildings in the neighborhood. Hurricane María left 1,200 homes near El Caño roofless and decimated 75 others completely. <br><small>Photo: Kaitlin Harlow</small></p>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/water/water_sl_09.jpg" class="pic img-fluid"/>
				<p>Blanquita Santiago Arroyo props up her refrigerator, washing machine, bed, and other furniture on cinder blocks to minimize water damage every time her house floods. Her home was flooded for two weeks after Maria, and it continues to flood regularly when El Caño overflows. <br><small>Photo: Kaitlin Harlow</small></p>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/water/water_sl_10.jpg" class="pic img-fluid"/>
				<p>The youngest generation of El Caño residents gives Proyecto ENLACE a reason to fight for El Caño’s dredging, says José Pagán. <br><small>Photo: Matt Couch</small></p>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/water/water_sl_11.jpg" class="pic img-fluid"/>
				<p>Grandma Higgins, as she is known in the community, smiles during a conversation with José Pagán. Pagán is a well-known face in community, where he regularly strolls around to visit neighbors. <br><small>Photo: Nathan Klima</small></p>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/water/water_sl_12.jpg" class="pic img-fluid"/>
				<p>A block from the headquarters of Proyecto ENLACE, a colorful mural reminds passerby that “El Caño Vive” (El Caño Lives).<br><small>Photo: Kaitlin Harlow</small></p>
			</div>
		</div>
	</div>
</div>
</div>
