</div>


<div id="grid" class="container grid photo-wrapper">
  <div id="photo-gallery" class="photo-gallery itemscope itemtype="http://schema.org/ImageGallery"">

    <div id="custom-slider" class= "grid my-gallery row photo-row" data-masonry='{"itemSelector": ".grid-item", "columnWidth": 200}'>

          <figure class="pic-style grid-item" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/biodiversity/biodiversity_sl_01.jpg" itemprop="contentUrl" data-size="900x600" data-author="Alexis Fairbanks">
              <img src="../assets/images/photo-gallery/biodiversity/biodiversity_sl_01.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">This is a dummy caption. It has been placed here to demonstrate the look and feel of a caption. <br><small>Photo: Alexis Fairbanks</small></figcaption>
          </figure>

          <figure class="pic-style grid-item" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/biodiversity/biodiversity_sl_02.jpg" itemprop="contentUrl" data-size="900x600" data-author="Alexis Fairbanks">
              <img src="../assets/images/photo-gallery/biodiversity/biodiversity_sl_02.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">This is a dummy caption. It has been placed here to demonstrate the look and feel of a caption. <br><small>Photo: Alexis Fairbanks</small></figcaption>
          </figure>

          <figure class="pic-style grid-item" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/biodiversity/biodiversity_sl_03.jpg" itemprop="contentUrl" data-size="600x900" data-author="Alexis Fairbanks">
              <img src="../assets/images/photo-gallery/biodiversity/biodiversity_sl_03.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">This is a dummy caption. It has been placed here to demonstrate the look and feel of a caption. <br><small>Photo: Alexis Fairbanks</small></figcaption>
          </figure>

          <figure class="pic-style grid-item" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/biodiversity/biodiversity_sl_04.jpg" itemprop="contentUrl" data-size="600x900" data-author="Alexis Fairbanks">
              <img src="../assets/images/photo-gallery/biodiversity/biodiversity_sl_04.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">This is a dummy caption. It has been placed here to demonstrate the look and feel of a caption. <br><small>Photo: Alexis Fairbanks</small></figcaption>
          </figure>

          <figure class="pic-style grid-item" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/biodiversity/biodiversity_sl_05.jpg" itemprop="contentUrl" data-size="900x600" data-author="Alexis Fairbanks">
              <img src="../assets/images/photo-gallery/biodiversity/biodiversity_sl_05.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">This is a dummy caption. It has been placed here to demonstrate the look and feel of a caption. <br><small>Photo: Alexis Fairbanks</small></figcaption>
          </figure>

          <figure class="pic-style grid-item" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/biodiversity/biodiversity_sl_06.jpg" itemprop="contentUrl" data-size="600x900" data-author="Alexis Fairbanks">
              <img src="../assets/images/photo-gallery/biodiversity/biodiversity_sl_06.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">This is a dummy caption. It has been placed here to demonstrate the look and feel of a caption. <br><small>Photo: Alexis Fairbanks</small></figcaption>
          </figure>

          <figure class="pic-style grid-item" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/biodiversity/biodiversity_sl_07.jpg" itemprop="contentUrl" data-size="900x600" data-author="Alexis Fairbanks">
              <img src="../assets/images/photo-gallery/biodiversity/biodiversity_sl_07.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">This is a dummy caption. It has been placed here to demonstrate the look and feel of a caption. <br><small>Photo: Alexis Fairbanks</small></figcaption>
          </figure>

          <figure class="pic-style grid-item" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/biodiversity/biodiversity_sl_08.jpg" itemprop="contentUrl" data-size="900x600" data-author="Alexis Fairbanks">
              <img src="../assets/images/photo-gallery/biodiversity/biodiversity_sl_08.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">This is a dummy caption. It has been placed here to demonstrate the look and feel of a caption. <br><small>Photo: Alexis Fairbanks</small></figcaption>
          </figure>

          <figure class="pic-style grid-item" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/biodiversity/biodiversity_sl_09.jpg" itemprop="contentUrl" data-size="600x900" data-author="Alexis Fairbanks">
              <img src="../assets/images/photo-gallery/biodiversity/biodiversity_sl_09.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">This is a dummy caption. It has been placed here to demonstrate the look and feel of a caption. <br><small>Photo: Alexis Fairbanks</small></figcaption>
          </figure>

          <figure class="pic-style grid-item" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/biodiversity/biodiversity_sl_10.jpg" itemprop="contentUrl" data-size="900x600" data-author="Alexis Fairbanks">
              <img src="../assets/images/photo-gallery/biodiversity/biodiversity_sl_10.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">This is a dummy caption. It has been placed here to demonstrate the look and feel of a caption. <br><small>Photo: Alexis Fairbanks</small></figcaption>
          </figure>

          <figure class="pic-style grid-item" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/biodiversity/biodiversity_sl_11.jpg" itemprop="contentUrl" data-size="900x600" data-author="Alexis Fairbanks">
              <img src="../assets/images/photo-gallery/biodiversity/biodiversity_sl_11.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">This is a dummy caption. It has been placed here to demonstrate the look and feel of a caption. <br><small>Photo: Alexis Fairbanks</small></figcaption>
          </figure>

          <!-- <figure class="pic-style grid-item" id="gallery-photo" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="../assets/images/photo-gallery/biodiversity_sl_12.jpg" itemprop="contentUrl" data-size="600x900">
              <img src="../assets/images/photo-gallery/biodiversity_sl_12.jpg" class="pic img-fluid"/>
            </a>

            <figcaption id="inner-caption" itemprop="caption description">This is a dummy caption. It has been placed here to demonstrate the look and feel of a caption.</figcaption>
          </figure> -->

    </div>

  </div>
</div>

<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe.
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides.
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>

<script>
  // Share buttons
  //
  // Available variables for URL:
  // {{url}}             - url to current page
  // {{text}}            - title
  // {{image_url}}       - encoded image url
  // {{raw_image_url}}   - raw image url
  shareButtons: [
    {id:'facebook', label:'Share on Facebook', url:'https://www.facebook.com/sharer/sharer.php?u={{image_url}}'},
    {id:'twitter', label:'Tweet', url:'https://twitter.com/intent/tweet?text={{text}}&url={{image_url}}'},
    {id:'pinterest', label:'Pin it', url:'http://www.pinterest.com/pin/create/button/?url={{url}}&media={{image_url}}&description={{text}}'},
    {id:'download', label:'Download image', url:'{{raw_image_url}}', download:true}
  ],


  // Next 3 functions return data for share links
  //
  // functions are triggered after click on button that opens share modal,
  // which means that data should be about current (active) slide
  getImageURLForShare: function( shareButtonData ) {
    // `shareButtonData` - object from shareButtons array
    //
    // `pswp` is the gallery instance object,
    // you should define it by yourself
    //
    return pswp.currItem.src || '';
  },
  getPageURLForShare: function( shareButtonData ) {
    return window.location.href;
  },
  getTextForShare: function( shareButtonData ) {
    return pswp.currItem.title || '';
  },

  // Parse output of share links
  parseShareButtonOut: function(shareButtonData, shareButtonOut) {
    // `shareButtonData` - object from shareButtons array
    // `shareButtonOut` - raw string of share link element
    return shareButtonOut;
  }
</script>
