<div class="photo-slider">
<h4 class="slider-title">Swipe for more behind the scenes photos</h4>
<div class="tns-outer">
	<div class="tns-inner tns-ovh tns-ah" id="autoHeight-iw" style="transition-duration: 0.4s;">
		<div class="autoHeight my-slider tns-slider tns-carousel tns-subpixel tns-calc tns-horizontal" id="autoHeight" style="transform: translateX(-76%); transition-duration: 0.4s;">
		  <div id="autoHeight-item0" class="tns-item tns-slide-active" aria-hidden="false">
				<img src="../assets/images/photo-gallery/bts/bts1.jpg" class="pic img-fluid"/>
			</div>
		  <div id="autoHeight-item1" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/bts/bts2.jpg" class="pic img-fluid"/>
			</div>
		  <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/bts/bts3.jpg" class="pic img-fluid"/>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/bts/bts4.jpg" class="pic img-fluid"/>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/bts/bts5.jpg" class="pic img-fluid"/>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/bts/bts6.jpg" class="pic img-fluid"/>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/bts/bts7.jpg" class="pic img-fluid"/>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/bts/bts8.jpg" class="pic img-fluid"/>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/bts/bts9.jpg" class="pic img-fluid"/>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/bts/bts10.jpg" class="pic img-fluid"/>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/bts/bts11.jpg" class="pic img-fluid"/>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/bts/bts12.jpg" class="pic img-fluid"/>
			</div>
		</div>
	</div>
</div>
</div>
