<div class="photo-slider">
<h4 class="slider-title">Swipe for more photos</h4>
<div class="tns-outer">
	<div class="tns-inner tns-ovh tns-ah" id="autoHeight-iw" style="transition-duration: 0.4s;">
		<div class="autoHeight my-slider tns-slider tns-carousel tns-subpixel tns-calc tns-horizontal" id="autoHeight" style="transform: translateX(-76%); transition-duration: 0.4s;">
		  <div id="autoHeight-item0" class="tns-item tns-slide-active" aria-hidden="false">
				<img src="../assets/images/photo-gallery/health/health_sl_01.jpg" class="pic img-fluid"/>
				<p>An overhead view of one of the communities Iniciativas De Paz serves reveals that some houses are entirely without roofs, and others are still making do with the tarp roofs installed by FEMA. Iniciativas De Paz is a volunteer health brigade that existed prior to Hurricane Maria, but had previously worked internationally--the devastation brought on by Maria prompted the group to take on domestic work.  The lack of power after the hurricane and the impassable conditions of many roads lead to many health crises that the brigade is still attempting to alleviate. <br><small>Photo: Alexis Fairbanks</small></p>
			</div>
		  <div id="autoHeight-item1" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/health/health_sl_02.jpg" class="pic img-fluid"/>
				<p>Abdona Villonueva suffers from dementia and Alzheimer's but still happily spends her time swinging on her hammock in her home in Aguada. She is cared for by her daughter Carmen who is having her blood pressure checked while Abdona watches. <br><small>Photo: Alex Kormann</small></p>
			</div>
		  <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/health/health_sl_03.jpg" class="pic img-fluid"/>
				<p>Victor Cajigas checks in on a homeless man living in front of Centro Medico hospital after giving him water and fresh blankets on Saturday March 10. <br><small>Photo: Alex Kormann</small></p>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/health/health_sl_04.jpg" class="pic img-fluid"/>
				<p>Cristina, a nurse for the Iniciativa Comunitaria health brigade, does a check up on Luis Cortez in front of his home in Aguada. He has not received any form of medical examination in years and cries after his family expresses concern and support for him. <br><small>Photo: Alex Kormann</small></p>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/health/health_sl_05.jpg" class="pic img-fluid"/>
				<p>Antonia Rivera Roca is battling cancer and remains bedridden in her home in Aguada. Her family consistently provides love and positive energy as they care for her. <br><small>Photo: Alex Kormann</small></p>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/health/health_sl_06.jpg" class="pic img-fluid"/>
				<p>Margarita lives alone in her home in Cantera, an impoverished public housing district in San Juan. She is the mother to seven children but chooses to and enjoys living on her own. She went three months without electricity and one month without tap water after Hurricane Maria but expressed that she felt like the damage could have been worse and she was just happy to be alive. She received a medical examination and flu vaccination in her home from a small Iniciativa Comunitaria team on Saturday March 10. <br><small>Photo: Alex Kormann</small></p>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/health/health_sl_07.jpg" class="pic img-fluid"/>
				<p>Gil Feliciano and his wife, Amparito Acevedo, pose for a portrait in their home. The couple received a visit from Iniciativas De Paz, which delivered their prescriptions and examined <br><small>Photo: Alexis Fairbanks</small></p>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/health/health_sl_08.jpg" class="pic img-fluid"/>
				<p>Marisol Cortez (right) watches over her sister, Olga, as she is examined by Iniciativas De Paz doctors.  Olga had a stroke that resulted in limited mobility. <br><small>Photo: Alexis Fairbanks</small></p>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/health/health_sl_09.jpg" class="pic img-fluid"/>
				<p>Miguel Cortez is blind but spends his time sitting on his front porch enjoying the smells and sounds of his mountain community in Aguada. <br><small>Photo: Alex Kormann</small></p>
			</div>
      <div id="autoHeight-item2" class="tns-item" aria-hidden="true" tabindex="-1">
				<img src="../assets/images/photo-gallery/health/health_sl_10.jpg" class="pic img-fluid"/>
				<p>Gil Feliciano says goodbye to one of the doctors from Iniciativas De Paz that came to check on him and his wife. <br><small>Photo: Alexis Fairbanks</small></p>
			</div>
		</div>
	</div>
</div>
</div>
