<div id="main" class="power-interactive">

    <video autoplay loop preload="auto" class="light-video video" src="assets/images/power-interactive/lights1-1.mp4"></video>

      <img class="fade-png" src="assets/images/fade.png">

      <div class="main-text">
        <!-- <div class="battery-div"><img class="battery" src="assets/images/battery.png"></div> -->
        <!-- <video autoplay preload="auto" loop style=" width:50%;" src="assets/images/power-interactive/flashing-battery.gif"></video> -->
        <img class="battery" src="assets/images/power-interactive/flashing-battery2.gif">
        <h1 class="lights-out-header">when the power goes out</h1>
        <p class="lights-out-subtitle">Life without power based on one woman's experience: <br/> Mirna, 59, Toa Alta, Naranjito Municipality, Subdirector of Finance</p>
        <div id="project00" class="project">
          <h2>September 20, 2017<br/>Hurricane Maria makes landfall in Puerto Rico, <br/>causing widespread power outages.</h2>
        </div>

        <div id="project01" class="project">
            <h2>Day 1</h2>
            <p class="info">You begin to assess the damage done to your property. You still have
              your car. You still have your roof. You know your neighbors around you might not have been so
              lucky.</p>
        </div>

        <div id="project02" class="project">
            <h2>Week 1</h2>
            <p class="info">You're told it may take a while for your power to come back on, which is expected. You just went
              through this with Hurricane Irma, so nothing new here. You begin using battery-powered lanterns to get around your house at
              night. During the day, you are expected to be at work where you are assisting those in the community who
              cannot help themselves. You have canned food saved up for your meals. You luckily have your car, which means you
              sit in it while it charges your phone so you can receive updates from friends and family.</p>
        </div>

        <div id="project03" class="project">
            <h2>Month 2</h2>
            <p class="info">Living without power has become more of a struggle. Every time you venture out to the store for
              batteries or a simple fan, you come home empty-handed since they are sold out. You have your family in mainland U.S. send you some supplies. You
              invest in a gas grill to heat your food, which sets you back financially since you now have to buy a propane
              tank. You've gotten better at cooking because every time you cook too much, it must be given to the dog or
              thrown out.</p>
        </div>

        <div id="project04" class="project">
            <h2>Month 4</h2>
            <p class="info">You're still holding out on buying that expensive generator with the hopes that the power will be
              restored to your neighborhood any day now, just like the government has told you. You continue to carry
              lanterns around during the mornings and nights. You do, however, sleep a lot because once it's dark, there is
              little else to do.</p>
        </div>

        <div id="project05" class="project">
            <h2>Month 6</h2>
            <p class="info">You finally cave and buy a generator, costing over $1,000 plus the gas it
              uses. You now have power for 4 - 6 hours each day to complete chores, cool your home and refrigerate your food.
              Soon after you buy this generator, the AEE restores power to your neighborhood. You finally buy a fridge and
              stock it with fresh food. The power continues to go in and out, causing you to resort to more non-perishable foods
              and lanterns from time to time, but it's progress.</p>
        </div>

        <div class="bottom-infographic">
          <div class="row headers-info">
            <div class="col-md-12 top-info-div">
              <h1 class="why-is-it-taking-so">Why is it taking so long?</h1>
              <p class="intro-par">The strength of Hurricane Maria is one of several factors that has led to such a
                long recovery.  Pre-existing problems paired with Hurricane Irma hitting Puerto Rico just days before
                Maria have exacerbated recovery efforts. While the citizens on the island try to return to normal,
                there are lingering problems holding them back and slowing the process. Many worry repairs will not
                be completed until the 2018 hurricane season begins, starting the process all over again. <strong>Hover over or click the icons below to learn more.</strong></p>
            </div>
          </div>
          <div class="row items-info">
            <div class="col-md-3 col-sm-6 item-choice">
              <h4 class="why-item">broken equipment</h4><br/>
              <div class="overlay-container">
                <img class="why-item-icon img-fluid" src="assets/images/power-interactive/broken.png">
                <div class="overlay-text-div"><p class="overlay-text">Power equipment was damaged even before the
                  storm hit and old power plants make repairs difficult.</p></div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 item-choice">
              <h4 class="why-item">challenging terrain</h4><br/>
              <div class="overlay-container">
                <img class="why-item-icon img-fluid" src="assets/images/power-interactive/terrain.png">
                <div class="overlay-text-div"><p class="overlay-text">Rough roads and rocky regions make restoring
                  power to rural areas more difficult.</p></div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 item-choice">
              <h4 class="why-item">private contractors<h4><br/>
                <div class="overlay-container">
                  <img class="why-item-icon img-fluid" src="assets/images/power-interactive/private.png">
                  <div class="overlay-text-div"><p class="overlay-text">The Puerto Rican government hired private
                    contractors to accelerate the repair process, many without any bidding, driving the price up.</p></div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 item-choice">
              <h4 class="why-item">PREPA's debt</h4><br/>
              <div class="overlay-container">
                <img class="why-item-icon img-fluid" src="assets/images/power-interactive/debt.png">
                <div class="overlay-text-div"><p class="overlay-text">PREPA’s pre-existing debt makes repairs
                  difficult to fund and made it difficult to prepare communities for the storm.</p></div>
              </div>
            </div>
            <p class="source-vox">Source: <i>Vox</i>, "Puerto Rico’s blackout, the largest in American history, explained" by Umair Irfan</p>
          </div>
        </div>

    </div> <!-- #main-container -->
  <img class="fade-png" src="assets/images/fade2.png">


    <script src="../js/power-interactive.js"></script>
