<div id="custom-slider">
  <button id="slider-right"> > </button>
  <button id="slider-left"> < </button>
  <ul id="slider-ul">
    <li class="slider-section"><div>
    1

    </div></li>
    <li class="slider-section"><div>
    2
    </div></li>
    <li class="slider-section"><div>
    3

    </div></li>
    <li class="slider-section"><div>
    4

    </div></li>
  </ul>
</div>

<script src="/js/slider.js"></script>
