<!--TRY 1-->


<!-- <div class="photo-slider">
<h4 class="slider-title">Swipe for more video</h4>
<div class="tns-outer">
	<div class="tns-inner tns-ovh tns-ah" id="autoHeight-iw" style="transition-duration: 0.4s;">
		<div class="autoHeight my-slider tns-slider tns-carousel tns-subpixel tns-calc tns-horizontal" id="autoHeight" style="transform: translateX(-72%); transition-duration: 0.4s;">
		  <div id="autoHeight-item0" class="tns-item tns-slide-active" aria-hidden="false">
				<img src="/assets/images/photo-gallery/ecology/ecology_sl_01.jpg" class="pic img-fluid"/>
				<p>Caramelo is one of two oxen that plow the fields of El Josco Bravo, a small-scale farm in Toa Alta, Puerto Rico. The oxen, which do not require fuel like tractors, are one of El Josco Bravo’s sustainable farming methods. Young farmers and researchers across Puerto Rico are applying lessons from forest regrowth to create more sustainable ecosystems. In some ways, they are emulating El Yunque National Forest: the island’s best example of natural recovery in the wake of extreme climate disturbances.<br><small>Photo: Alice Hudson</small></p>
			</div>

		</div>
	</div>
</div>
</div> -->



<!--TRY 2-->

<!-- <div class="row interactive">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel"> -->
      <!-- <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
      </ol> -->
  <!-- <div class="carousel-inner col-8">
    <div class="carousel-item active">
            <div class="embed-responsive embed-responsive-16by9">
                <video autoplay preload="auto" class="embed-responsive-item" src="https://www.youtube.com/watch?v=kMhw5MFYU0s" allowfullscreen></video>
                <p><a href="https://vimeo.com/265289787">Pollution_PR_360_Final</a> from <a href="https://vimeo.com/uncphotojournalism">UNC  |  Carolina Photojournalism</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
            </div>
    </div>
    <div class="carousel-item">
            <div class="embed-responsive embed-responsive-16by9">
        <video class="embed-responsive-item"  src="https://www.youtube.com/watch?v=adM-SkGoAbA" allowfullscreen></video>
            </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div> -->




<!--TRY 3-->
<!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
<style>
.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}
video{width: 60%; height: auto; margin: auto;}
.w3-display-container{margin-top: 50px; margin-bottom: 50px;}
</style>
<div class="w3-content w3-display-container">
  <video autoplay preload="auto" controls class="mySlides" src="assets/images/CI5B0650Trim.mp4"></video>
  <video autoplay preload="auto" controls class="mySlides" src="assets/images/CI5B0657Trim.mp4"></video>
  <video autoplay preload="auto" controls class="mySlides" src="assets/images/CI5B0789Trim.mp4"></video>
  <div class="w3-center w3-display-bottommiddle" style="width:60%; margin:auto;">
    <div class="w3-left w3-hover-text-khaki" onclick="plusDivs(-1)" style="float:left;">&#10094;</div>
    <div class="w3-right w3-hover-text-khaki" onclick="plusDivs(1)" style="float:right;">&#10095;</div>
    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
  </div>
</div>


<!-- <script src="js/video-slider-interactive.js"></script> -->
<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function currentDiv(n) {
  showDivs(slideIndex = n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
     dots[i].className = dots[i].className.replace(" w3-white", "");
  }
  x[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " w3-white";
}
</script>
