
<div class="big">
  <h1>Place Holder Title</h1>
</div>

<div id="video_area">


<div id="morphing" class="morph-wrap"> <svg class="morph" width="100%" height="auto" viewBox="0 0 1366 768">
      <g fill="#000000" fill-rule="evenodd">
        <path class="polymorph" stroke-width="0" stroke="currentColor" d="M0,0V768H1366V0ZM683,658c-151.33,0-274-122.67-274-274S531.67,110,683,110,957,232.67,957,384,834.33,658,683,658Z"></path>
      </g>
    </svg>
</div>

<div class="content-wrap">
    <div class="image_holder">
      <img src="../../public/assets/images/team/edited/Tamara.jpg" alt="" width="100%" height="auto">
    </div>
</div>

</div>
