<!--TRY 3-->
<!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
<!-- http://embedresponsively.com/ -->
<!-- <h3 class="explore-the-recovery">Explore the Recovery</h3> -->
<script src="https://player.vimeo.com/api/player.js"></script>
<div class="w3-content w3-display-container">
  <div class="embed-container col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
    <iframe controls class='mySlides' src='https://player.vimeo.com/video/266036182' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    <iframe controls class='mySlides' src='https://player.vimeo.com/video/266036266' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    <iframe controls class='mySlides' src='https://player.vimeo.com/video/266036194' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    <iframe controls class='mySlides' src='https://player.vimeo.com/video/266036274' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    <iframe controls class='mySlides' src='https://player.vimeo.com/video/266036197' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  </div>
  <div class="w3-center">
    <div class="w3-left" onclick="plusDivs(-1)" style="float:left; ">&#10094;</div>
    <div class="w3-right" onclick="plusDivs(1)" style="float:right;">&#10095;</div>
    <!-- <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span> -->
  </div>
</div>

<!-- <script src="js/video-slider-interactive.js"></script> -->
<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function currentDiv(n) {
  showDivs(slideIndex = n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
     dots[i].className = dots[i].className.replace(" w3-white", "");
  }
  x[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " w3-white";
}

// https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_slideshow_dots2
</script>
