<style>
.cano {
  content:url('/assets/images/zoomedout.png');
}
.canozoom {
  content:url('/assets/images/zoomed_in.png');
}
</style>

<div class="row interactive">
  <div class="col-md-3 offset-md-1 left-box">
    <h3>Explore El Caño</h3>
    <p>By Justin Wynn</p>
    <p></p>
  </div>
  <div class="col-md-8">
    <img class="img-fluid cano" onclick="$('img.cano').toggleClass('canozoom');">
  </div>
</div>
<script>

</script>
