
<style>
.house {
  position: relative;
}
.box {
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  width: 100px;
  padding: 10px;
  border-radius: 10px;
}

.three {
  left: 20%;
  bottom: 200px;
}
.two {
  right: 50%;
  bottom: 200px;
}


.one {
  right: 30%;
  bottom: 200px;
}
.house h1 {
  font-size: 12px;
}
.house p {
  font-size: 4.5px;
  margin-bottom: 0px;
  padding-bottom: 5px;
  color: #6c6c6c;

}


.pulse {
box-shadow: 0 0 0 rgba(204,169,44, 0.4);
animation: pulse 2s infinite;
transition: all .2s ease-in-out;
}
.pulse:hover {
animation: none;
transform: scale(1.1);
}
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
#text1, #text2, #text3 {
  display: none;
  transition: all .2s ease-in-out;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
.selectedZoomTarget {
  box-shadow: 0 0 0 rgba(0,0,0,0);
  animation: none;
}
.selectedZoomTarget:hover {
  transform: none;
}
@-webkit-keyframes pulse {
0% {
  -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
}
70% {
    -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
}
100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
}
}
@keyframes pulse {
0% {
  -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
}
70% {
    -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    box-shadow: 0 0 0 10px rgba(204,169,44, 0);
}
100% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0);
}
}
.house-text {
  text-align: left;
  font-size: 16px;
  font-family: "Quasimoda";
  color: #508091;
  margin-bottom:0;
}
.interactive-info p {
  font-family: "Quasimoda";
  color: #508091;
  font-size: 16px;
}
.fa-home, .fa-truck, .fa-tint {
  color: #6c6c6c;
  margin: auto;
  display: block;
  margin-bottom: 5px;
}
.house h1 {
  color: #6c6c6c;
  text-align: center;
}

.interactive {
  margin-bottom: 50px;
}


@media only screen and (max-width: 1000px) {
  .three {
    left: 10%;
    bottom: 200px;
  }
  .one {
    right: 26%;
    bottom: 200px;
  }
}
@media only screen and (max-width: 800px) {
  .water-interactive {
    margin: 5px;
  }
  .box {
    position: relative;
    left: 25%;
    right: 0px;
    display: block;
    width: 40%;
    min-height: 74px;
    margin: 10px;
    border: 1px #ccc solid;
    background-color: rgba(255, 255, 255, 0.8);
  }
  .house-text {
    font-size: 14px;
    margin-bottom: 60px;
  }
  .zoomViewport {
    margin:0px;
    padding:0px;
    height: 380px;
  }

  .house p{
    font-size: 6px;
  }

}

@media only screen and (max-width: 450px) {
  .zoomViewport {
    height: 280px;
  }
}

</style>

        <div class="row interactive">
            <div class="col-sm-12 offset-md-1 col-md-3 interactive-title">
              <h3>Money In, Money Out</h3>
              <p>Congress approved <strong>$15 billion</strong> for the U.S. Corps of Engineers in February 2018. Of that, $10 billion are for the recovery efforts of Hurricanes Harvey, Maria and Irma.</p>
              <p>Proyecto Enlace is asking the federal government to allocate $800 million to repair El Caño. That is only 5.3 percent of the total US Corp of Engineers annual funding.</p>
              <p class="house-text">Click on a section to see how the money will be used.</p>
            </div>
          <div class="zoomViewport col-sm-12 col-md-8">
          <div class="house zoomContainer">
            <img src="../assets/images/house.png" alt="house" width="100%" height="auto" onclick="switchBack()">
              <div class="box one zoomTarget pulse" onclick="switchContent1()">
              <i class="fa fa-home"></i>
              <h1>Housing</h1>
              <p id="text1">$275 million dollars will go towards the efforts of relocating the community members and redeveloping the area after dredging El Caño. </p>
              </div>
              <div class="box two zoomTarget pulse" onclick="switchContent2()">
              <i class="fa fa-truck"></i>
              <h1>Infrastructure</h1>
              <p id="text2">It will cost $300 million dollars to restructure the neighborhoods and allow for more efficient power sources. This cost will include the possibility of green infrastructure strategies and power microgrids. </p>
              </div>
              <div class="box three zoomTarget pulse" onclick="switchContent3()">
              <i class="fa fa-tint"></i>
              <h1>Dredging</h1>
              <p id="text3">It will cost $200 million dollars to widen the river and prevent it from flooding during rain and stagnate when water levels lower. </p>
            </div>
          </div>
        </div>
      </div>

    <script type="text/javascript">
      function switchContent1() {
        document.getElementById('text1').style.display = "block";
      }
      function switchContent2() {
        document.getElementById('text2').style.display = "block";
        console.log("worked");
      }
      function switchContent3() {
        document.getElementById('text3').style.display = "block";
      }
      function switchBack() {
        document.getElementById('text1').style.display = "none";
        document.getElementById('text2').style.display = "none";
        document.getElementById('text3').style.display = "none";
      }

    </script>
