<div class="row water-interactive interactive">
  <div class="col-md-3 offset-md-1 left-box water-left-side">
    <h3>Explore El Caño</h3>
    <p>El Caño Martín Peña stretches for nearly 4 miles, connecting the San Juan Bay with the San José Lagoon, the two biggest
      bodies of water in San Juan. After María struck, fallen trees, debris, garbage and untreated water dumped in the channel
      for decades worsened its condition. This map features drone footage of the area.</p>
    <button class="water-button" onclick=justin();><p>1</p></button>
    <button class="water-button" onclick=justin2();><p>2</p></button>
    <button class="water-button" onclick=justin3();><p>Map</p></button>
    <p></p>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
    <div id="imagearea">
      <img class="img-fluid cano" src="assets/images/water-interactive/check.png">
    </div>
  </div>
</div>
<script>
function justin() {
  document.getElementById("imagearea").innerHTML = "<video controls class='img-fluid' src='assets/images/water-interactive/narrow_canal_drone_1.mp4' autoplay prelaod='auto' loop></video>";
}
function justin2() {
  document.getElementById("imagearea").innerHTML = "<video controls class='img-fluid' src='assets/images/water-interactive/narrow_canal_drone.mp4' autoplay prelaod='auto' loop></video>";
}
function justin3() {
  document.getElementById("imagearea").innerHTML = "<img class='img-fluid' src='assets/images/water-interactive/check.png'>";
}
</script>
