<!-- <style>
.cano {
  content:url('/assets/images/zoomedout.png');
}
.canozoom {
  content:url('/assets/images/zoomed_in.png');
}
</style> -->

<!-- <div class="row interactive">
  <div class="col-md-3 offset-md-1 left-box">
    <h3>Explore El Ca単o</h3>
    <p></p>
  </div>
  <div class="col-md-8">
    <div> -->
    <!-- <img class="img-fluid cano" onclick="$('img.cano').toggleClass('canozoom');"> -->
    <!-- <img width="781px" height="363px" src="assets/images/water-interactive/Asset-1.png" usemap="#canal" alt="">
    <map name="canal" id="canal">
      <area shape="rect" coords="301,253,303,338,456,338,456,253" href="https://www.google.com/" title="video1" alt="video1">
      <area shape="rect" coords="522,271,520,358,677,359,676,271" href="https://www.google.com/" title="video2" alt="video2">
    </map>
  </div>

  </div>
</div> -->
<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> -->
<!-- <script src="js/jquery.rwdImageMaps.min.js"></script> -->
<!-- <script>
$(document).ready(function(e) {
	$('img[usemap]').rwdImageMaps();

	$('area').on('click', function() {
		alert($(this).attr('alt') + ' clicked');
	});
});
</script> -->



<!-- <img id="Image-Maps-Com-image-maps-2018-04-17-195849" src="assets/images/water-interactive/zoomedout.png" usemap="#image-maps-2018-04-17-195849" alt="" />
<map name="image-maps-2018-04-17-195849" id="ImageMapsCom-image-maps-2018-04-17-195849">
<area id="water-drone-1" alt="" title="" href="http://www.image-maps.com/" shape="rect" coords="829,526,976,608" style="outline:none;" target="_self"     />
<area id="water-drone-2" alt="" title="" href="http://www.image-maps.com/" shape="rect" coords="1107,548,1254,630" style="outline:none;" target="_self"     />
<area shape="rect" coords="1819,856,1821,858" alt="Image Map" style="outline:none;" title="Image Map" href="http://www.image-maps.com/index.php?aff=mapped_users_0" />
</map> -->




<div class="row water-interactive">
  <div class="col-md-3 offset-md-1 left-box water-left-side">
    <h3>Explore El Ca単o</h3>
    <button class="water-button" onclick=justin();>El Ca単o Drone Footage 1</button><br/>
    <button class="water-button" onclick=justin2();>El Ca単o Drone Footage 2</button><br/>
    <button class="water-button" onclick=justin3();>Back to Map</button>
    <p></p>
  </div>
  <div class="col-md-8">
    <div id="imagearea">
      <img class="img-fluid cano" src="assets/images/water-interactive/zoomedout.png">
    </div>
  </div>
</div>
<script>
function justin() {
  document.getElementById("imagearea").innerHTML = "<video class='img-fluid' src='assets/images/water-interactive/little_circle.mp4' autoplay prelaod='auto' loop></video>";
}
function justin2() {
  document.getElementById("imagearea").innerHTML = "<video class='img-fluid' src='assets/images/water-interactive/big_circle 2.mp4' autoplay prelaod='auto' loop></video>";
}
function justin3() {
  document.getElementById("imagearea").innerHTML = "<img class='img-fluid' src='assets/images/water-interactive/zoomedout.png'>";
}
</script>
