/* ------------------ Global Styles ------------ */
/* ----- Cuban Legacy Styles (keeping these here until I know they won't break the compiler!) ----*/
/* ------ Aftermath Story Page Colors -----*/
/* ------------------  Index ------------------ */
.homepage-icon-row {
  margin-top: 20px; }
  .homepage-icon-row .homepage-icon {
    height: 20%;
    width: auto;
    padding: 30px; }

.homepage-logo {
  width: 40%;
  height: auto; }

.video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  display: block;
  margin-top: 0px; }

.homepage-icon {
  height: 30%;
  width: auto;
  padding: 0 60px 60px 60px; }
  .homepage-icon-row {
    margin-top: 60px; }
    .homepage-icon-row .homepage-icon {
      height: 30%;
      width: auto;
      padding: 0 60px 60px 60px; }

.content {
  position: fixed;
  top: 0;
  left: 0;
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  text-align: center;
  margin-top: 60px; }

.header {
  min-height: 500px; }

.homepage-container {
  position: absolute;
  top: 50; }

.logo-in-corner {
  height: 20px;
  width: auto; }

.navbar {
  background-color: black !important; }

.navbar-toggler {
  background-color: white; }

.nav-item {
  margin-left: 22px;
  margin-right: 22px; }

.nav-link {
  color: white !important;
  font-family: "quasimoda",sans-serif; }

.dropdown-pictures-nav {
  background-color: black; }

.dropdown-pictures-nav ul {
  list-style-type: none;
  margin-left: 100px; }

.dropdown-pictures-nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-left: 22px;
  margin-right: 22px;
  text-align: center; }

h3 {
  color: white;
  font-size: 15pt;
  font-family: "quasimoda",sans-serif; }

.dropdown-pictures-nav ul li img {
  height: 40px;
  width: auto;
  margin-bottom: 10px; }
