/* ------------------ Global Styles ------------ */
/*change page colors here!*/
/* ------------------  Index ------------------ */
.video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  display: block; }

.button {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
  transition: 0.4s ease-in-out; }

.button:hover {
  background: #ddd;
  color: black; }

.hidden {
  display: none; }

.content {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  text-align: center; }

.header {
  min-height: 500px; }

.homepage-container {
  position: absolute;
  top: 50; }
