/* ------------------ Global Styles ------------ */
/* ----- Cuban Legacy Styles (keeping these here until I know they won't break the compiler!) ----*/
/* ------ Aftermath Story Page Colors -----*/
/* ------------------  HOMEPAGE ------------------ */
.homepage-header {
  font-family: "quasimoda",sans-serif;
  font-weight: lighter;
  font-size: 15pt;
  text-align: center;
  color: white;
  text-transform: uppercase;
  margin-top: 10px;
  visibility: hidden; }

.homepage-logo {
  width: 30%;
  height: auto; }

.video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  display: block;
  margin-top: 0px; }

.homepage-icon-row ul {
  margin-top: 80px;
  list-style-type: none; }
  .homepage-icon-row ul li {
    display: inline-block;
    padding-left: 60px;
    padding-right: 60px; }
    .homepage-icon-row ul li a img {
      transition-duration: 1s; }
    .homepage-icon-row ul li a:hover {
      text-decoration: none; }
    .homepage-icon-row ul li a:hover .homepage-header {
      visibility: visible; }
    .homepage-icon-row ul li .homepage-icon {
      height: 60px;
      width: auto; }

.content {
  position: fixed;
  top: 0;
  left: 0;
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  text-align: center;
  margin-top: 50px; }

.header {
  min-height: 500px; }

.homepage-container {
  position: absolute;
  top: 50; }

.homepage-subtitle {
  color: white;
  font-size: 17pt;
  font-family: "quasimoda",sans-serif; }

/* ------------------  NAV BAR ------------------ */
.logo-in-corner {
  height: 20px;
  width: auto;
  margin-left: 15px; }

.navbar {
  background-color: black !important;
  height: 55px; }

.navbar-toggler {
  background-color: white;
  margin-left: 170px; }

.nav-item {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 15px;
  text-align: center; }

.nav-link {
  color: white !important;
  font-family: "quasimoda",sans-serif; }

.navbar-nav li:last-child {
  float: right; }

.navbar-collapse {
  margin-top: 5px;
  margin-bottom: 5px; }

.nav-header {
  color: white;
  font-size: 9pt;
  font-family: "quasimoda",sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin-top: 5px; }

h5 {
  text-transform: uppercase;
  font-size: 7pt;
  font-weight: lighter; }

.es-and-about {
  color: white;
  margin-top: 20px;
  text-align: center; }
  .es-and-about a {
    color: white; }

.sidebar {
  width: 100px;
  float: right; }
  .sidebar ul {
    background: black;
    padding: 5px; }
    .sidebar ul li {
      margin: 0 0 0 20px; }

.sidebar-icons ul li {
  margin-top: 5px;
  margin-bottom: 5px; }
