/* ------------------ Global Styles ------------ */
/* ----- Cuban Legacy Styles (keeping these here until I know they won't break the compiler!) ----*/
/* ------ Aftermath Story Page Colors -----*/
.inner-hero {
  display: flex;
  justify-content: center;
  padding: 0; }
  .inner-hero img {
    width: 100%;
    height: 100%; }

.inner .text-row {
  padding-top: 5%;
  padding-bottom: 2%; }

.inner #title-box {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  text-align: center;
  text-transform: uppercase;
  padding-top: 10%;
  color: #ffffff;
  position: absolute;
  align-items: center; }
  .inner #title-box .title-line {
    display: flex;
    flex-direction: column; }
    .inner #title-box .title-line h1 {
      font-weight: 300; }
    .inner #title-box .title-line-two {
      flex-wrap: wrap;
      text-transform: uppercase;
      font-size: 7em;
      font-weight: 900;
      margin-top: -5%; }
  .inner #title-box .vertical-line {
    border-left: 4px solid #ffffff;
    height: 200px;
    margin-left: 5%;
    margin-right: 5%; }
  .inner #title-box img {
    width: 120px;
    height: 120px; }

.inner .byline-box {
  text-align: left;
  padding-bottom: 5%;
  padding-top: 1%; }
  .inner .byline-box p {
    line-height: 1em; }

.inner .byline-item {
  font-size: 0.9em;
  display: inline-block;
  text-align: left;
  vertical-align: text-top; }

.inner .byline-head {
  font-size: 0.9em;
  font-weight: bold; }

.inner .vimeo-container {
  padding-left: 25%;
  padding-right: 25%;
  text-align: center; }

.inner .pull-quote {
  color: #309865;
  font-size: 20pt;
  text-transform: none; }
  .inner .pull-quote-box {
    padding-bottom: 2%; }

@media only screen and (max-width: 766px) {
  .inner .byline-box {
    text-align: center; }
  .inner .byline-item {
    text-align: center; } }

#morphing {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: auto;
  z-index: 2; }

#video_area {
  position: relative; }

.polymorph_logo {
  transform-origin: center; }

.polymorph {
  transform-origin: center; }

#video-player-trigger {
  height: 100px; }

.plyr__controls {
  visibility: hidden; }
