@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';
@import url("https://use.typekit.net/hym1sdr.css");
/* ------------------ Global Styles ------------ */
/* ------ Aftermath Story Page Colors -----*/
html {
  font-size: .7em; }

body {
  font-size: 1.375em;
  background-color: white;
  font-weight: 400;
  line-height: 1.45;
  color: black;
  margin: 0;
  transition: 2s background-color;
  font-family: "Source Sans Pro", sans-serif; }

body a {
  cursor: pointer; }

p {
  margin-bottom: 1.3em;
  line-height: 2em; }

h1, h2, h3, h4 {
  font-family: "Quasimoda", sans-serif;
  line-height: 1.2; }

h1 {
  margin-top: 0;
  font-size: 3.7em;
  font-weight: 600; }

h2 {
  font-size: 2.25em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em;
  padding-bottom: 0.75em; }

.instagram:hover {
  color: #bc2a8d !important; }

.facebook:hover {
  color: #3b5998 !important; }

.twitter:hover {
  color: #00aced !important; }

.github:hover {
  color: #6e5494 !important; }

.italic {
  font-style: italic; }

/* ------------------  Header ------------------ */
header {
  text-align: left;
  padding: 1rem; }

/* ------------------ HOMEPAGE ------------------ */
.container-fluid {
  margin: 0;
  padding: 0; }

/* ------------------ Navigation ------------------ */
header {
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 9; }

.default {
  top: 0; }

.fixed {
  top: -85px; }

/* -------- All Includes --------- */
/* ------- MOBILE NAVIGATION --------*/
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  background-color: black;
  background-color: white;
  opacity: .94;
  overflow-x: hidden;
  transition: 0.5s opacity;
  -webkit-transition: 5s opacity;
  -moz-transition: 0.5s opacity; }
  .overlay .overlay-content {
    position: relative;
    top: 15%;
    width: 100%;
    margin-left: 8%;
    margin-top: 30px;
    -webkit-transition: 5s opacity; }
    .overlay .overlay-content a {
      text-decoration: none;
      font-size: 1.7em;
      font-weight: 300;
      line-height: 2.6em;
      padding: 0.5%;
      display: flex;
      align-items: center; }
    .overlay .overlay-content .mobile-home-link {
      color: black;
      position: absolute;
      top: -24.5%;
      right: 11%;
      font-size: 1.5em; }
    .overlay .overlay-content #closebtn {
      position: absolute;
      top: -42.5%;
      left: -5%;
      font-size: 75px;
      color: black;
      font-weight: 100;
      transition: none; }
    .overlay .overlay-content .overlay-item {
      color: black; }
      .overlay .overlay-content .overlay-item span {
        font-size: 1em;
        display: inline-flex; }

/* ------------------  HOMEPAGE ------------------ */
/* Homepage Background Image / Video Styles */
body, html {
  height: 100%; }

.homepage {
  background-image: url("../assets/images/option1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  background-position: center;
  display: flex;
  flex-direction: column; }

.video-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100; }

.video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  display: block;
  margin-top: 0px;
  width: 100%;
  height: 100%; }

@media (min-aspect-ratio: 16 / 9) {
  .video {
    height: 300%;
    top: -100%; } }

@media (max-aspect-ratio: 16 / 9) {
  .video {
    width: 300%;
    left: -100%; } }

@media (max-width: 992px) {
  .video-wrapper {
    background: url("../assets/images/option3.jpg") center center/cover no-repeat; }
  .video {
    display: none; } }

/* Homepage Text Styles */
.homepage-header {
  font-weight: lighter;
  font-size: 15pt;
  text-align: center;
  color: white;
  text-transform: uppercase;
  margin-top: 10px;
  visibility: hidden; }

.homepage-logo {
  margin-top: 5%;
  text-align: center;
  height: 100px; }
  .homepage-logo img {
    width: 25%; }
  @media (max-width: 570px) {
    .homepage-logo {
      margin-top: 30vh;
      height: 100px; }
      .homepage-logo img {
        width: 75%; }
      .homepage-logo p {
        font-size: 1em; } }

.homepage-icon-row {
  display: flex;
  height: calc(100% - 100px);
  align-items: center;
  justify-content: center; }
  .homepage-icon-row ul {
    list-style-type: none; }
    .homepage-icon-row ul li {
      display: inline-block;
      padding-left: 50px;
      padding-right: 50px; }
      .homepage-icon-row ul li a img {
        transition-duration: 1s; }
      .homepage-icon-row ul li a:hover {
        text-decoration: none; }
      .homepage-icon-row ul li a:hover .homepage-header {
        visibility: visible; }
      .homepage-icon-row ul li .homepage-icon {
        height: 120px;
        width: auto; }
  @media (max-width: 570px) {
    .homepage-icon-row {
      display: none; } }

.homepage-subtitle {
  color: white;
  font-size: 15pt;
  font-family: "quasimoda",sans-serif; }

/* ------------------  NAV BAR ------------------ */
.logo-in-corner {
  height: 20px;
  width: auto;
  margin-left: 15px;
  margin-top: 10px; }

.navbar {
  background-color: black !important;
  height: 60px; }

.navbar-nav {
  margin: auto;
  width: 80%; }

.nav-bar-wrapper {
  position: fixed;
  width: 100%;
  z-index: 3; }

@media only screen and (max-width: 1150px) {
  .navbar-nav {
    width: 97%;
    margin: auto; } }

.navbar-toggler {
  background-color: white;
  margin-left: 170px; }

.nav-item {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px; }

.nav-link {
  color: white !important;
  font-family: "quasimoda",sans-serif; }

.navbar-collapse {
  margin-bottom: 5px;
  margin-top: 15px;
  margin-left: 10px; }

.nav-header {
  color: white;
  font-size: 9pt;
  font-family: "quasimoda",sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin-top: 5px; }

h5 {
  text-transform: uppercase;
  font-size: 7pt;
  font-weight: lighter; }

.es-and-about {
  color: white;
  margin-top: 25px;
  text-align: center;
  float: right; }
  .es-and-about a {
    color: white; }

.sidebar {
  width: 100px;
  float: left;
  margin-left: 0px;
  position: absolute;
  left: 0px; }
  .sidebar ul {
    list-style-type: none; }
    .sidebar ul li {
      padding-top: 5px;
      padding-bottom: 5px; }
      .sidebar ul li .social-icon {
        width: 30px;
        height: auto; }

.mix .video-mask {
  width: 100%;
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
  -webkit-transform: rotate(0deg);
  -webkit-border-radius: 120px;
  -moz-border-radius: 120px;
  border-radius: 120px;
  overflow: hidden; }

.text-row {
  margin-top: 50px; }

.inner-hero {
  display: flex;
  justify-content: center;
  padding: 0; }
  .inner-hero img {
    width: 100%;
    height: 100%; }

.inner .text-row {
  padding-top: 5%;
  padding-bottom: 2%; }

.inner #title-box {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  text-align: center;
  text-transform: uppercase;
  padding-top: 10%;
  color: #ffffff;
  position: absolute;
  align-items: center; }
  .inner #title-box .title-line {
    display: flex;
    flex-direction: column; }
    .inner #title-box .title-line h1 {
      font-weight: 300;
      font-size: 4.25em; }
    .inner #title-box .title-line-two {
      flex-wrap: wrap;
      text-transform: uppercase;
      font-size: 7em;
      font-weight: 900;
      margin-top: -40px; }
  .inner #title-box img {
    width: 120px;
    height: 120px;
    margin-right: 40px; }

.inner .left-box {
  padding-top: 1%; }

.inner .center-wrapper {
  max-width: 80%; }

.inner .byline-box {
  text-align: left;
  padding-bottom: 5%;
  padding-top: 1%; }
  .inner .byline-box p {
    line-height: 1px;
    margin: 10px; }

.inner .byline-item {
  font-size: 0.9em;
  display: inline-block;
  text-align: left;
  vertical-align: text-top; }
  .inner .byline-item p {
    line-height: 1.2em;
    margin-top: 12px; }

.inner .byline-head {
  font-size: 0.9em;
  font-weight: bold;
  margin: 0; }

.inner .byline-item {
  margin-bottom: 1.3em; }

.inner .vimeo-container {
  padding-left: 25%;
  padding-right: 25%;
  text-align: center; }

.inner .pull-text {
  margin-left: -10px; }

.inner .pull-quote {
  font-size: 1em;
  text-transform: none; }
  .inner .pull-quote-box {
    padding-bottom: 3%;
    font-family: "Quasimoda", sans-serif;
    font-weight: 100;
    color: #309865;
    margin-top: -14px; }
    .inner .pull-quote-box .attribution {
      font-weight: 300; }
    .inner .pull-quote-box img {
      width: 75px;
      height: auto;
      display: flex;
      margin: auto; }

@media only screen and (max-width: 766px) {
  .text-row {
    max-width: 90%;
    margin: 0 auto; }
  .byline-box {
    text-align: center; }
  .byline-item {
    text-align: center !important; } }

#byline {
  padding: 35px 0px; }

#morphing {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: auto;
  z-index: 3; }

#video_area {
  position: relative;
  max-height: 100vh; }

.video-snapper {
  top: 0px; }

.polymorph_logo {
  transform-origin: center; }

.polymorph {
  transform-origin: center; }

#video-player-trigger {
  height: 100px; }

.plyr__video-wrapper {
  z-index: 0; }

.water {
  width: 100%;
  height: 100vh;
  z-index: -2;
  background-image: url("../../assets/images/water-hero.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.pollution {
  width: 100%;
  height: 100vh;
  z-index: -2;
  background-image: url("../../assets/images/pollution-hero.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.biodiversity {
  width: 100%;
  height: 100vh;
  z-index: -2;
  background-image: url("../../assets/images/biodiversity-hero.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.health {
  width: 100%;
  height: 100vh;
  z-index: -2;
  background-image: url("../../assets/images/health-hero.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.power {
  width: 100%;
  height: 100vh;
  z-index: -2;
  background-image: url("../../assets/images/power-hero.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.story-section {
  background-color: #fff;
  position: relative;
  top: 0px;
  padding-top: 30px; }

.title-line {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  color: #ffffff;
  position: absolute;
  align-items: center;
  width: 75%; }

.title-line h1 {
  font-weight: 300;
  font-size: 7.25em; }

.title-line-two {
  flex-wrap: wrap;
  text-transform: uppercase;
  font-size: 7.8em;
  font-weight: 900;
  line-height: 1em;
  margin-bottom: 0px; }

.deck {
  text-align: left;
  color: #fff;
  font-size: 20px;
  position: relative;
  margin: auto;
  display: block;
  width: 75%;
  background-color: transparent;
  top: 80%; }

.icon img {
  vertical-align: middle;
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

.row {
  margin-right: 0px; }

@media only screen and (max-width: 1120px) {
  .title-line h1 {
    font-size: 6.25em; }
  .title-line-two {
    font-size: 6.6em; } }

@media only screen and (max-width: 950px) {
  .title-line h1 {
    font-size: 5.25em; }
  .title-line-two {
    font-size: 5.4em; } }

@media only screen and (max-width: 800px) {
  .title-line h1 {
    font-size: 4.25em; }
  .title-line-two {
    font-size: 4.4em; }
  .deck {
    font-size: 14px;
    top: 75%; }
  .byline-item {
    padding: 0px 30px; }
  .col-md-7 {
    margin: 0px 25px; }
  .pull-quote-box {
    margin: 25px;
    text-align: center; }
  .pull-quote-box img {
    margin: auto;
    display: block; }
  .sidebar-icons {
    display: none; } }

@media only screen and (max-width: 650px) {
  .title-line h1 {
    font-size: 3.25em; }
  .title-line-two {
    font-size: 3.4em; }
  .byline-item {
    padding: 0px 20px; } }

@media only screen and (max-width: 600px) {
  .icon {
    height: 100px; }
  .byline-item p {
    font-size: 10px;
    text-align: center; }
  .byline-item {
    padding: 0px 5px; }
  .inner .byline-head {
    font-size: 10px;
    text-align: center; } }

.footer-wrapper {
  padding-top: 2px;
  padding-bottom: 30px;
  background-color: #000000;
  margin-top: 40px; }
  .footer-wrapper img {
    margin: auto;
    display: block;
    padding-top: 40px; }

.footer-logo {
  width: 240px; }

.footer-icons {
  display: flex;
  justify-content: center;
  flex-flow: nowrap;
  margin: auto;
  width: 22%; }
  .footer-icons img {
    width: 50px;
    padding: 5px 5px; }

.footer .centered {
  text-align: center; }

.footer a {
  color: #fff; }
  .footer a:visited {
    color: #fff; }

.links {
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  margin-bottom: 15px;
  margin-top: 15px;
  font-weight: 100; }
  .links a {
    color: #fff; }
    .links a:first-of-type {
      margin-right: 10px; }
    .links a:last-of-type {
      margin-left: 10px; }
    .links a:hover {
      text-decoration: none; }

/* ------ Step Link Styles ------*/
/*TAMARA TRY*/
.steplinksvideo {
  display: flex;
  justify-content: center;
  align-items: center; }

.step-content {
  position: absolute;
  color: white;
  text-align: center;
  font-size: 1.5em;
  text-transform: uppercase;
  font-family: 'Quasimoto', sans-serif; }
  .step-content img {
    height: auto;
    width: 90px; }
    @media (max-width: 768px) {
      .step-content img {
        width: 40px;
        margin-bottom: 10px; } }
  .step-content p {
    margin: 0;
    line-height: 1.6em; }
  .step-content .step-name {
    font-weight: 600 !important; }
    @media (max-width: 768px) {
      .step-content .step-name {
        font-size: .6em; } }
  .step-content .step-title {
    font-weight: 100 !important; }
    @media (max-width: 768px) {
      .step-content .step-title {
        font-size: .5em;
        margin: 0; } }

.thevideo {
  width: 100%;
  height: auto; }

#stepLinks {
  margin-top: 5%; }
  #stepLinks .col-6 {
    padding-right: 0px; }

#grid {
  margin: 0 auto; }

#photo-gallery {
  margin: auto;
  padding-bottom: 40px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  #photo-gallery figure {
    float: right;
    width: 200px;
    padding: 5px;
    margin: 0px;
    box-sizing: border-box; }
  #photo-gallery a {
    display: block; }
  #photo-gallery img {
    margin: auto;
    max-width: 100%;
    width: auto;
    height: auto;
    border: 0; }
  #photo-gallery figure figcaption {
    display: none; }
  #photo-gallery .msnry {
    margin: auto; }

@media screen and (max-width: 768px) {
  #grid {
    display: none; } }

.text-row {
  padding-top: 5%;
  padding-bottom: 2%; }

#abouttitle-box {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  text-align: center;
  text-transform: uppercase;
  padding-top: 10%;
  color: #000;
  align-items: center; }
  #abouttitle-box .title-line {
    display: flex;
    flex-direction: column; }
    #abouttitle-box .title-line h1 {
      font-weight: 300;
      font-size: 7em; }
    #abouttitle-box .title-line-two {
      flex-wrap: wrap;
      text-transform: uppercase;
      font-size: 10em;
      font-weight: 900;
      margin-top: -12%; }

.left-box {
  padding-top: 1%; }

.center-wrapper {
  max-width: 80%; }

.team-nav {
  display: inline-block; }

.portfolio {
  display: inline-block; }

.mix img {
  border-radius: 50%; }

.team-info {
  text-align: center; }

.portfolio a, i {
  margin: 5px 0px;
  color: #616161; }

.role {
  font-size: 12px;
  margin: 5px 0px;
  line-height: 1em;
  color: #616161; }

.team-name {
  font-family: "quasimoda",sans-serif;
  font-size: 18px;
  margin: 2px 0px;
  line-height: 1em;
  color: #616161; }

.team-info {
  margin: 20px 0px; }

.team-nav {
  line-height: 1.5em;
  font-size: 18px; }

.team-nav h3 {
  text-align: right;
  margin-bottom: 20px; }

.mixitup-control-active {
  position: relative; }

.team-nav ul {
  list-style-type: none;
  padding: 0px;
  text-align: right;
  border-right: solid #000 1px; }

.team-nav li {
  padding: 8px 15px 8px 30px; }

.team-nav li:hover {
  color: #508091;
  font-weight: 800; }

.about-section {
  margin-top: 80px; }
