@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';
@import url("https://use.typekit.net/hym1sdr.css");
/* ------------------ Global Styles ------------ */
/* ------ Aftermath Story Page Colors -----*/
/* ------------------  HOMEPAGE ------------------ */
.homepage-header {
  font-family: "quasimoda",sans-serif;
  font-weight: lighter;
  font-size: 15pt;
  text-align: center;
  color: white;
  text-transform: uppercase;
  margin-top: 10px;
  visibility: hidden; }

.homepage-logo {
  width: 20%;
  height: auto; }

.video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  display: block;
  margin-top: 0px;
  width: 100%; }

.homepage-icon-row {
  width: 100%; }
  .homepage-icon-row ul {
    margin-top: 80px;
    list-style-type: none; }
    .homepage-icon-row ul li {
      display: inline-block;
      padding-left: 50px;
      padding-right: 50px; }
      .homepage-icon-row ul li a img {
        transition-duration: 1s; }
      .homepage-icon-row ul li a:hover {
        text-decoration: none; }
      .homepage-icon-row ul li a:hover .homepage-header {
        visibility: visible; }
      .homepage-icon-row ul li .homepage-icon {
        height: 120px;
        width: auto; }

.content {
  position: fixed;
  top: 0;
  left: 0;
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  text-align: center;
  margin-top: 50px; }

.header {
  min-height: 500px; }

.homepage-container {
  position: absolute;
  top: 50; }

.homepage-subtitle {
  color: white;
  font-size: 15pt;
  font-family: "quasimoda",sans-serif; }

@media only screen and (max-width: 800px) {
  .video {
    width: 150%; } }

/* ------------------  NAV BAR ------------------ */
.logo-in-corner {
  height: 20px;
  width: auto;
  margin-left: 15px;
  margin-top: 10px; }

.navbar {
  background-color: black !important;
  height: 60px; }

.navbar-nav {
  margin: auto;
  width: 80%; }

@media only screen and (max-width: 1150px) {
  .navbar-nav {
    width: 97%;
    margin: auto; } }

.navbar-toggler {
  background-color: white;
  margin-left: 170px; }

.nav-item {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px; }

.nav-link {
  color: white !important;
  font-family: "quasimoda",sans-serif; }

.navbar-collapse {
  margin-bottom: 5px;
  margin-top: 15px;
  margin-left: 10px; }

.nav-header {
  color: white;
  font-size: 9pt;
  font-family: "quasimoda",sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin-top: 5px; }

h5 {
  text-transform: uppercase;
  font-size: 7pt;
  font-weight: lighter; }

.es-and-about {
  color: white;
  margin-top: 25px;
  text-align: center;
  float: right; }
  .es-and-about a {
    color: white; }

.sidebar {
  width: 100px;
  float: left;
  margin-left: 0px;
  position: absolute;
  left: 0px; }
  .sidebar ul {
    list-style-type: none; }
    .sidebar ul li {
      padding-top: 5px;
      padding-bottom: 5px; }
      .sidebar ul li .social-icon {
        width: 30px;
        height: auto; }

.text-row {
  margin-top: 50px; }

.inner-hero {
  display: flex;
  justify-content: center;
  padding: 0; }
  .inner-hero img {
    width: 100%;
    height: 100%; }

.inner .text-row {
  padding-top: 5%;
  padding-bottom: 2%; }

.inner #title-box {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  text-align: center;
  text-transform: uppercase;
  padding-top: 10%;
  color: #ffffff;
  position: absolute;
  align-items: center; }
  .inner #title-box .title-line {
    display: flex;
    flex-direction: column; }
    .inner #title-box .title-line h1 {
      font-weight: 300;
      font-size: 4.25em; }
    .inner #title-box .title-line-two {
      flex-wrap: wrap;
      text-transform: uppercase;
      font-size: 7em;
      font-weight: 900;
      margin-top: -40px; }
  .inner #title-box img {
    width: 120px;
    height: 120px;
    margin-right: 40px; }

.inner .left-box {
  padding-top: 1%; }

.inner .center-wrapper {
  max-width: 80%; }

.inner .byline-box {
  text-align: left;
  padding-bottom: 5%;
  padding-top: 1%; }
  .inner .byline-box p {
    line-height: 1em;
    margin: 10px; }

.inner .byline-item {
  font-size: 0.9em;
  display: inline-block;
  text-align: left;
  vertical-align: text-top; }

.inner .byline-head {
  font-size: 0.9em;
  font-weight: bold;
  margin: 0; }

.inner .byline-item-head p {
  margin: 0; }

.inner .vimeo-container {
  padding-left: 25%;
  padding-right: 25%;
  text-align: center; }

.inner .pull-text {
  margin-left: -10px; }

.inner .pull-quote {
  font-size: 1em;
  text-transform: none; }
  .inner .pull-quote-box {
    padding-bottom: 3%;
    font-family: "Quasimoda", sans-serif;
    font-weight: 100;
    color: #309865;
    margin-top: -14px; }
    .inner .pull-quote-box .attribution {
      font-weight: 300; }
    .inner .pull-quote-box img {
      width: 75px;
      height: auto;
      display: flex;
      margin: auto; }

@media only screen and (max-width: 766px) {
  .text-row {
    max-width: 90%;
    margin: 0 auto; }
  .byline-box {
    text-align: center; }
  .byline-item {
    text-align: center !important; } }

#morphing {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: auto;
  z-index: 2; }

#video_area {
  position: relative; }

.polymorph_logo {
  transform-origin: center; }

.polymorph {
  transform-origin: center; }

#video-player-trigger {
  height: 100px; }

.plyr__controls {
  visibility: hidden; }

.title-treatment {
  position: relative;
  margin-bottom: 40px; }

.inner-deck {
  margin: auto;
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0px; }

#deck {
  display: none; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 3s;
  animation-duration: 3s; }

.inner-deck p {
  color: #ffffff;
  font-size: 22px;
  width: 93%;
  margin: auto; }

.inner-hero {
  position: relative; }

.dim {
  background-color: #000; }

.parallax {
  height: 30vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 1px;
  perspective: 1px; }

.parallax-layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 30vh; }

.parallax-layer.one {
  color: #000;
  -webkit-transform: translateZ(0);
  transform: translateZ(0); }

.footer-wrapper {
  padding-top: 2px;
  padding-bottom: 30px;
  background-color: #000000;
  margin-top: 40px; }
  .footer-wrapper img {
    margin: auto;
    display: block;
    padding-top: 40px; }

.footer-logo {
  width: 240px; }

.footer-icons {
  display: flex;
  justify-content: center;
  flex-flow: nowrap;
  margin: auto;
  width: 22%; }
  .footer-icons img {
    width: 50px;
    padding: 5px 5px; }

.footer .centered {
  text-align: center; }

.footer a {
  color: #fff; }
  .footer a:visited {
    color: #fff; }

.links {
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  margin-bottom: 15px;
  margin-top: 15px;
  font-weight: 100; }
  .links a {
    color: #fff; }
    .links a:first-of-type {
      margin-right: 10px; }
    .links a:last-of-type {
      margin-left: 10px; }
    .links a:hover {
      text-decoration: none; }

/* ------ Step Link Styles ------*/
.step {
  font-family: 'Quasimoda'; }
  .step a {
    text-decoration: none;
    color: white; }
    .step a.video-step-link-left {
      margin-left: 0px;
      float: left; }
    .step a.video-step-link-right {
      margin-right: 0px;
      float: right; }
  .step-link-icon {
    position: absolute;
    top: 140px;
    left: 240px;
    height: auto;
    width: 120px; }
  .step p {
    margin-bottom: 0.5em; }
  .step-box {
    min-height: 350px;
    position: relative;
    text-align: center; }
  .step-name {
    font-size: 3em;
    position: absolute;
    top: 5px;
    left: 240px; }
  .step-title {
    font-size: 2em;
    font-weight: 100 !important;
    text-align: center;
    position: absolute;
    top: 70px;
    left: 140px; }

#videosList {
  max-width: 100%;
  overflow: hidden; }

.video-step-link {
  background-image: url("../assets/images/butler-farms-arial.jpg");
  height: auto;
  width: 100%;
  margin-bottom: 50px; }

/* Hide Play button + controls on iOS */
.video-step-link::-webkit-media-controls {
  display: none !important; }

#photo-gallery {
  padding-top: 2%;
  padding-bottom: 2%; }
  #photo-gallery img {
    width: auto;
    max-width: 100%;
    height: auto;
    border: 0; }
  #photo-gallery .my-gallery {
    width: 100%;
    height: auto;
    float: left;
    margin: 0 auto;
    /* padding: 2%; */
    /* margin-left: 30%;  */ }
  #photo-gallery .my-gallery img {
    width: 100%;
    height: auto; }
  #photo-gallery .my-gallery a {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    display: block;
    float: left;
    margin: 0 12px 12px 0;
    width: 200px;
    line-height: 0; }
  #photo-gallery .my-gallery figure {
    display: inline-block;
    float: left;
    /* margin: 0;  */
    margin: 1;
    /* margin: 1; */ }
  #photo-gallery .my-gallery figcaption {
    display: none; }
  #photo-gallery #custom-slider > ul {
    width: 100%;
    transition: 0.5s left;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    display: inline-flex; }

.text-row {
  padding-top: 5%;
  padding-bottom: 2%; }

#abouttitle-box {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  text-align: center;
  text-transform: uppercase;
  padding-top: 10%;
  color: #000;
  align-items: center; }
  #abouttitle-box .title-line {
    display: flex;
    flex-direction: column; }
    #abouttitle-box .title-line h1 {
      font-weight: 300;
      font-size: 7em; }
    #abouttitle-box .title-line-two {
      flex-wrap: wrap;
      text-transform: uppercase;
      font-size: 10em;
      font-weight: 900;
      margin-top: -12%; }

.left-box {
  padding-top: 1%; }

.center-wrapper {
  max-width: 80%; }

.team-nav {
  display: inline-block; }

.portfolio {
  display: inline-block; }

.mix img {
  border-radius: 50%; }

.team-info {
  text-align: center; }

.portfolio a, i {
  margin: 5px 0px;
  color: #616161; }

.role {
  font-size: 12px;
  margin: 5px 0px;
  line-height: 1em;
  color: #616161; }

.team-name {
  font-family: "quasimoda",sans-serif;
  font-size: 18px;
  margin: 2px 0px;
  line-height: 1em;
  color: #616161; }

.team-info {
  margin: 20px 0px; }

.team-nav {
  line-height: 1.5em;
  font-size: 18px; }

.team-nav h3 {
  text-align: right;
  margin-bottom: 20px; }

.mixitup-control-active {
  position: relative; }

.team-nav ul {
  list-style-type: none;
  padding: 0px;
  text-align: right;
  border-right: solid #000 1px; }

.team-nav li {
  padding: 8px 15px 8px 30px; }

.team-nav li:hover {
  color: #508091;
  font-weight: 800; }

.about-section {
  margin-top: 80px; }

html {
  font-size: .7em; }

body {
  font-size: 1.375em;
  background-color: white;
  font-weight: 400;
  line-height: 1.45;
  color: #000;
  margin: 0;
  transition: 2s background-color;
  font-family: "Source Sans Pro", sans-serif; }

body a {
  cursor: pointer; }

p {
  margin-bottom: 1.3em;
  line-height: 2em; }

h1, h2, h3, h4 {
  font-family: "Quasimoda", sans-serif;
  line-height: 1.2; }

h1 {
  margin-top: 0;
  font-size: 3.7em;
  font-weight: 600; }

h2 {
  font-size: 2.25em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em;
  padding-bottom: 0.75em; }

.instagram:hover {
  color: #bc2a8d !important; }

.facebook:hover {
  color: #3b5998 !important; }

.twitter:hover {
  color: #00aced !important; }

.github:hover {
  color: #6e5494 !important; }

.italic {
  font-style: italic; }

/* ------------------  Header ------------------ */
header {
  text-align: left;
  padding: 1rem; }

/* ------------------ HOMEPAGE ------------------ */
.container-fluid {
  margin: 0;
  padding: 0; }

/* ------------------ Navigation ------------------ */
header {
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 9; }

.default {
  top: 0; }

.fixed {
  top: -85px; }

/* -------- All Includes --------- */
/* ------- MOBILE NAVIGATION --------*/
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  background-color: black;
  background-color: white;
  opacity: .94;
  overflow-x: hidden;
  transition: 0.5s opacity;
  -webkit-transition: 5s opacity;
  -moz-transition: 0.5s opacity; }
  .overlay .overlay-content {
    position: relative;
    top: 15%;
    width: 100%;
    margin-left: 8%;
    margin-top: 30px;
    -webkit-transition: 5s opacity; }
    .overlay .overlay-content a {
      text-decoration: none;
      font-size: 1.7em;
      font-weight: 300;
      line-height: 2.6em;
      padding: 0.5%;
      display: flex;
      align-items: center; }
    .overlay .overlay-content .mobile-home-link {
      color: black;
      position: absolute;
      top: -24.5%;
      right: 11%;
      font-size: 1.5em; }
    .overlay .overlay-content #closebtn {
      position: absolute;
      top: -42.5%;
      left: -5%;
      font-size: 75px;
      color: black;
      font-weight: 100;
      transition: none; }
    .overlay .overlay-content .overlay-item {
      color: black; }
      .overlay .overlay-content .overlay-item span {
        font-size: 1em;
        display: inline-flex; }
