/* .row {
  max-width: 800px;
  margin: 24px auto;
  padding: 0 30px;
  position: relative;
} */
#photo-gallery img {
  width: auto;
  max-width: 100%;
  height: auto;
  border: 0; }

#photo-gallery .my-gallery {
  width: 100%;
  height: auto;
  float: left;
  margin: 0 auto;
  /* padding: 2%; */
  /* margin-left: 30%;  */ }

#photo-gallery .my-gallery img {
  width: 100%;
  height: auto; }

#photo-gallery .my-gallery a {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  display: block;
  float: left;
  margin: 0 12px 12px 0;
  width: 200px;
  line-height: 0; }

#photo-gallery .my-gallery figure {
  display: inline-block;
  float: left;
  /* margin: 0;  */
  margin: 1;
  /* margin: 1; */ }

#photo-gallery .my-gallery figcaption {
  display: none; }
