/* ------------------ Global Styles ------------ */
/* ----- Cuban Legacy Styles (keeping these here until I know they won't break the compiler!) ----*/
/* ------ Aftermath Story Page Colors -----*/
@import url("https://use.typekit.net/hym1sdr.css");
/* ------ Step Link Styles ------*/
.step {
  margin-top: 5%;
  font-family: 'Quasimoda'; }
  .step a {
    text-decoration: none;
    color: #fff; }
  .step p {
    margin-bottom: 0.5em; }
  .step-box {
    min-height: 350px;
    background-color: #309865;
    text-align: center; }
  .step-name {
    font-size: 3em; }
  .step-title {
    font-size: 2em;
    font-weight: 100 !important; }
