
<!DOCTYPE html>
<html>
<head>
  <% var URL_LANG = espanol ? "?lang=es":"";  %>

  <% include ../partials/header.ejs %>
    <title><%= espanol ? "404: No hay página": "404: Page Not Found" %></title>
    <meta property="og:title" content="<%= espanol ? "404: No hay página": "404: Page Not Found" %>" />
    <meta property="og:description" content="<%= espanol ? "404: No hay página": "404: Page Not Found" %>" />

  <style>
  body {
    background-image:url('/assets/images/404.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 35px;
  }
  .error-page{
    margin-top:30%;
    color:#fff;
    text-align:center;
  }
  </style>
</head>

<body>
  <% include ../partials/nav.ejs %>

  <div class="error-page">
    <div>
		  <h1>Oops!</h1>
		  <h2><%= espanol ? "Has venido al lugar equivocado":"You've come to the wrong page!" %></h2>
		</div>
  </div>
</body>
</html>
