
<!DOCTYPE html>
<html>
<head>
  <% var URL_LANG = espanol ? "?lang=es":"";  %>

  <% include ../partials/header.ejs %>
    <title><%= espanol ? "404: No hay página": "404: Page Not Found" %></title>
    <meta property="og:title" content="<%= espanol ? "404: No hay página": "404: Page Not Found" %>" />
    <meta property="og:image" content="http://cubayouth.herokuapp.com/assets/images/features/404.jpg" />
    <meta property="og:description" content="<%= espanol ? "404: No hay página": "404: Page Not Found" %>" />

  <style>

  .error-page{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    width: 70%;
		overflow:hidden;
    margin-left: auto;
    margin-right: auto;
  }

  .img-wrapper img{
		/*width: 700px;*/
		height:80vh;
		/*height: 500px;*/
		float:right;


  }

	.img-wrapper{
		/*position:absolute;*/
		/*width:900px;*/
		/*height:100vh;*/
		top:90px;
		right:-30px;
		overflow:hidden;
	}


  </style>
</head>

<body>


  <% include ../partials/nav.ejs %>

  <div class="error-page">
    <div>
		  <h1>¡Ay, Dios mío!</h1>
		  <h2><%= espanol ? "Has venido al lugar equivocado":"You've come to the wrong page!" %></h2>
		</div>


  </div>
	<div class="img-wrapper">
		<img src="/assets/images/404page.png" alt="404"  />
	</div>





</body>
</html>
