<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
<head>
  <% include ../partials/header.ejs %>
  <% var URL_LANG = espanol ? "?lang=es":"";  %>
  <title>Aftermath - A multimedia project of the UNC School of Media and Journalism focused on environments, communities and their response to Hurricane Maria in Puerto Rico.</title>
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Aftermath: Puerto Ricans Rebuild After Maria" />
  <meta property="og:description" content="Aftermath is a multimedia storytelling project of the UNC School of Media and Journalism. The stories focus on the many ways in which Puerto Ricans are rebuilding after Hurricane María." />
  <meta property="og:url" content="https://aftermath.unc.edu" />
  <meta property="og:site_name" content="Aftermath" />
  <meta property="og:image" content="http://sliceinteractive.com/Aftermath_facebook.jpg" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:description" content="Aftermath is a multimedia storytelling project of the UNC School of Media and Journalism. The stories focus on the many ways in which Puerto Ricans are rebuilding after Hurricane María." />
  <meta name="twitter:title" content="Aftermath: Puerto Ricans Rebuild After Maria" />
  <meta name="twitter:image" content="http://sliceinteractive.com/Aftermath_facebook.jpg" />
  <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

</head>

<body class="homepage">
  <style>
  @media only screen and (min-width: 1020px) {
    .nav-wrap-2{
      display: none;
    }
  }
  @media only screen and (max-width: 1020px) {
    .navbar{
      background-color: transparent!important;
    }
    .navbar-brand{
      visibility: hidden;
    }
  @media only screen and (max-width: 500px) {
    .video-wrapper{
      display: none;
    }
  }
}

  </style>

<% include ../partials/nav.ejs %>

<div id="click-event2" class="video-wrapper"><video autoplay muted loop preload="auto" class="video" src="assets/images/water.mp4"></video></div>
<div id="click-event3" class="video-wrapper"><video autoplay muted loop preload="auto" class="video" src="assets/images/pollution.mp4"></video></div>
<div id="click-event4" class="video-wrapper"><video autoplay muted loop preload="auto" class="video" src="assets/images/health2.mp4"></video></div>
<div id="click-event5" class="video-wrapper"><video autoplay muted loop preload="auto" class="video" src="assets/images/power2.mp4"></video></div>
<div id="click-event6" class="video-wrapper"><video autoplay muted loop preload="auto" class="video" src="assets/images/ecology.mp4"></video></div>

<div class="homepage-logo">
   <a href="/"><img src="../assets/images/aftermath.gif"></a>
   <p class="homepage-subtitle">Puerto Ricans Rebuild After Maria</p>
 </div>
 <div class="homepage-icon-row">
   <ul>
     <li><a href="pages/power" id="power-link" onmouseover="fadeIcons(3)" onmouseout="unfadeIcons(3)"><img id="click-me5" class="homepage-icon power-icon" src="assets/images/homepage-icons/power.png"><h1 class="homepage-header header-power">power</h1></a></li>
     <li><a href="pages/pollution" id="pollution-link" onmouseover="fadeIcons(1)" onmouseout="unfadeIcons(1)"><img id="click-me3" class="homepage-icon pollution-icon" src="assets/images/homepage-icons/pollution.png"><h1 class="homepage-header header-pollution">pollution</h1></a></li>
     <li><a href="pages/health" id="health-link" onmouseover="fadeIcons(2)" onmouseout="unfadeIcons(2)"><img id="click-me4" class="homepage-icon health-icon" src="assets/images/homepage-icons/health.png"><h1 class="homepage-header header-health">health</h1></a></li>
     <li><a href="pages/water" id="water-link" onmouseover="fadeIcons(0)" onmouseout="unfadeIcons(0)"><img id="click-me2" class="homepage-icon water-icon" src="assets/images/homepage-icons/water.png"><h1 class="homepage-header header-water">water</h1></a></li>
     <li><a href="pages/ecology" id="ecology-link" onmouseover="fadeIcons(4)" onmouseout="unfadeIcons(4)"><img id="click-me6" class="homepage-icon ecology-icon" src="assets/images/homepage-icons/ecology.png"><h1 class="homepage-header header-ecology">ecology</h1></a></li>
   </ul>
 </div>

<script src="/js/nav.js"></script>
</body>
</html>
