<!DOCTYPE html>
<html lang="<%= espanol ? "es":"en" %>">
<head>
  <% include ../partials/header.ejs %>
  <% var URL_LANG = espanol ? "?lang=es":"";  %>
  <title><%= espanol ? "Aftermath":"Aftermath - A multimedia project of the UNC School of Media and Journalism." %></title>
  <meta property="og:title" content="<%= espanol ? "Aftermath - Un proyecto multimedia por UNC School of Media and Journalism": "Aftermath - A multimedia project of the UNC School of Media and Journalism." %>" />
  <meta property="og:image" content="http://cubasnewwave.unc.edu/assets/images/features/home.jpg" />
  <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

</head>

<body class="homepage">




<video autoplay muted loop preload="auto" id="click-event" class="video" src="assets/images/IMG_3251.mp4"></video>
<div id="click-event2"><video autoplay muted loop preload="auto" class="video" src="assets/images/CI5B0650Trim.mp4"></video></div>
<div id="click-event3"><video autoplay muted loop preload="auto" class="video" src="assets/images/CI5B0507Trim.mp4"></video></div>
<div id="click-event4"><video autoplay muted loop preload="auto" class="video" src="assets/images/CI5B0315Trim.mp4"></video></div>
<div id="click-event5"><video autoplay muted loop preload="auto" class="video" src="assets/images/CI5B0657Trim.mp4"></video></div>
<div id="click-event6"><video autoplay muted loop preload="auto" class="video" src="assets/images/CI5B0529Trim.mp4"></video></div>


  <div class="content">
    <img class="homepage-logo" src="../assets/images/aftermath_web.png">
    <p class="homepage-subtitle">Puerto Rico after Hurricane Maria</p>
    <div class="homepage-icon-row">
    <ul>
      <li><a href="pages/water" id="water-link" onmouseover="fadeIcons(0)" onmouseout="unfadeIcons(0)"><img id="click-me2" class="homepage-icon water-icon" src="assets/images/homepage-icons/water.png"><h1 class="homepage-header header-water">water</h1></a></li>
      <li><a href="pages/pollution" id="pollution-link" onmouseover="fadeIcons(1)" onmouseout="unfadeIcons(1)"><img id="click-me3" class="homepage-icon pollution-icon" src="assets/images/homepage-icons/pollution.png"><h1 class="homepage-header header-pollution">pollution</h1></a></li>
      <li><a href="pages/health" id="health-link" onmouseover="fadeIcons(2)" onmouseout="unfadeIcons(2)"><img id="click-me4" class="homepage-icon health-icon" src="assets/images/homepage-icons/health.png"><h1 class="homepage-header header-health">health</h1></a></li>
      <li><a href="pages/power" id="power-link" onmouseover="fadeIcons(3)" onmouseout="unfadeIcons(3)"><img id="click-me5" class="homepage-icon power-icon" src="assets/images/homepage-icons/electricity.png"><h1 class="homepage-header header-power">power</h1></a></li>
      <li><a href="pages/biodiversity" id="biodiversity-link" onmouseover="fadeIcons(4)" onmouseout="unfadeIcons(4)"><img id="click-me6" class="homepage-icon biodiversity-icon" src="assets/images/homepage-icons/biodiversity.png"><h1 class="homepage-header header-biodiversity">biodiversity</h1></a></li>
    </ul>
  </div>
</div>

  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
  <script type="text/javascript" src="js/index.js"></script>
</body>
</html>
