<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/header.ejs %>
  <script>
  var currentPage = "<%= page %>";
  console.log(currentPage);
  </script>
    <title><%= body["header"]["seo"] %></title>
    <meta property="og:title" content="<%= body["header"]["seo"] %>" />


</head>

<body id="inner-body">

	<% include ../partials/nav-inner.ejs %>
  <div class="inner-wrapper">
	<% include ../partials/article.ejs %>
  <% include ../partials/step-links.ejs %>
	<% include ../partials/footer.ejs %>

</body>
</html>
