<!DOCTYPE html>
<html lang="<%= espanol ? "es":"en" %>" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
<head>
  <% include ../partials/header.ejs %>

  <meta property="og:image"/>

    <title><%= body["header"]["seo"] %></title>
    <meta property="og:title" content="<%= body["header"]["seo"] %>" />


</head>

<body id="inner-body">

	<% include ../partials/nav.ejs %>
	<% include ../partials/article.ejs %>
	<% include ../partials/footer.ejs %>

</body>
</html>
